<link href="../build/css/custom.min.css" rel="stylesheet">
<script src="../build/js/custom.min.js">
</script>
<!-- page content -->
<div class="right_col" role="main">
    <div class="col-md-5 col-sm-12 col-xs-12">

        <div class="x_panel">

            <div class="x_title">
                <h2>Add Fee <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: none">
                <form id="demo-form" data-parsley-validate ng-submit="addFee()">
                    <label for="fullname">Student Roll No. * :</label>
                    <select class="form-control" ng-model="fee.student" ng-options="studentData.id for studentData   in listStudentData">
                    </select>
                    <label for="fullname">Amount* :</label>
                    <input type="number" id="amount" class="form-control" name="amount" ng-model="fee.amount" required />
                    <br>
                    <label for="fullname">Fee Type* :</label>
                    <select ng-model="fee.type">
                        <option ng-repeat="x in type" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Fee Mode* :</label>
                    <select ng-model="fee.mode">
                        <option ng-repeat="x in mode" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Month* :</label>
                    <select ng-model="fee.month">
                        <option ng-repeat="x in months" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Year*  &nbsp&nbsp&nbsp: </label>
                    <select ng-model="fee.year">
                        <option ng-repeat="x in years" value="{{x}}">{{x}}</option>
                    </select><br>
                    <label for="email">Verified By* :</label>
                    <input type="text" id="verified" class="form-control" name="verified" ng-model="fee.verified_by" required/>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Add Fee" />

                </form>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Fee List <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <label for="fullname">Fee Type* :</label>
            <select ng-model="fee.type">
                        <option ng-repeat="x in type" value="{{x.value}}">{{x.name}}</option>
                    </select>
            <label for="fullname">Fee Mode* :</label>
            <select ng-model="fee.mode">
                        <option ng-repeat="x in mode" value="{{x.value}}">{{x.name}}</option>
                    </select>
            <label for="fullname">Month* :</label>
            <select ng-model="fee.month">
                        <option ng-repeat="x in months" value="{{x.value}}">{{x.name}}</option>
                    </select>
            <label for="fullname">Year*  &nbsp&nbsp&nbsp: </label>
            <select ng-model="fee.year">
                        <option ng-repeat="x in years" value="{{x}}">{{x}}</option>
                    </select>
            <input type="button" class="btn btn-primary" value="Get Fee" ng-click="listFee()" /><br>
            <div class="x_content" style="display: block">
                <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th>Fee ID</th>
                            <th>Student Id</th>
                            <th>Student Name</th>
                            <th>Amount</th>
                            <th>Mode</th>
                            <th>Type</th>
                            <th>Verified BY</th>
                             <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr ng-repeat="data in listFeeData" id="{{data.fee_id}}">
                            <td>{{data.fee_id}}</td>
                            <td>{{data.fee_student_id}}</td>
                            <td>{{data.student_name}}</td>
                            <td>{{data.fee_amount}}</td>
                            <td>{{data.fee_mode}}</td>
                            <td>{{data.fee_type}}</td>
                            <td>{{data.fee_verified_by}}</td>
                            <td>
                                <i class="fa fa-eye " ng-click="generate_reciept(data.fee_id)"></i>&nbsp&nbsp
                                <i class="fa fa-pencil" ng-click="viewFee(data.fee_id)" data-toggle="modal" data-target="#editFeeModal"></i>&nbsp&nbsp
                                <i class="fa fa-trash" ng-click="deleteFee(data.fee_id)"></i>&nbsp&nbsp
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="editFeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Fee</h4>
            </div>
            <div class="modal-body">

                <form id="demo-form" data-parsley-validate ng-submit="editFee(fee.fee_id)">
                    <label for="fullname">Student Roll No. * :</label>
                    <select class="form-control" ng-model="fee.fee_student_id" ng-options="studentData.id for studentData   in listStudentData track by studentData.student_id">
                    </select>
                    <label for="fullname">Amount* :</label>
                    <input type="number" id="amount" class="form-control" name="amount" ng-model="fee.fee_amount" required />
                    <br>
                    <label for="fullname">Fee Type* :</label>
                    <select ng-model="fee.fee_type">
                        <option ng-repeat="x in type" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Fee Mode* :</label>
                    <select ng-model="fee.fee_mode">
                        <option ng-repeat="x in mode" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Month* :</label>
                    <select ng-model="fee.fee_month">
                        <option ng-repeat="x in months" value="{{x.value}}">{{x.name}}</option>
                    </select><br><br>
                    <label for="fullname">Year*  &nbsp&nbsp&nbsp: </label>
                    <select ng-model="fee.fee_year">
                        <option ng-repeat="x in years" value="{{x}}">{{x}}</option>
                    </select><br>
                    <label for="email">Verified By* :</label>
                    <input type="text" id="verified" class="form-control" name="verified" ng-model="fee.fee_verified_by" required/>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Save Fee" />

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>