<div class="page page-users">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.diagnostic">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Diagnostics</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="AdminCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<div class="modal-header"><h4 class="modal-title custom-font">Add Admin</h4></div>
										<div class="modal-body">											
											<div class="row form-group">
												<div class="col-sm-6 col-md-6">
													<label for="">First Name <span class="text-danger">*</span></label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Last Name <span class="text-danger">*</span></label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
											</div>
											
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">				
													<label for="">Email Address <span class="text-danger">*</span></label>
													<input type="emial" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">				
													<label for="">Phone <span class="text-danger">*</span></label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="">Password <span class="text-danger">*</span></label>
													<input type="password" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Confirm Password <span class="text-danger">*</span></label>
													<input type="password" name="" id="" class="form-control" placeholder="">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="">Admin Password <span class="text-danger">*</span></label>
													<input type="password" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Zip Code <span class="text-danger">*</span></label>
													<input type="password" name="" id="" class="form-control" placeholder="">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="" style="display: block;">Select Admin <span class="text-danger">*</span></label>
													<select chosen="{width: '100%'}">
														<option>Master Administrator</option>
														<option>Senior Administrator</option>
														<option>Super Administrator</option>
														<option>Sub Administrator</option>
														<option>Assistance Administrator</option>
													</select>
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="" style="display: block;">Roles <small class="pull-right" style="margin-top: 5px;"><a ng-click="cancel()" ui-sref="app.admin.administrator.add-roles" href="#/app/admin/support/technician">Add Roles</a></small></label>
													<select chosen="{width: '100%'}">
														<option>Role 1</option>
														<option>Role 2</option>
														<option>Role 3</option>
														<option>Role 4</option>
														<option>Role 5</option>
													</select>
												</div>
											</div>
											
											<div class="form-group row" ng-controller="ActivebtnCtrl">
												<div class="col-sm-6 col-md-6">
													<label for="">Status</label><br/>
													<div class="btn-group btnrounded">
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-hide="radioModel=='Inactive'">
													<div ng-controller="DatepickerDemoCtrl">
														<label for="">Expiration Date</label>
														<div class="input-group userexp">
															<input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</div>
													</div>
												</div>
											</div>
																												
										</div>
										<div class="modal-footer">
											<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
											<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
										</div>
										
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Admin</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-10 pb-20">
								<div class="col-sm-3 col-md-3 filterorder">
									<!--label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Search by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('status')">Status</a></li>
										</ul>
									</label-->
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row">
										<div class="col-sm-8 col-md-9 search">
											<input type="text" class="form-control" ng-model="searchText" maxlength="50" placeholder="Search by text....">
											<button class="btn btn-default br-2-r" type="button">Search</button>
										</div>
										<div class="col-sm-4 col-md-3 profilephoto csvupload">
											<div ng-controller="ModalDemo2Ctrl">
												<script type="text/ng-template" id="myModalContent2.html">
													<form name="form1" role="form">
														<div class="modal-header"><h4 class="modal-title custom-font">Upload CSV File</h4></div>
														<div class="modal-body mt-5 pb-30 mb-40">
															<label for="">Upload CSV file</label>
															<div class="profilephoto">
																<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
																<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
															</div>											
														</div>
														<div class="modal-footer">
															<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
															<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save</button>	
														</div>
													</form>		
												</script>
												<span ng-click="open()" class="group-span-filestyle input-group-btn"><label class="btn btn-default "><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Upload CSV</label></span>
											</div>
										</div>
									</div>
								</div>
								<!--div class="filterfields" ng-hide="filtershow">
									<div class="col-md-3">
										<label for="fbtext" class="control-label">Search by text</label> 
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-md-3">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-md-3">
										<label for="fblocation" class="control-label">Search by status</label>
										<input type="text" class="form-control" id="fblocation" ng-model="status">
									</div>
								</div-->
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="user in admin | limitTo:totalDisplayed | filter:text | filter:title | filter:group | orderBy:myOrderBy">
											<md-card-content>
												<h2 class="md-title">{{ user.name }}</h2>
												<p class="ta-c">{{ user.access }}</p>
												<p class="ta-c">{{ user.phone }}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.administrator.admin-profile">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.administrator.admin-profile">Edit</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	
	</div>
</div>