<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.diagnostic">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Diagnostics</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>{{userData.user_first_name + " " + userData.user_last_name}}</strong></h4>
						<span class="text-muted"> {{userData.user_phone_no}}</span>
						<div class="mt-40">
							<a ng-disabled="true" class="btn btn-rounded-20 btn-sm btn-lightred" dng-click="showConfirm($event,user_id)">Delete Admin</a>
						</div>
					</div>
				</section>  
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Profile Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
										<div class="row">
											<div class="form-group col-sm-12 profiledetail">
												<p><label>Name</label>{{userData.user_first_name + " " + userData.user_last_name}}</p>
												<p><label>Email</label>{{userData.user_email}}</p>
												<p><label>Phone</label>{{userData.user_phone_no}}</p>
												<p><label>Zipcode</label>{{userData.user_zipcode}}</p>
												<p><label>Status</label>{{userData.user_status == 1 ? 'Active' : 'Inactive'}}</p>
											</div>											
										</div>
										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Profile">
								<div class="wrap-reset"> 
									<form ng-submit="submitEditProfile(userData)">
									<div class="modal-body">											
										<div class="row">
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">First Name <span class="text-danger">*</span></label>
												<input type="text" name="" id="" class="form-control" ng-model="userData.user_first_name">
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Last Name <span class="text-danger">*</span></label>
												<input type="text" name="" id="" class="form-control" ng-model="userData.user_last_name">
											</div>
										</div>
										
										<div class="row">
											<div class="col-sm-6 col-md-6 form-group">				
												<label for="">Email Address <span class="text-danger">*</span></label>
												<input type="email" name="" id="" class="form-control" ng-model="userData.user_email" disabled="">
											</div>
											<div class="col-sm-6 col-md-6 form-group">				
												<label for="">Phone <span class="text-danger">*</span></label>
												<input type="text" name="" ui-mask="{{'999 999 9999'}}" id="" class="form-control" ng-model="userData.user_phone_no">
											</div>
										</div>										
										<div class="row">
											<div class="col-sm-6 col-md-6 form-group">				
												<label for="">Zip Code <span class="text-danger">*</span></label>
												<input type="number" name="" id="" class="form-control" ng-model="userData.user_zipcode">
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Status <span class="text-danger">*</span></label><br/>
												<div class="btn-group btnrounded" >
													<label class="btn btn-default" ng-model="userData.user_status" uib-btn-radio="1">Active</label>
													<label class="btn btn-default" ng-model="userData.user_status" uib-btn-radio="0">Inactive</label>
												</div>
											</div>											
										</div>
										<div class="form-group">
											<a ui-sref="app.administrator.admin" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</a>
											<button type="submit" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Submit</button>
										</div>
									</div>
									</form>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
