<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.diagnostic">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Diagnostics</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>Arnold</strong></h4>
						<span class="text-muted">+1 212 1467 1212</span>
						<div class="mt-40">
							<a class="btn btn-rounded-20 btn-sm btn-lightred" ng-click="showConfirm($event)">Delete Admin</a>
						</div>
					</div>
				</section>  
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Profile Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
										<div class="row">
											<div class="form-group col-sm-12 profiledetail">
												<p><label>Name</label> Arnold</p>
												<p><label>Email</label> arnold1234@gmail.com</p>
												<p><label>Phone</label> +1 212 1467 1212</p>												
												<p><label>Password</label> *********</p>
											</div>											
										</div>
										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Profile">
								<div class="wrap-reset"> 
									<div class="modal-body">											
										<div class="row form-group">
											<div class="col-sm-6 col-md-6">
												<label for="">First Name</label>
												<input type="text" name="" id="" class="form-control" value="Arnold">
											</div>
											<div class="col-sm-6 col-md-6">
												<label for="">Last Name</label>
												<input type="text" name="" id="" class="form-control" value="">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-sm-6 col-md-6">				
												<label for="">Email Address</label>
												<input type="emial" name="" id="" class="form-control" value="">
											</div>
											<div class="col-sm-6 col-md-6">				
												<label for="">Phone</label>
												<input type="text" name="" id="" class="form-control" value="212 1467 1212">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-sm-6 col-md-6">
												<label for="">Password</label>
												<input type="password" name="" id="" class="form-control" value="*********">
											</div>
											<div class="col-sm-6 col-md-6">
												<label for="">Confirm Password</label>
												<input type="password" name="" id="" class="form-control" value="*********">
											</div>
										</div>
										
										<div class="form-group">
											<a ui-sref="app.administrator.admin" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</a>
											<button type="submit" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Submit</button>
										</div>
									</div>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
