<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.diagnostic">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Diagnostics</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>Administrator 1</strong></h4>
						<span class="text-muted">Active</span>
						<span class="text-muted">Restricted Access</span>
						<div class="mt-40">
							<a class="btn btn-rounded-20 btn-sm btn-lightred" ng-click="showConfirm($event)">Delete</a>
							<a ui-sref="app.administrator.edit-roles" class="btn btn-rounded-20 btn-sm btn-greensea">Edit Roles</a>
						</div>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					<div class="tile-body"> 
						<div class="row">
							<div class="form-group col-sm-12 profiledetail">
								<p><label>Roles Name</label> Administrator 1</p>
								<p><label>Inventory Access</label> View, Edit</p>
								<p><label>Firmware Access</label> View</p>
								<p><label>Diagnostics Access</label> View</p>								
							</div>											
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
