<div class="page page-users">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="form1" role="form" ng-submit="submitCreateDoorGroup(doorGroup)">
											<div class="modal-header"><h4 class="modal-title custom-font">Create Door Groups</h4></div>
											<div class="modal-body">					<span class="error">{{errormsg}}</span>
												<div class="form-group overflow">
													<label for="">Group Name</label>
													<input type="text" name="group_name" ng-model="doorGroup.name" id="" class="form-control" placeholder="" required>
												</div>
												<div class="form-group">
													<label for="">Doors</label>
													<select class="form-control" name="door" ng-model="doorGroup.doors_id" Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in doorList">

													</select>
													<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.admin.door.doors">Add Door</a></small>
												</div>
											</div>
											<div class="modal-footer">
												<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()" id="group_close"><i class="fa fa-arrow-left"></i> Close</button>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Door Groups</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">							
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>							
							<div class="table-responsive">
								<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
									<thead>
										<tr>
											<th>Name</th>
											<th>No of Doors</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="doorgroup in doorGroupList">
											<td>{{ doorgroup.doorgroup_name }}</td>
											<td>{{ doorgroup.door_count }}</td>
											<td width="220">							
												<div ng-controller="ModalDoorGroupCtrl" style="display: inline-block;">
												
								
												
												
													<button type="button" ng-click="open(doorgroup)" class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-edit"></i> <span>Edit</span></button>
												</div>
												<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b" ng-click="showConfirm($event,doorgroup.doorgroup_id)"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<script type="text/ng-template" id="myModalContent1.html">
								<form name="form1" role="form" ng-submit="doorGroupSubmit(doorgroup)">
									<div class="modal-header">
										<h4 class="modal-title custom-font">Edit Door Groups</h4>
									</div>
									<div class="modal-body">	
										<div class="form-group overflow">
											<label for="">Group Name </label>
											<input type="text" name="group_name" id="" class="form-control mb-10" ng-model="doorgroup.doorgroup_name" required />
										</div>
										<div class="form-group">
											<label for="">Doors</label>
											<select class="form-control" name="doors" Multiple chosen="{width: '100%'}" ng-model="doorgroup.door_id" ng-options="item.door_id as item.door_name for item in doorList">
											</select>
											<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.subadmin.door.doors">Add Door</a></small>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
										<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
									</div>
								</form>								
							</script>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>