<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent doorbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>		
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<!-- <section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>Pool Gate</strong></h4>
						<div class="mt-40">
							<a ui-sref="app.admin.door.view-door-groups({doorgroup_id:doorgroup_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk">View Door</a>
							<a ng-click="showConfirm($event,doorgroup_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete Door group</a>
						</div>
					</div>
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h3 class="m-0 mb-5">Facility</h3>
								<span class="text-transparent-white mt-15"><a ui-sref="app.admin.facility.facility-details">USA Corporate Services</a></span>
							</li>
						</ul>
					</div>					
				</section> -->
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>{{doorGrpData.doorgroup_name}} </strong></h4>
						<div class="mt-40">
							<a ui-sref="app.admin.door.view-door-groups({doorgroup_id:doorgroup_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk">View Door</a>
							<a ng-click="showConfirm($event,doorgroup_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete Door group</a>
						</div>
					</div>
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h3 class="m-0 mb-5">Facility</h3>
								<span class="text-transparent-white mt-15"><a ui-sref="app.admin.facility.facility-details"> {{doorGrpData.facility_name}}</a></span>
							</li>
						</ul>
					</div>					
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>						
						<div class="hometabs">	
							<form name="doorGrp_data"  ng-submit="editDoorGrpdata(doorGrpData, doorGrp_data)" ng-validate="validationOptions">
							<div class="wrap-reset modal-body m-0 pt-20">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="">Name</label>
										<input type="text" name="" front-space id="" class="form-control mb-10" placeholder="" ng-model="doorGrpData.doorgroup_name" >
									</div>
									<div class="form-group col-md-6">
										<label for="">Facility</label><br/>			
										<select name="mySelect" id="mySelect" class="form-control" chosen="{width: '100%'}"													
										ng-options="item.facility_name as item.facility_name for item in facilityList"
										ng-model="doorGrpData.facility_name" ng-init="doorGrp.facility_name = facilityname"></select>
										
									</div>									
									<div class="form-group col-sm-12 col-md-12">
										<label for="">Doors</label>
										<select name="mySelect" id="mySelect" class="form-control" Multiple chosen="{width: '100%'}"													
													ng-options="door.door_id as door.door_name for door in doorList"													
													ng-model="doorGrpData.door_id" 
													></select>
										<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.admin.door.doors">Add Door</a></small>
									</div>
								</div>
								<div class="form-group row legend">
									<div class="col-md-12">
										<p></p>
										<button back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</button>
										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
