<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent doorbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h4 class="mb-0"><strong>{{doorGrpData.doorgroup_name}} </strong></h4>
						<div class="mt-40">
							<a ui-sref="app.admin.door.edit-door-groups({doorgroup_id:doorgroup_id})" class="btn btn-rounded-20 btn-sm btn-greensea">Edit Door  </a>
							<a ng-click="showConfirm($event,doorgroup_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete Door group</a>
						</div>
					</div>
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h3 class="m-0 mb-5">Facility</h3>
								<span class="text-transparent-white mt-15"><a ui-sref="app.admin.facility.facility-details"> {{doorGrpData.facility_name}}</a></span>
							</li>
						</ul>
					</div>					
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>						
						<div class="hometabs">	
							<div class="wrap-reset m-0 pt-20">
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="form-group profiledetail">											
											<p><label>Name</label><span class="rightdetails">{{doorGrpData.doorgroup_name}}</span></p>
											<p><label>Facility</label><span class="rightdetails">{{doorGrpData.facility_name}}</span></p>
											<p><label>No Of Doors</label><span class="rightdetails">{{doorGrpData.doorgroup_door_count}}</span></p>
											<p><label>Doors</label><span class="rightdetails"><span ng-repeat="item in doorGrpData.door_name track by $index">{{item.door_name}}<i ng-if="!$index">,</i></span></span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
