<div class="page admin">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent cameradvrbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
						<div class="noback bg-blue">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/device-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
										<span class="text-lg">Devices</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
						<div class="noback bg-slategray lt">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/doors-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
										<span class="text-lg">Doors</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
						<div class="noback bg-lightred">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/users-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
										<span class="text-lg">Users</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="row" ng-controller="CameraDVRCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="hometabs">
						<div id="camerandvr" class="table-custom">
							<uib-tabset class="tabs-dark">
								<uib-tab heading="Live Feeds">
									<div class="wrap-reset m-0">
										<div class="profile-settings">
											<div class="row pos-r mb-20">
												<div class="col-sm-4 col-md-3">
													<div class="gridlistbar ta-l">
														<label class="control-label">No of Camera</label>
														<span style="display: inline-block;" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle class="list-icon" ng-class="{active: layout == 'onecam'}" ng-click="cameraInit(1,1)"><i class="fa fa-stop" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="" ng-click="changedClass()">Camera 1</a></li>
																<li><a href="" ng-click="changedClass()">Camera 2</a></li>
																<li><a href="" ng-click="changedClass()">Camera 3</a></li>
																<li><a href="" ng-click="changedClass()">Camera 4</a></li>
																<li><a href="" ng-click="changedClass()">Camera 5</a></li>
																<li><a href="" ng-click="changedClass()">Camera 6</a></li>
															</ul>
														</span>
														<span style="display: inline-block;" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle class="list-icon" ng-class="{active: layout == 'twocam'}"><i class="fa fa-pause" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="" ng-click="cameraInit(1,2)">Camera 1-2</a></li>
																<li><a href="" ng-click="cameraInit(3,2)">Camera 3-4</a></li>
																<li><a href="" ng-click="cameraInit(5,2)">Camera 5-6</a></li>
															</ul>
														</span>
														<span style="display: inline-block;" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle class="list-icon" ng-class="{active: layout == 'fourcam'}"><i class="fa fa-th-large" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="" ng-click="cameraInit(1,4)">Camera 1-4</a></li>
																<li><a href="" ng-click="cameraInit(2,4)">Camera 2-6</a></li>
															</ul>
														</span>
														<a href="" class="grid-icon" ng-class="{active: layout == 'sixcam'}" ng-click="changeaClass()" ng-click="cameraInit(1,6)"><i class="fa fa-th-large" aria-hidden="true" style="margin-right:-6px;"></i><i class="fa fa-th-large" aria-hidden="true"></i></a>
													</div>
												</div>
												<!-- <div class="col-sm-4 col-md-4">
													<div class="gridlistbar ta-c">
														<a href="" uib-tooltip="Refreshes the connections"><i class="fa fa-refresh" aria-hidden="true"></i></a>
														<a href="" uib-tooltip="Clears Live Feed"><i class="fa fa-eraser" aria-hidden="true"></i></a>
														<div ng-controller="ModalDemoCtrl" style="display: inline-block; cursor: pointer;">
															<script type="text/ng-template" id="myModalContent.html">
																<form name="form1" role="form">
																	<div class="modal-header"><h4 class="modal-title custom-font">Create a new camera group</h4></div>
																	<div class="modal-body mt-5">
																		<div class="form-group row">
																			<div class="col-sm-12 col-md-12">
																				<label for="">Camera Group Name</label>
																				<input type="text" name="" id="" class="form-control" placeholder="">
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
																		<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Ok</button>	
																	</div>
																</form>		
															</script>
															<a ng-click="open()" uib-tooltip="Updates the current camera group"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
														</div>
														<a href="" ng-click="showConfirm($event)" uib-tooltip="Deletes the current camera group"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
														<a href="" uib-tooltip="Makes the current camera group the default camera group"><i class="fa fa-home" aria-hidden="true"></i></a>
													</div>
												</div> -->
												<div class="col-sm-4 col-md-5 gridlistbar ta-r">{{cam_group.camera_id}}
													<div style="width: 60%;display: none;margin-right: 10px;" id="camform">
														<form ng-submit="addCameraGroup(cam1group,camera_id)" name="cam_group">
															<input type="hidden" ng-model="camera_id" name="">
															<input type="text" class="form-control" name="group_name" ng-model="cam1group.group_name" style="display: inline-block; width: 70%;"
															    value="ew">

															<button type="submit" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" title="Submit" aria-label="Submit"><i class="fa fa-check" aria-hidden="true"></i></button>
															<button type="button" ng-click="hidecamadd()" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" title="Cancel"
															    aria-label="Cancel"><i class="fa fa-times" aria-hidden="true"></i></button>
														</form>
													</div>
													<button ng-click="showcamadd()" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" editable-text="user.name">{{ camgroup.name || 'empty' }}</button>
												</div>
												<div class="col-sm-2 col-md-4 pull-right">
													<div class="row gridlistbar">
														<div class="col-sm-12 col-md-6">
															<select class="form-control"><option>Select Facility</option>></select>
														</div>
														<div class="col-sm-12 col-md-6 ta-r">
															<select class="form-control">
																<option selected>Select the camera group</option>
																<option>Camera group 1</option>
																<option>Camera group 2</option>
																<option>Camera group 3</option>
																<option>Camera group 4</option>
																<option>Camera group 5</option>
																<option>Camera group 6</option>
																<option>Camera group 7</option>
																<option>Camera group 8</option>
																<option>Camera group 9</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div ng-if="result">
												<div layout="row" ng-class="statusclass">
													{{result}}
												</div>
											</div>
											<div ng-class="class">
												<div class="livevideo" ng-repeat="camera in cameras">
													<div class="selectcam">
														{{camera.camera_username}}{{camera.camera_id}}


														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														<div id="boundary">

															<div class="content-absolute">
																<div id="vxg_media1" class="content">
																</div>
															</div>

														</div>
													</div>

												</div>
												<!-- <div class="livevideo">
													<div class="selectcam">
														No Camera Selected
														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														
													</div>
												</div>
												<div class="livevideo">
													<div class="selectcam">
														No Camera Selected
														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														
													</div>
												</div>
												<div class="livevideo">
													<div class="selectcam">
														No Camera Selected
														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														
													</div>
												</div>
												<div class="livevideo">
													<div class="selectcam">
														No Camera Selected
														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														
													</div>
												</div>
												<div class="livevideo">
													<div class="selectcam">
														No Camera Selected
														<label class="control-label pull-right" uib-dropdown on-toggle="toggled(open)">
															<a href uib-dropdown-toggle><i class="fa fa-caret-down" aria-hidden="true"></i></a>
															<ul class="dropdown-menu with-arrow animated littleFadeInRight">
																<li><a href="">Camera 1</a></li>
																<li><a href="">Camera 2</a></li>
																<li><a href="">Camera 3</a></li>
																<li><a href="">Camera 4</a></li>
																<li><a href="">Camera 5</a></li>
																<li><a href="">Camera 6</a></li>
															</ul>
														</label>
													</div>
													<div class="video">
														
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</uib-tab>
								<!-- <uib-tab heading="Recorded Feeds">
									<div class="wrap-reset"> 
										<div class="profile-settings"> 
											<div class="row">
												<div class="col-sm-12 col-md-9 col-centered">
													<div class="col-sm-3 col-md-3">
														<label for="">Facility</label><br/>
														<select class="form-control" disabled>
															<option selected>USA Corporate Services</option>
															<option>Aerzen USA Corporation</option>
															<option>Aerzen USA Corporation</option>
															<option>Aerzen USA Corporation</option>
															<option>Aerzen USA Corporation</option>
															<option>Aerzen USA Corporation</option>
														</select>
													</div>
													<div class="col-sm-3 col-md-3" ng-controller="DatepickerDemoCtrl">
														<label for="">Date</label>
														<div class="input-group">
															<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</div>
													</div>
													<div class="col-sm-3 col-md-3 validtime">
														<label for="">Time <small>(Includes 10 min before & after)</small></label>
														<span ng-controller="TimepickerDemoCtrl">
															<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
														</span>
													</div>
													<div class="col-sm-3 col-md-3 validtime" ng-init="searchSection='reset'">
														<label for="">&nbsp;</label><br/>
														<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-model="searchSection" ng-click="searchSection = 'search'">Search</button>
														<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-click="searchSection = 'reset'">Reset</button>
													</div>
												</div>
											</div>
											<div class="row searchvideoitems" ng-init="searchSection = 'reset'">
												<div class="col-md-12" ng-hide="searchSection == 'reset'">
													<div class="row">
														<div class="col-md-4">
															<ul class="tabs-menu">
																<li class="searchitems active">
																	<a href="#gstab1" native-tab>
																		Main Entrance Camera
																		<small>Front Entrance (Bethesda)</small>
																	</a>
																</li>
																<li class="searchitems">
																	<a href="#gstab2" native-tab>
																		Entrance to Hall
																	</a>
																</li>
																<li class="searchitems">
																	<a href="#gstab3" native-tab>
																		Klva and Smart
																		<small>01/01 General Entrance</small>
																	</a>
																</li>
																<li class="searchitems">
																	<a href="#gstab4" native-tab>
																		Lobby Area
																	</a>
																</li>
																<li class="searchitems">
																	<a href="#gstab5" native-tab>
																		Lobby Entrance
																		<small>South Lobby Entrance</small>
																	</a>
																</li>
															</ul>
														</div>
														<div class="col-md-8">
															<div class="tab-content">												
																<div class="livevideo tab-pane fade in active" id="gstab1">
																	<div class="selectcam">
																		Main Entrance Camera <small>Front Entrance (Bethesda)</small>
																	</div>
																	<div class="video">
																		<video controls>
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.mp4" type="video/mp4">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.ogg" type="video/ogg">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.webm" type="video/webm">
																			Your browser does not support HTML5 video.
																		</video>
																	</div>
																</div>
																
																<div class="livevideo tab-pane fade" id="gstab2">
																	<div class="selectcam">
																		Entrance to Hall
																	</div>
																	<div class="video">
																		<video controls>
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.mp4" type="video/mp4">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.ogg" type="video/ogg">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.webm" type="video/webm">
																			Your browser does not support HTML5 video.
																		</video>
																	</div>
																</div>
																
																<div class="livevideo tab-pane fade" id="gstab3">
																	<div class="selectcam">
																		Klva and Smart <small>01/01 General Entrance</small>
																	</div>
																	<div class="video">
																		<video controls>
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.mp4" type="video/mp4">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.ogg" type="video/ogg">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.webm" type="video/webm">
																			Your browser does not support HTML5 video.
																		</video>
																	</div>
																</div>
																
																<div class="livevideo tab-pane fade" id="gstab4">
																	<div class="selectcam">
																		Lobby Area
																	</div>
																	<div class="video">
																		<video controls>
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.mp4" type="video/mp4">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.ogg" type="video/ogg">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.webm" type="video/webm">
																			Your browser does not support HTML5 video.
																		</video>
																	</div>
																</div>
																
																<div class="livevideo tab-pane fade" id="gstab5">
																	<div class="selectcam">
																		Lobby Entrance <small>South Lobby Entrance</small>
																	</div>
																	<div class="video">
																		<video controls>
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.mp4" type="video/mp4">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.ogg" type="video/ogg">
																			<source src="http://localhost/elika/elika_webapp2_dev_ui/videos/mov_bbb.webm" type="video/webm">
																			Your browser does not support HTML5 video.
																		</video>
																	</div>
																</div>
																
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</uib-tab> -->
							</uib-tabset>
						</div>
					</div>
				</section>
			</div>
		</div>

	</div>
</div>
<script>
	// Chrome 1+
	var isChrome = !!window.chrome && !!window.chrome.webstore;
	setTimeout(function () {
		vxgplayer('vxg_media_player1').onReadyStateChange(function (onreadyState) {
			console.log("player LOADED: versionPLG=" + vxgplayer('vxg_media_player1').versionPLG() + " versionAPP=" +
				vxgplayer('vxg_media_player1').versionAPP());
			vxgplayer('vxg_media_player1').play();
		});
		vxgplayer('vxg_media_player1').onError(function (onErr) {
			console.log("player ERROR: " + vxgplayer('vxg_media_player1').error());
		});
	}, 2000);
	// Blink engine detection
	var isBlink = (isChrome || isOpera) && !!window.CSS;
	if (!isChrome) {
		document.getElementById("vxg_media1").innerHTML =
			"<embed id='player' type='application/x-vlc-plugin' class='lv_player'  name='player' target='rtsp://mpv.cdn3.bigCDN.com:554/bigCDN/mp4:bigbuckbunnyiphone_400.mp4'   autoplay='yes'   loop='yes' toolbar=false  width='100%' height='480' />";
	} else {
		document.getElementById("vxg_media1").innerHTML =
			'<div id="vxg_media_player1" class="vxgplayer" url="rtsp://mpv.cdn3.bigCDN.com:554/bigCDN/mp4:bigbuckbunnyiphone_400.mp4" aspect-ratio latency="3000000" autostart controls avsync></div>';
	}
</script>