<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-9">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>Activity log</strong></h1>
					</div>
					<div class="filteractivity mt-20">
						<div class="wrap-reset"> 
							<div class="profile-settings"> 
								<div class="row">
									<div class="col-sm-12 col-md-12 col-centered">
										<div class="col-sm-6 col-md-6">
											<!-- <label for="">Auto Refresh</label><br/> -->
											<!-- <select class="form-control w-240" disabled>
												<option selected>None</option>
												<option>15 Sec</option>
												<option>30 Sec</option>
												<option>1 min</option>
												<option>15 min</option>
												<option>30 min</option>
											</select> -->
											<button class="form-control w-240" ng-click="eventFetch()">Auto Refresh</button>
										</div>
										
									</div>
								</div>
								
								<div class="row mt-20 mb-20">
									<div class="col-sm-12 col-md-12 col-centered">
										<div class="col-sm-3 col-md-3" ng-controller="DatepickerDemoCtrl">
											<label for="">Date/Time</label>
											<div class="input-group">

												<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$parent.time" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;" ng-change="eventFetch()" />

												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar" ></i></button>
												</span>
											</div>
										</div>
										<div class="col-sm-3 col-md-3">
											<label for="">Event</label><br/>
											<select class="form-control" ng-model="event_id" ng-change="eventFetch()" ng-options="x.event_id as x.event_name for x in event_types">
												<option value="">Select</option>
											</select>
										</div>
										<div class="col-sm-3 col-md-3">
											<label for="">Facility</label><br/>
											<select class="form-control" ng-disabled="facility_disable" ng-model="facility_id" ng-options="x.facility_id as x.facility_name for x in facility" ng-change="getDoorsList()">
												<option value="">Select</option>
											</select>
										</div>
										<div class="col-sm-3 col-md-3">
											<label for="">Door</label><br/>
											<select class="form-control" ng-model="door_id" ng-change="eventFetch()" ng-options="x.door_id as x.door_name for x in doors">
												<option value="">Select</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div ng-if="result">									
						<div layout="row" ng-class="statusclass">									
							{{result}}
						</div>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="table-responsive">
								<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
									<thead>
										<tr>
											<th><span>Date/Time</span></th>
											<th><span>User/Event</span></th>
											<th><span>Event Mode</span></th>
											
											<th><span>Facility</span></th>
											<th><span>Door/Device</span></th>
											
											<th width="100">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="active in activities">

											<td>{{active.time*1000 | date:'d MMM yyyy, h:mm a': 'UTC'}}</td>

											<td>{{active['user/event']}}</td>
											<td>{{active['access_mode']}}</td>
											<td>{{active['facility']}}</td>
											<td>{{active['door/device']}}</td>
											
											<td class="customicon ta-c">
												<a href="" ng-click="viewActivity(active['device_id'],active.media_file,active.event_id)" uib-tooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
						
			</div>
			
			<div class="col-sm-4 col-md-4 col-lg-3">
				<section class="tile tile-simple activity">
					<div class="tile-widget">
						<div class="row">
							<div ng-if="mediatype!='mp4' && mediatype!='wav'" class="form-group col-sm-12">
								<h3 class="mt-0">Screenshot</h3>					
								<div class="tile-body p-0">
									<img src="{{trustSrc(mediafile)}}" class="userimg" alt="">
									
								</div>
							</div>
							<div ng-if="mediatype=='mp4'||mediatype=='wav'" class="form-group col-sm-12">
								<h3 class="mt-40">Audio/Video</h3>					
								<div class="tile-body p-0">
									<!-- <video controls>
										<source ng-src="{{trustSrc(mediafile)}}" type="video/mp4">

										Your browser does not support HTML5 video.
									</video> -->
									<videogular >
										<vg-media vg-src="mediafile"
										          vg-native-controls="true">
										</vg-media>
									</videogular>
								</div>
							</div>
						</div>
					</div> 
				</section>
			</div>
			
			
		</div>
	</div>
</div>
