<div class="page page-dashboard">
	<div class="pagecontent">
		<div class="row">
			<div class="card-container col-sm-8 col-md-6">
				<div class="card">
					<div class="bg-dashboard dashboardbg">
						<div class="bg-transparent">
							<div class="crystalcove">
								<div class="covertext">
									<span>
										<strong>Crystal Cove</strong> Newport Coast
									</span>
								</div>
							</div>
							<div class="myshortcuts">
								<h3>My Shortcuts <span class="pull-right addsc"><i class="fa fa-plus" aria-hidden="true" ng-click="openShortCutPopup()"></i></span></h3>
								<div class="slimscrolls" style="overflow:auto;" slimscroll="{height: '100%'}">
									<ul>
										<li ng-repeat="shortcut in shortcutsForLoggedInUser | filter:{shortcutStatus:1}">
											<span class="icons"><i class="{{shortcut.shortcutIcon}}" aria-hidden="true"></i></span>
											<a ui-sref="{{shortcut.shortcutUrl}}"><span>{{shortcut.shortcutName}}</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="devices card-container col-sm-4 col-md-3">
				<div class="card">
					<div class="front bg-blue cardheight">
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device + dashboardData.dependent_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					<div class="back bg-blue">
						<div class="row">
							<div class="col-xs-6">
								<a ui-sref="app.admin.device.devices"><img src="images/device-icon.png" alt=""><br/>{{dashboardData.primary_device}} Primary</a>
							</div>
							<div class="col-xs-6">
								<a ui-sref="app.admin.device.dependent-devices"><img src="images/dependent-device-icon.png" alt=""><br/>{{dashboardData.dependent_device}} Dependent</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="users card-container col-sm-4 col-md-3">
				<div class="card">
					<div class="front bg-lightred cardheight">
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>
							</div>
						</div>
					</div>
					<div class="back bg-lightred">
						<div class="row">
							<div class="col-xs-6">
								<a ui-sref="app.admin.user.users"><img src="images/users-icon.png" alt=""><br/>Users</a>
							</div>
							<div class="col-xs-6">
								<a ui-sref="app.admin.user.user-groups"><img src="images/user-groups-icon.png" alt=""><br/>User Groups</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="doors card-container col-sm-4 col-md-3">
				<div class="card">
					<div class="front bg-slategray lt cardheight">
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					<div class="back bg-slategray">
						<div class="row">
							<div class="col-xs-6">
								<a ui-sref="app.admin.door.doors"><img src="images/doors-icon.png" alt=""><br/>Doors</a>
							</div>
							<div class="col-xs-6">
								<a ui-sref="app.admin.door.door-groups"><img src="images/door-groups-icon.png" alt=""><br/>Door Groups</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cameradvr card-container col-sm-4 col-md-3 mb-10">
				<section class="tile tile-simple hovershadow border5">
					<a ui-sref="app.admin.camera.camera-dvr">
						<div class="above1800 tile-widget bg-greensea text-center p-20">
							<img src="images/camera-icon.png" alt="">
						</div>
					</a>
					<div class="text-center overflow">
						<ul class="list-inline tbox mb-0">
							<li class="tcol">
								<a ui-sref="app.admin.camera.camera-dvr">
									<h3>Camera DVR</h3>
									<span class="text-muted">See live and recorded stream</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="adminroles card-container col-sm-4 col-md-3">
				<section class="tile tile-simple hovershadow border5">
					<a ui-sref="app.admin.permissions.roles">
						<div class="above1800 tile-widget bg-cyan text-center p-30 brt5">
							<img src="images/key-icon.png" class="imgsmall" alt="">
						</div>
					</a>
					<div class="text-center overflow">
						<ul class="list-inline tbox mt-10">
							<li class="b-r tcol">
								<a ui-sref="app.admin.administrator.roles">
									<h3>Roles</h3>
									<span class="text-muted">Administration</span>
								</a>
							</li>
							<li class="tcol">
								<a ui-sref="app.admin.administrator.admin">
									<h3>Admin</h3>
									<span class="text-muted">Administration</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="holidayschedule card-container col-sm-5 col-md-4">
				<section class="tile tile-simple hovershadow border5">
					<a ui-sref="app.admin.schedule.schedule-groups">
						<div class="above1800 tile-widget bg-drank text-center p-30 brt5">
							<img src="images/schedule-icon.png" class="imgsmall" alt="">
						</div>
					</a>
					<div class="text-center overflow">
						<ul class="list-inline tbox mt-10">
							<li class="b-r tcol">
								<a ui-sref="app.admin.schedule.schedule-groups">
									<h3>Schedule Groups</h3>
									<span class="text-muted">Management</span>
								</a>
							</li>
							<li class="tcol">
								<a ui-sref="app.admin.schedule.holiday-schedules">
									<h3>Holiday Schedules</h3>
									<span class="text-muted">Management</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="historyreports card-container col-sm-4 col-md-3">
				<section class="tile tile-simple hovershadow border5">
					<a ui-sref="app.admin.help.history-and-reports">
						<div class="above1800 tile-widget bg-lightred text-center p-30 brt5">
							<img src="images/history-icon.png" class="imgsmall" alt="">
						</div>
					</a>
					<div class="text-center overflow">
						<ul class="list-inline tbox mt-10">
							<li class="tcol">
								<a ui-sref="app.admin.help.history-and-reports">
									<h3>History and Reports</h3>
									<span class="text-muted">Touch with all reports</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="technicians card-container col-sm-3 col-md-2">
				<section class="tile tile-simple hovershadow border5">
					<a ui-sref="app.admin.support.technician">
						<div class="above1800 tile-widget bg-dutch text-center p-30 brt5">
							<img src="images/technician-icon.png" class="imgsmall" alt="">
						</div>
					</a>
					<div class="text-center overflow">
						<ul class="list-inline tbox mt-10">
							<li class="tcol">
								<a ui-sref="app.admin.support.technician">
									<h3>Technicians</h3>
									<span class="text-muted">Customer support Elika</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<script type="text/ng-template" id="addshortcutondashboardModal.html">
				<div class="modal-header"><h4 class="modal-title custom-font">My Shortcuts</h4></div>
				<div class="hometabs">
					<div class="overflow groupslists">
						<div class="col-md-12 mt-20">
							<ul>
								<li ng-repeat="shortcuts in lstDashboardShortCuts">
									<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" ng-model="shortcuts.shortcutStatus"><i></i> {{shortcuts.shortcutName}}</label>
								</li>
							</ul>
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
					<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c" ng-click="ok()"><i class="fa fa-arrow-right"></i> Submit</button>
				</div>
			</script>
		</div>
	</div>
</div>