<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">35</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">95</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-4" ng-controller="ServicePlanCtrl">
				<section class="tile tile-simple">
					<div class="tile-header dvd dvd-btm">
						<h1 class="h1head">Elika-460</h1>
					</div>
					<div class="tile-widget">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="mt-0">Current Plan <small>Bronze</small></h3>
								<div class="form-group">													
									<div class="tile-body p-0">
										<table class="table table-bordered tplans">
											<thead>
												<tr>
													<th>Plan</th>
													<th>Value</th>
													<th class="ta-r">Price (in USA $)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="plan in plans">
													<td>{{plan.title}}</td>
													<td>{{plan.value}}</td>
													<td class="ta-r">{{plan.price}}</td>
												</tr>
											</tbody>
										</table>
										
										<table class="table noborder">
											<tbody>
												<tr>
													<td class="pt-20"><strong>Subtotal: $</strong></td>
													<td class="pt-20 ta-r">39.95</td>
												</tr>
												<tr>
													<td><strong>Tax: (8.00%)</strong></td>
													<td class="ta-r">3.20</td>
												</tr>
												<tr>
													<td class="pt-20"><strong>Total: $</strong></td>
													<td class="pt-20 ta-r">43.15</td>
												</tr>
											</tbody>
										</table>
										
									</div>
								</div>
							</div>
						</div>
						<!--div class="form-group legend ta-c mb-0">
							<p></p>
							<a ui-sref="app.admin.change-service-plan" class="btn btn-rounded-20 btn-sm btn-blue">Change Plan</a>
							<a ui-sref="app.admin.upgrade-service-plan" class="btn btn-rounded-20 btn-sm btn-lightred ml-5 mr-5">Upgrade Plan</a>
							<a href="#" class="btn btn-rounded-20 btn-sm btn-slategray">Remove Plan</a>
						</div-->
					</div>  
				</section>
			</div>
			
			<div class="col-md-8" ng-controller="PaymentCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Saved Details">
								<div class="wrap-reset">
									<div class="form-group row">
										<div class="col-md-6">
											<div class="panel panel-default panel-filled br-5 overflow"> 
												<div class="panel-heading"> 
													<h3 class="panel-title custom-font">
														<label class="checkbox-custom-alt mb-0">
															<input name="customRadioAlt" type="radio" checked="checked" ng-click="setCVV('icici')"><i></i>
														</label>
														ICICI
														<span class="pull-right">
															<a href="#" class="text-sm text-lightred">Remove Card</a>
														</span>
													</h3>
												</div> 
												<div class="panel-body"> 
													<p class="mt-10 overflow" style="line-height: 38px;">
														<i class="fa fa-cc-mastercard paycard text-blue" aria-hidden="true"></i>
														5241 XXXX XXXX 3009
														<input type="text" name="" id="icici" style="display:block;" class="form-control w-80 pull-right entercvv" placeholder="Enter CVV">
													</p> 
												</div> 
											</div>
										</div>
										<div class="col-md-6">												
											<div class="panel panel-default panel-filled br-5 overflow"> 
												<div class="panel-heading"> 
													<h3 class="panel-title custom-font">
														<label class="checkbox-custom-alt mb-0">
															<input name="customRadioAlt" type="radio" ng-click="setCVV('axis')"><i></i>
														</label>
														AXIS
														<span class="pull-right">
															<a href="#" class="text-sm text-lightred">Remove Card</a>
														</span>
													</h3>
												</div> 
												<div class="panel-body"> 
													<p class="mt-10 overflow" style="line-height: 38px;">
														<i class="fa fa-cc-amex paycard text-blue" aria-hidden="true"></i>
														4505 XXXX XXXX 1154
														<input type="text" name="" id="axis" class="form-control w-80 pull-right entercvv" placeholder="Enter CVV">
													</p> 
												</div> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="panel panel-default panel-filled br-5 overflow"> 
												<div class="panel-heading"> 
													<h3 class="panel-title custom-font">
														<label class="checkbox-custom-alt mb-0">
															<input name="customRadioAlt" type="radio" ng-click="setCVV('sbi')"><i></i>
														</label>
														SBI
														<span class="pull-right">
															<a href="#" class="text-sm text-lightred">Remove Card</a>
														</span>
													</h3>
												</div> 
												<div class="panel-body"> 
													<p class="mt-10 overflow" style="line-height: 38px;">
														<i class="fa fa-cc-discover paycard text-blue" aria-hidden="true"></i>
														4032 XXXX XXXX 7727
														<input type="text" name="" id="sbi" class="form-control w-80 pull-right entercvv" placeholder="Enter CVV">
													</p> 
												</div> 
											</div>
										</div>
										<div class="col-md-6">												
											<div class="panel panel-default panel-filled br-5 overflow"> 
												<div class="panel-heading"> 
													<h3 class="panel-title custom-font">
														<label class="checkbox-custom-alt mb-0">
															<input name="customRadioAlt" type="radio" ng-click="setCVV('indusind')"><i></i>
														</label>
														INDUSIND BANK LIMITED
														<span class="pull-right">
															<a href="#" class="text-sm text-lightred">Remove Card</a>
														</span>
													</h3>
												</div> 
												<div class="panel-body"> 
													<p class="mt-10 overflow" style="line-height: 38px;">
														<i class="fa fa-cc-visa paycard text-blue" aria-hidden="true"></i>
														4216 XXXX XXXX 9963
														<input type="text" name="" id="indusind" class="form-control w-80 pull-right entercvv" placeholder="Enter CVV">
													</p> 
												</div> 
											</div>
										</div>
									</div>
									<div class="form-group row legend mb-0">
										<div class="col-md-12">
											<p></p>
											<a href back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Back</a>
											<a ui-sref="app.admin.payment-confirmation" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Pay Now</a>
										</div>
									</div>
								</div>
							</uib-tab>
							
							<uib-tab heading="Debit/Credit Card">
								<div class="modal-body wrap-reset">
									<div class="form-group row">
										<div class="col-md-2">
											<label class="checkbox checkbox-custom-alt">
												<input name="customRadioCard" type="radio" checked="checked"><i></i> Credit Card
											</label>
										</div>
										<div class="col-md-2">												
											<label class="checkbox checkbox-custom-alt">
												<input name="customRadioCard" type="radio"><i></i> Debit Card
											</label>													
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-5">
											<label for="">Card Holder's Name</label>
											<input type="text" name="" id="" class="form-control" placeholder="">
										</div>
										<div class="col-md-4">
											<label for="">Card Type</label>
											<select class="form-control">
												<option>Master Card</option>
												<option>American Express</option>
												<option>Discover</option>
												<option>Visa</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-5">
											<label for="">Enter Debit/Credit Card Number</label>
											<input type="text" name="" id="" class="form-control" placeholder="">
										</div>
										<div class="col-md-4">					
											<div class="row">
												<div class="col-md-6">
													<label for="">Expiration Month</label>
													<select class="form-control">
														<option>01</option>
														<option>02</option>
														<option>03</option>
														<option>04</option>
														<option>05</option>
														<option>06</option>
														<option>07</option>
														<option>08</option>
														<option>09</option>
														<option>10</option>
														<option>11</option>
														<option>12</option>
													</select>
												</div>
												<div class="col-md-6 pl-0">
													<label for="">Expiration Year</label>
													<select class="form-control">
														<option>2016</option>
														<option>2017</option>
														<option>2018</option>
														<option>2019</option>
														<option>2020</option>
														<option>2021</option>
														<option>2022</option>
														<option>2023</option>
														<option>2024</option>
														<option>2025</option>
														<option>2026</option>
														<option>2027</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-4">
											<label for="">CVV/Security Code</label>
											<input type="text" name="" id="" class="form-control w-150" placeholder="Enter CVV">
										</div>
										<div class="col-md-4">
											
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-12">
											<label class="checkbox checkbox-custom-alt">
												<input name="checkboxSaveCard" type="checkbox" checked="checked"><i></i> Save this card for faster checkout
											</label>
										</div>
									</div>
									<div class="form-group row legend mb-0">
										<div class="col-md-12">
											<p></p>
											<a href back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Back</a>
											<a ui-sref="app.admin.payment-confirmation" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Pay Now</a>
										</div>
									</div>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
