<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent schedulebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">45</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
	
		<div class="row" ng-controller="AddScheduleCtrl">
			<div class="col-md-12"> 
				<section class="tile tile-simple"> 
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					<div class="tile-body p-0"> 
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-7 pl-0">
									<div class="calendar">															
										<table style="width:100%" cellspacing="0">
											<thead>
												<tr>
													<th class="nobrl time">&nbsp;</th>
													<th class="mon">Mon</th>
													<th class="tue">Tue</th>
													<th class="wed">Wed</th>
													<th class="thr">Thu</th>
													<th class="fri">Fri</th>
													<th class="sat">Sat</th>
													<th class="sun">Sun</th>
													<th class="holidays">Holidays</th>
												</tr>
											</thead>																
										</table>
										<div class="calendartime">
											<table style="width:100%" cellspacing="0">
												<tbody>
													<tr>
														<td style="width: 50px;">
															<table style="width:100%" cellspacing="0" id="tablehead">
																<tr>
																	<th class="calendartimehead">12am</th>
																	<th class="calendartimehead">1am</th>
																	<th class="calendartimehead">2am</th>
																	<th class="calendartimehead">3am</th>
																	<th class="calendartimehead">4am</th>
																	<th class="calendartimehead">5am</th>
																	<th class="calendartimehead">6am</th>
																	<th class="calendartimehead">7am</th>
																	<th class="calendartimehead">8am</th>
																	<th class="calendartimehead">9am</th>
																	<th class="calendartimehead">10am</th>
																	<th class="calendartimehead">11am</th>
																	<th class="calendartimehead">12pm</th>
																	<th class="calendartimehead">1pm</th>
																	<th class="calendartimehead">2pm</th>
																	<th class="calendartimehead">3pm</th>
																	<th class="calendartimehead">4pm</th>
																	<th class="calendartimehead">5pm</th>
																	<th class="calendartimehead">6pm</th>
																	<th class="calendartimehead">7pm</th>
																	<th class="calendartimehead">8pm</th>
																	<th class="calendartimehead">9pm</th>
																	<th class="calendartimehead">10pm</th>
																	<th class="calendartimehead">11pm</th>
																</tr>
															</table>
														</td>
														<td>
															<table style="width:100%" cellspacing="0" id="table">
																<tr value="12am" class="00">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="12:30am" class="00">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="1am" class="01">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="1:30am" class="01">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr> 
																<tr value="2am" class="02">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="2:30am" class="02">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="3am" class="03">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="3:30am" class="03">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="4am" class="04">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="4:30am" class="04">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="5am" class="05">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="5:30am" class="05">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="6am" class="06">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="6:30am" class="06">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="7am" class="07">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="7:30am" class="07">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="8am" class="08">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="8:30am" class="08">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="9am" class="09">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="9:30am" class="09">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="10am" class="10">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="10:30am" class="10">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="11am" class="11">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="11:30am" class="11">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="12pm" class="12">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="12:30pm" class="12">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="1pm" class="13">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="1:30pm" class="13">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="2pm" class="14">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="2:30pm" class="14">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="3pm" class="15">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="3:30pm" class="15">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="4pm" class="16">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="4:30pm" class="16">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="5pm" class="17">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="5:30pm" class="17">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="6pm" class="18">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="6:30pm" class="18">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="7pm" class="19">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="7:30pm" class="19">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="8pm" class="20">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="8:30pm" class="20">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="9pm" class="21">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="9:30pm" class="21">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="10pm" class="22">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="10:30pm" class="22">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="11pm" class="23">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
																<tr value="11:30pm" class="23">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<td class="holidays" value="holidays">&nbsp;</td>
																</tr>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="copybtn">
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c">Copy Mon -> Mon-Fri</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c">Copy Mon -> Mon-Sun</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c">Clear All</a>
											</div>
										</div>
									</div>
								</div>														
								<div class="modal-body col-md-5">		
									<div class="account">	
										<form name="myform" ng-submit="submitSchedule(schedule)">
										<div class="row mt-10">
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Schedule Name</label>
												<input type="text" name="schedule_name" id="" class="form-control" ng-model="schedule.schedule_name" placeholder="" required>
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Facility</label>
												<!-- <select class="form-control" name="facility" ng-model="schedule.facility_id" required>
													<option value="">Select</option>
													<option value="1">USA Corporate Services</option>
													<option value="2">Aerzen USA Corporation</option>
												</select> -->
												<select class="form-control" name="facility" ng-model="schedule.facility_id" ng-options="item.facility_id as item.facility_name for item in facilityList">
													<option value="">Select</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-6 form-group">
												<label for="">Block</label><br/>
												<select class="form-control" name="block" ng-model="schedule.block" required>
													<option value="">Select</option>
													<option>hgkjhlkjlk</option>
													<option>FGHBHLKx</option>
												</select>
											</div>
											<div class="col-sm-12 col-md-6 form-group">
												<label for="">&nbsp;</label><br/>
												<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10" style="margin-top:1px;" disabled>Delete Block</button>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-md-3 form-group">
												<label for="">Start Time</label>
												<input type="text" name="schedule_start_date" id="" class="form-control" ng-model="schedule.schedule_start_date" placeholder="" required>
											</div>
											<div class="col-sm-6 col-md-3 form-group">
												<label for="">End Time</label>
												<input type="text" name="schedule_end_date" id="" class="form-control" ng-model="schedule.schedule_end_date" placeholder="" required>
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">&nbsp;</label><br/>
												<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10" style="margin-top:1px;" disabled>Update Block</button>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-12 form-group">
												<label for="">Holidays Observed</label>
												<textarea name="holiday" id="" class="form-control mb-10" placeholder="" disabled></textarea>
												<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right" disabled>Add Holiday</button>
												<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right mr-10" disabled>Remove</button>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-12 form-group">
												<label for="">Schedule Exceptions</label>
												<textarea name="exceptions" id="" class="form-control" placeholder="" disabled>No exceptions</textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-6 form-group">
												<label for="">Type</label><br/>
												<div class="row">
													<div class="col-sm-12 col-md-6">
														<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=true">
															<input name="customRadioAlt" type="radio" checked="checked" disabled><i></i> One Time
														</label>
													</div>
													<div class="col-sm-12 col-md-6">
														<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=false">
															<input name="customRadioAlt" type="radio" disabled><i></i> Repeating
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="row" ng-init="visibiltyUserGroup=false" ng-show="visibiltyUserGroup">
											<div class="col-sm-12 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
												<label for="">Start Date</label>
												<div class="input-group">
													<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  disabled />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;" disabled><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-12" ng-init="visibiltyUserGroup=true" ng-hide="visibiltyUserGroup">
												<label for="">Repeats every</label>
												<div class="row">
													<div class="col-sm-6 col-md-6 form-group">
														<select class="form-control" name="repeat" disabled>
															<option value="">First</option>
															<option value="">Second</option>
															<option value="">Third</option>
															<option value="">Fourth</option>
															<option value="">Fifth</option>
														</select>
													</div>
													<div class="col-sm-6 col-md-6 form-group">
														<select class="form-control" name="day" disabled>
															<option value="">Sunday</option>
															<option value="">Monday</option>
															<option value="">Tuesday</option>
															<option value="">Wednesday</option>
															<option value="">Thursday</option>
															<option value="">Friday</option>
															<option value="">Saturday</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-md-3 form-group">
												<label for="">Starts at</label>
												<input type="text" name="start_at" id="" class="form-control" placeholder="" value="12:00 AM" disabled>
											</div>
											<div class="col-sm-6 col-md-3 form-group">
												<label for="">Ends at</label>
												<input type="text" name="end_at" id="end_at" class="form-control" placeholder="" value="11:59 PM" disabled>
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">&nbsp;</label><br/>
												<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10" style="margin-top:1px;" disabled>Update</button>
											</div>
										</div>															
										<div class="row" >
											<div class="form-group col-sm-12 col-md-12">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-init="schedule.schedule_status=1">
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="1">Active</label>
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="0">Inactive</label>
												</div>
											</div>
											<div class="form-group col-sm-12 col-md-12" ng-hide="schedule.schedule_status==0" ng-init="mySwitch=true">
												<label class="checkbox checkbox-custom-alt mb-0">
													<input name="customRadioAlt" type="checkbox" checked="checked" ng-model="mySwitch"><i></i> No Expirations
												</label>											
											</div>
											<div class="form-group col-sm-6 col-md-6" ng-hide="mySwitch" ng-controller="DatepickerDemoCtrl">
												<div class="input-group">
													<input type="text" name="expiration" class="form-control" uib-datepicker-popup="{{format}}" ng-model="schedule.expiration" is-open="opened" datepicker-options="dateOptions" close-text="Close"  />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="copybtn ta-l">
											<a ui-sref="app.admin.schedule.schedule-groups" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded ml-0" ng-click="cancel()">Cancel</a>
											<button type="submit" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded">Save Schedule</button>
										</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
					