<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent schedulebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">45</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
	
		<div class="row">
			<div class="col-md-12"> 
				<section class="tile tile-simple"> 
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					<div class="tile-body p-0"> 
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-7 pl-0">
									<div class="calendar">															
										<table style="width:100%" cellspacing="0">
											<thead>
												<tr>
													<th class="nobrl time">&nbsp;</th>
													<th class="mon">Mon</th>
													<th class="tue">Tue</th>
													<th class="wed">Wed</th>
													<th class="thr">Thu</th>
													<th class="fri">Fri</th>
													<th class="sat">Sat</th>
													<th class="sun">Sun</th>
													<!--th class="holidays">Holidays</th-->
												</tr>
											</thead>																
										</table>
										<div class="calendartime">
											<table style="width:100%" cellspacing="0">
												<tbody>
													<tr>
														<td style="width: 50px;">
															<table style="width:100%" cellspacing="0" id="tablehead">
																<tr>
																	<th class="calendartimehead">12am</th>
																	<th class="calendartimehead">1am</th>
																	<th class="calendartimehead">2am</th>
																	<th class="calendartimehead">3am</th>
																	<th class="calendartimehead">4am</th>
																	<th class="calendartimehead">5am</th>
																	<th class="calendartimehead">6am</th>
																	<th class="calendartimehead">7am</th>
																	<th class="calendartimehead">8am</th>
																	<th class="calendartimehead">9am</th>
																	<th class="calendartimehead">10am</th>
																	<th class="calendartimehead">11am</th>
																	<th class="calendartimehead">12pm</th>
																	<th class="calendartimehead">1pm</th>
																	<th class="calendartimehead">2pm</th>
																	<th class="calendartimehead">3pm</th>
																	<th class="calendartimehead">4pm</th>
																	<th class="calendartimehead">5pm</th>
																	<th class="calendartimehead">6pm</th>
																	<th class="calendartimehead">7pm</th>
																	<th class="calendartimehead">8pm</th>
																	<th class="calendartimehead">9pm</th>
																	<th class="calendartimehead">10pm</th>
																	<th class="calendartimehead">11pm</th>
																</tr>
															</table>
														</td>
														<td>
															<table style="width:100%" cellspacing="0" id="table">
																<tr value="00:00" class="00">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="00:00" class="00">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="01:00" class="01">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="01:00" class="01">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="02:00" class="02">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="02:00" class="02">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="03:00" class="03">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="03:00" class="03">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="04:00" class="04">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="04:00" class="04">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="05:00" class="05">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="05:00" class="05">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="06:00" class="06">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="06:00" class="06">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="07:00" class="07">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="07:00" class="07">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="08:00" class="08">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="08:00" class="08">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="09:00" class="09">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="09:00" class="09">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="10:00" class="10">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="10:00" class="10">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="11:00" class="11">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="11:00" class="11">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="12:00" class="12">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="12:00" class="12">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="13:00" class="13">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="13:00" class="13">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="14:00" class="14">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="14:00" class="14">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="15:00" class="15">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="15:00" class="15">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="16:00" class="16">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="16:00" class="16">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="17:00" class="17">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="17:00" class="17">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="18:00" class="18">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="18:00" class="18">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="19:00" class="19">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="19:00" class="19">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="20:00" class="20">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="20:00" class="20">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="21:00" class="21">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="21:00" class="21">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="22:00" class="22">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="22:00" class="22">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="23:00" class="23">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
																<tr value="23:00" class="23">
																	<td class="nobrl mon" value="Monday">&nbsp;</td>
																	<td class="tue" value="Tuesday">&nbsp;</td>
																	<td class="wed" value="Wednesday">&nbsp;</td>
																	<td class="thr" value="Thursday">&nbsp;</td>
																	<td class="fri" value="Friday">&nbsp;</td>
																	<td class="sat" value="Saturday">&nbsp;</td>
																	<td class="sun" value="Sunday">&nbsp;</td>
																	<!--td class="holidays" value="holidays">&nbsp;</td-->
																</tr>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="copybtn">
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="copyMonFri()">Copy Mon -> Mon-Fri</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="copyMonSun()">Copy Mon -> Mon-Sun</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c">Clear All</a>
											</div>
										</div>
									</div>
								</div>														
								<div class="modal-body col-md-5" ng-controller="ModalDemoCtrl">
									<form ng-submit="submitSchedule(schedule)">
									<div class="account">							
										<div class="row mt-10">
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Schedule Name</label>
												<input type="text" ng-model="schedule.schedule_name" name="" id="" class="form-control" required>
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Facility</label>
												<select class="form-control" ng-model="schedule.facility_id" ng-options="x.facility_id as x.facility_name for x in facilityList" required>
													<option value="">Select</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
												<label for="">Start Date</label>
												<div class="input-group">
													<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="schedule.schedule_start_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  required />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
											
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="row">
													<div class="col-sm-6 col-md-6 form-group">
														<label for="">Start Time</label>
														<input type="text" name="" ng-model="schedule.schedule_start_time" id="" class="form-control">
													</div>
													<div class="col-sm-6 col-md-6 form-group">
														<label for="">End Time</label>
														<input type="text" name="" ng-model="schedule.schedule_end_time" id="" class="form-control">
													</div>
													<input type="hidden" name="" ng-model="schedule.schedule_weekday" id="" class="form-control">
													<div class="col-sm-12 col-md-12 form-group">
														<button type="button" ng-click="updateBlock()" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10 mt-5">Add Block</button>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 form-group">
												<label for="">Block</label><br/>
												<select class="form-control form-group pull-left" ng-model="schedule.block" ng-options="color for color in blocks">
													<option value="">Select Block</option>
												</select>
												<button type="button" ng-click="deleteBlock()" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10 mt-5">Delete Block</button>
											</div>
										</div>
										
										
										<div>
											<uib-accordion close-others="oneAtATime">
												<uib-accordion-group is-open="status.open1" class="panel-default mt-20">
													<uib-accordion-heading>Holidays Observed <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></uib-accordion-heading>
														<ul class="hslist">
															<li ng-repeat="s in holidaySchedules" ng-if="s.isScheduleSelected">{{s.hs_name}}
																<a href="" class="pull-right text-lightred" ng-click="s.isScheduleSelected=false">
																	<i class="fa fa-trash-o" aria-hidden="true"></i>
																</a>
															</li>
														</ul>
														<button ng-click="open()" type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right">Add Holiday </button>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open2" class="panel-default mt-20">
													<uib-accordion-heading>Schedule Exceptions <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></uib-accordion-heading>
													<div class="row">
														<div class="col-sm-12 col-md-12">
															<ul class="hslist">
																<li ng-repeat="e in exceptions">
																	<span ng-if="e.type=='ONETIME'">{{e.status}} {{e.date| date:'dd-MMM-yyyy'}} from {{e.start_time}} to {{e.end_time}}</span> 
																	<span ng-if="e.type=='REAPEATING'">(Repeating) {{e.status}} {{e.week}} {{e.day}} from {{e.start_time}} to {{e.end_time}}</span> 
																<a href="" class="pull-right text-lightred">
																	<i class="fa fa-trash-o" aria-hidden="true"></i>
																</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-6 form-group">
															<label for="">Type</label><br/>
															<div class="row">
																<div class="col-sm-12 col-md-6">
																	<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=true">
																		<input name="customRadioAlt" ng-model="exception.type" value="ONETIME" type="radio" ng-init="exception.type='ONETIME'"><i></i> One Time
																	</label>
																</div>
																<div class="col-sm-12 col-md-6">
																	<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=false">
																		<input name="customRadioAlt" ng-model="exception.type" value="REAPEATING" type="radio"><i></i> Repeating
																	</label>
																</div>
															</div>
														</div>
													</div>
													<div class="row" ng-init="visibiltyUserGroup=false"  ng-show="visibiltyUserGroup">
														<div class="col-sm-12 col-md-6 form-group">
															<label for="">Date</label>
															<div class="input-group" ng-controller="DatepickerDemoCtrl">
																<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$parent.exception.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																</span>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-12" ng-init="visibiltyUserGroup=true" ng-hide="visibiltyUserGroup">
															<label for="">Repeats every</label>
															<div class="row">
																<div class="col-sm-6 col-md-6 form-group">
																	<select class="form-control" ng-model="exception.week">
																		<option value="">Select</option>
																		<option>First</option>
																		<option>Second</option>
																		<option>Third</option>
																		<option>Fourth</option>
																		<option>Fifth</option>
																	</select>
																</div>
																<div class="col-sm-6 col-md-6 form-group">
																	<select class="form-control" ng-model="exception.day">
																		<option value="">Select</option>
																		<option>Sunday</option>
																		<option>Monday</option>
																		<option>Tuesday</option>
																		<option>Wednesday</option>
																		<option>Thursday</option>
																		<option>Friday</option>
																		<option>Saturday</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6 col-md-3 form-group">
															<label for="">Starts at</label>
															<input type="text" name="" id="" class="form-control" ng-model="exception.start_time">
														</div>
														<div class="col-sm-6 col-md-3 form-group">
															<label for="">Ends at</label>
															<input type="text" name="" id="" class="form-control" ng-model="exception.end_time">
														</div>
														<div class="col-sm-6 col-md-6 form-group">
															<label for="">Enable or Disable</label><br/>
															<select class="form-control" ng-model="exception.status">
																<option value="">Select</option>
																<option value="Enabled">Enabling Exception</option>
																<option value="Disabled">Disabling Exception</option>
															</select>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-6 form-group mt-20">
															<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded" ng-click="addException(exception)" style="margin-top:1px;">Add Exception</button>
														</div>
													</div>
												</uib-accordion-group>
											</uib-accordion>
										</div>
																									
										<div class="row" ng-init="schedule.schedule_status=1">
											<div class="form-group col-sm-12 col-md-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded">
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="1">Active</label>
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="0">Inactive</label>
												</div>
											</div>
											<div class="form-group col-sm-12 col-md-6" ng-hide="radioModel=='Inactive'" ng-init="mySwitch=true">
												<label for="">&nbsp;</label><br/>
												<label class="checkbox checkbox-custom-alt" style="margin-bottom:8px;">
													<input name="customRadioAlt" type="checkbox" checked="checked" ng-model="mySwitch"><i></i> No Expirations
												</label>											
											</div>
											<div class="form-group col-sm-12 col-md-6" ng-hide="mySwitch" ng-controller="DatepickerDemoCtrl">
												<div class="input-group">
													<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="copybtn ta-l">
											<a ui-sref="app.admin.schedule.schedule-groups" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded ml-0" ng-click="cancel()">Cancel</a>
											<button type="submit" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded">Save Schedule</button>
										</div>
									</div>
									</form>
									<script type="text/ng-template" id="myModalContent.html">
										<div class="modal-header"><h4 class="modal-title custom-font">Holiday Schedules</h4></div>
										<div class="hometabs">
											<div class="overflow groupslists">
												<div class="col-md-12 mt-20">
													<ul>
														<li ng-repeat="hs in holidaySchedules">
															<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" ng-model="hs.isScheduleSelected" id="hsck_{{hs.hs_id}}" ><i></i> {{hs.hs_name}}</label>
														</li>
														
													</ul>
													<a ui-sref="app.admin.schedule.holiday-schedules" ng-click="cancel()" class="pull-right mt-15 mb-20">Create Holiday Schedule </a>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
											<button type="submit" ng-click="submitHS()" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
										</div>											
									</script>
								</div>
							</div>
						</div>
					</div>
					<!--<script type="text/javascript">
						var table = $("#table");
						var isMouseDown = false;
						var startRowIndex = null;
						var startCellIndex = null;

						function selectTo(cell) {
							
							var row = cell.parent();    
							var cellIndex = cell.index();
							var rowIndex = row.index();
							
							var rowStart, rowEnd, cellStart, cellEnd;
																			
							if (rowIndex < startRowIndex) {
								rowStart = rowIndex;
								rowEnd = startRowIndex;
							} else {
								rowStart = startRowIndex;
								rowEnd = rowIndex;
							}
							
							if (cellIndex < startCellIndex) {
								cellStart = cellIndex;
								cellEnd = startCellIndex;
							} else {
								cellStart = startCellIndex;
								cellEnd = cellIndex;
							}
							
							for (var i = rowStart; i <= rowEnd; i++) {
								var rowCells = table.find("tr").eq(i).find("td");
								for (var j = cellStart; j <= cellEnd; j++) {
									rowCells.eq(j).addClass("selected");
								}
							}
							
						}

						table.find("td").mousedown(function (e) {
							isMouseDown = true;
							var cell = $(this);

							table.find(".selected").removeClass("selected"); // deselect everything
							
							if (e.shiftKey) {
								selectTo(cell);                
							} else {
								cell.addClass("selected");
								startCellIndex = cell.index();
								startRowIndex = cell.parent().index();
							}
							
							return false; // prevent text selection
						})
						
						.mouseover(function () {
							if (!isMouseDown) return;
							table.find(".selected").removeClass("selected");
							selectTo($(this));
						})
						
						.bind("selectstart", function () {
							return false;
						});

						$(document).mouseup(function () {
							isMouseDown = false;
						});
						
						/*$.each($("#table tr"), function( index, value ) {
							  if($( this ).children().hasClass("selected")){
							console.log($(this)+""+index);
							console.log($(this).attr('value'))

							}
							});*/
					</script>-->
				</section>
			</div>
		</div>
	</div>
</div>
					