<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent schedulebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
	
		<div class="row">
			<div class="col-md-12"> 
				<section class="tile tile-simple"> 
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					<div class="tile-body p-0"> 

						<div class="row">
							<div class="col-md-12" data-ng-init="init()">
								<div class="col-md-7 pl-0">
									<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:600px;' >
									<div class="dhx_cal_navline">
									<div class="dhx_cal_prev_button" >&nbsp;</div>
									<div class="dhx_cal_next_button" >&nbsp;</div>
									<div class="dhx_cal_today_button" ></div>
									<div class="dhx_cal_date" style="display: none;"></div>
									<!-- <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div> -->
									<!-- <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
									<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
									<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div> -->
									</div>
									<div class="dhx_cal_header">
									</div>
									<div class="dhx_cal_data">
									</div>
									</div>
									<div class="copybtn">
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="copyMonFri()">Copy Mon -&gt; Mon-Fri</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="copyMonSun()">Copy Mon -&gt; Mon-Sun</a>
												<a class="btn btn-primary btn-slategray btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="clearAllSchedule()">Clear All</a>
											</div>
								</div>														
								<div class="modal-body col-md-5" ng-controller="ModalDemoCtrl">
									<form name="addSchedule" ng-validate="validationOptions" ng-submit="submitSchedule(schedule,addSchedule)">
									<div class="account">							
										<div class="row mt-10">
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Schedule Name <span class="text-danger">*</span></label>
												<input type="text" ng-model="schedule.schedule_name" name="schedule_name" id="" class="form-control" required>
											</div>
											<div class="col-sm-6 col-md-6 form-group">
												<label for="">Facility <span class="text-danger">*</span></label>
												<select class="form-control" ng-disabled="facility_disable" ng-model="schedule.facility_id" ng-options="x.facility_id as x.facility_name for x in facilityList" name="facility_name" required>
													<option value="">Select</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6" ng-init="schedule.schedule_type=1">
												<label for="">Schedule Type <span class="text-danger">*</span></label><br/>
												<div class="btn-group btnrounded" >
													<a href="javascript:void(0)" ng-click="custom_schedular()"><label class="btn btn-default" ng-model="schedule.schedule_type" uib-btn-radio="1">Custom</label></a>
													<a href="javascript:void(0)" ng-click="repetive_schedular()"><label class="btn btn-default" ng-model="schedule.schedule_type" uib-btn-radio="0">Repetitive</label></a>
												</div>
											</div>
											<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl" ng-show="schedule.schedule_type == 0">
												<label for="">Start Date <span class="text-danger">*</span></label>
												<div class="input-group" >
													<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"  ng-model="schedule.schedulestart_date" is-open="opened" min-date="$parent.minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;" name="start_date" required="required"/>
													<span class="input-group-btn" >
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
											
										</div>
										<!-- <div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="row">
													<div class="col-sm-6 col-md-6 form-group">
														<label for="">Start Time </label>
														<input type="text" name="" ng-model="schedule.schedule_start_time" id="" class="form-control" disabled>
													</div>
													<div class="col-sm-6 col-md-6 form-group">
														<label for="">End Time </label>
														<input type="text" name="" ng-model="schedule.schedule_end_time" id="" class="form-control" disabled>
													</div>
													<input type="hidden" name="" ng-model="schedule.schedule_weekday" id="" class="form-control">
													<div class="col-sm-12 col-md-12 form-group">
														<button type="button" ng-click="updateBlock()" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10 mt-5">Add Block</button>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 form-group">
												<label for="">Block</label><br/>
												<select class="form-control form-group pull-left" ng-model="schedule.block" ng-options="color for color in blocks">
													<option value="">Select Block</option>
												</select>
												<button type="button" ng-click="deleteBlock()" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right ml-10 mt-5">Delete Block</button>
											</div>
										</div> -->
										
										
										<div ng-show="schedule.schedule_type == 0">
											<uib-accordion close-others="oneAtATime">
												<uib-accordion-group is-open="status.open1" class="panel-default mt-20">
													<uib-accordion-heading>Holidays Observed <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></uib-accordion-heading>
														<ul class="hslist">
															<li ng-repeat="s in holidaySchedules" ng-if="s.isScheduleSelected">{{s.hs_name}}
																<a href="" class="pull-right text-lightred" ng-click="s.isScheduleSelected=false">
																	<i class="fa fa-trash-o" aria-hidden="true"></i>
																</a>
															</li>
														</ul>
														<button ng-click="open()" type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded pull-right">Add Holiday </button>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open2" class="panel-default mt-20">
													<uib-accordion-heading>Schedule Exceptions <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></uib-accordion-heading>
													<div class="row">
														<div class="col-sm-12 col-md-12">
														
															<ul class="hslist">
																<li ng-repeat="e in exceptions">
																	<span ng-if="e.type=='ONETIME'">{{e.status}} {{e.date| date:'dd-MMM-yyyy': 'UTC'}} from {{e.start_time}} to {{e.end_time}}</span> 
																	<span ng-if="e.type=='REPEATING'">(Repeating) {{e.status}} {{e.week}} {{e.day}} from {{e.start_time}} to {{e.end_time}}</span> 
																	<a ng-click="removeHolidaySchdule(e.key)" class="pull-right text-lightred">
																		<i class="fa fa-trash-o" aria-hidden="true"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-6 form-group">
															<label for="">Type</label><br/>
															<div class="row">
																<div class="col-sm-12 col-md-6">
																	<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=true">
																		<input name="customRadioAlt" ng-model="exception.type" value="ONETIME" type="radio" ng-init="exception.type='ONETIME'"><i></i> One Time
																	</label>
																</div>
																<div class="col-sm-12 col-md-6">
																	<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=false">
																		<input name="customRadioAlt" ng-model="exception.type" value="REPEATING" type="radio"><i></i> Repeating
																	</label>
																</div>
															</div>
														</div>
													</div>
													<div class="row" ng-init="visibiltyUserGroup=false"  ng-show="visibiltyUserGroup">
														<div class="col-sm-12 col-md-6 form-group">
															<label for="">Date </label>
															<div class="input-group" ng-controller="DatepickerDemoCtrl">
																<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"  ng-model="exception.date" min-date="schedule.schedule_start_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" name="date" onkeypress="return false;"/>
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																</span>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-12" ng-init="visibiltyUserGroup=true" ng-hide="visibiltyUserGroup">
															<label for="">Repeats every</label>
															<div class="row">
																<div class="col-sm-6 col-md-6 form-group">
																	<select class="form-control" ng-model="exception.week">
																		<option value="">Select</option>
																		<option>First</option>
																		<option>Second</option>
																		<option>Third</option>
																		<option>Fourth</option>
																		<option>Fifth</option>
																	</select>
																</div>
																<div class="col-sm-6 col-md-6 form-group">
																	<select class="form-control" ng-model="exception.day">
																		<option value="">Select</option>
																		<option>Sunday</option>
																		<option>Monday</option>
																		<option>Tuesday</option>
																		<option>Wednesday</option>
																		<option>Thursday</option>
																		<option>Friday</option>
																		<option>Saturday</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6 col-md-3 form-group">
															<label for="">Starts at</label>
															<select type="text" name="" id="" class="form-control" 
															ng-options="x as x for x  in timedropdown" ng-model="exception.start_time">
															<option value="">Select Time</option>
															</select>
														</div>
														<div class="col-sm-6 col-md-3 form-group">
															<label for="">Ends at</label>
															<select type="text" name="" id="" class="form-control" ng-options="x as x for x  in timedropdown" ng-model="exception.end_time">
															<option value="">Select Time</option>
															</select>
														</div>
														<div class="col-sm-6 col-md-6 form-group">
															<label for="">Enable or Disable</label><br/>
															<select class="form-control" ng-model="exception.status">
																<option value="">Select</option>
																<option value="Enabled">Enabling Exception</option>
																<option value="Disabled">Disabling Exception</option>
															</select>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-6 form-group mt-20">
															<button type="button" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded" ng-click="addException(exception)" ng-disabled="validateExpiration(exception)" style="margin-top:1px;">Add Exception</button>
														</div>
													</div>
												</uib-accordion-group>
											</uib-accordion>
										</div>
																									
										<div class="row" ng-init="schedule.schedule_status=1">
											<div class="form-group col-sm-12 col-md-6">
												<label for="">Status <span class="text-danger">*</span></label><br/>
												<div class="btn-group btnrounded">
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="1">Active</label>
													<label class="btn btn-default" ng-model="schedule.schedule_status" uib-btn-radio="0">Inactive</label>
												</div>
											</div>
											<div class="form-group col-sm-12 col-md-6" ng-hide="schedule.schedule_status=='0' || schedule.schedule_type == 1" ng-init="schedule.no_expirations=1" >
												<label for="">&nbsp;</label><br/>
												<label class="checkbox checkbox-custom-alt" style="margin-bottom:8px;">
													<input name="customRadioAlt" type="checkbox" checked="checked" ng-model="schedule.no_expirations" ng-true-value="1" ng-false-value="0"><i></i> No Expirations
												</label>											
											</div>
											<div class="form-group col-sm-12 col-md-6" ng-hide="schedule.no_expirations" ng-controller="DatepickerDemoCtrl">
												<div class="input-group">
													<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"  ng-model="$parent.schedule.expiration" is-open="opened" min-date="schedule.schedule_start_date" datepicker-options="dateOptions"  close-text="Close" onkeypress="return false;"/>
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="copybtn ta-l">
											<a ui-sref="app.admin.schedule.schedule-groups" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded ml-0" ng-click="cancel()">Cancel</a>
											<button type="submit" class="btn btn-default btn-ef btn-ef-6 btn-ef-6a btn-rounded">Save Schedule</button>
										</div>
									</div>
									
									</form>
									
									<script type="text/ng-template" id="myModalContent.html">
										<div class="modal-header"><h4 class="modal-title custom-font">Holiday Schedules</h4></div>
										<div class="hometabs">
											<div class="overflow groupslists">
												<div class="col-md-12 mt-20">
													<ul>
														<li ng-repeat="hs in holidaySchedules">
															<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" ng-model="hs.isScheduleSelected" id="hsck_{{hs.hs_id}}" ><i></i> {{hs.hs_name}}</label>
														</li>
													</ul>
													<a ui-sref="app.admin.schedule.holiday-schedules" ng-click="cancel()" class="pull-right mt-15 mb-20">Create Holiday Schedule </a>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-success btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Save</button>
											<!--<button type="submit" ng-click="submitHS()" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>-->	
										</div>											
									</script>
								</div>
							</div>
						</div>
					</div>
					<!--<script type="text/javascript">
						var table = $("#table");
						var isMouseDown = false;
						var startRowIndex = null;
						var startCellIndex = null;

						function selectTo(cell) {
							
							var row = cell.parent();    
							var cellIndex = cell.index();
							var rowIndex = row.index();
							
							var rowStart, rowEnd, cellStart, cellEnd;
																			
							if (rowIndex < startRowIndex) {
								rowStart = rowIndex;
								rowEnd = startRowIndex;
							} else {
								rowStart = startRowIndex;
								rowEnd = rowIndex;
							}
							
							if (cellIndex < startCellIndex) {
								cellStart = cellIndex;
								cellEnd = startCellIndex;
							} else {
								cellStart = startCellIndex;
								cellEnd = cellIndex;
							}
							
							for (var i = rowStart; i <= rowEnd; i++) {
								var rowCells = table.find("tr").eq(i).find("td");
								for (var j = cellStart; j <= cellEnd; j++) {
									rowCells.eq(j).addClass("selected");
								}
							}
							
						}

						table.find("td").mousedown(function (e) {
							isMouseDown = true;
							var cell = $(this);

							table.find(".selected").removeClass("selected"); // deselect everything
							
							if (e.shiftKey) {
								selectTo(cell);                
							} else {
								cell.addClass("selected");
								startCellIndex = cell.index();
								startRowIndex = cell.parent().index();
							}
							
							return false; // prevent text selection
						})
						
						.mouseover(function () {
							if (!isMouseDown) return;
							table.find(".selected").removeClass("selected");
							selectTo($(this));
						})
						
						.bind("selectstart", function () {
							return false;
						});

						$(document).mouseup(function () {
							isMouseDown = false;
						});
						
						/*$.each($("#table tr"), function( index, value ) {
							  if($( this ).children().hasClass("selected")){
							console.log($(this)+""+index);
							console.log($(this).attr('value'))

							}
							});*/
					</script>-->
				</section>
			</div>
		</div>
	</div>
</div>
					