<div class="page page-users">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent schedulebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<flip-header></flip-header>
		</div>

		<div class="row">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="addHolidaySchedularCTRL">
									<script type="text/ng-template" id="myholidaySchedularModalContent.html">
									<form ng-submit="ok()">
										<div class="modal-header"><h4 class="modal-title custom-font">Create Holiday Schedule</h4></div>
										<div class="hometabs">
											<div class="row">
												<div class="col-md-12 below1139">
													<div class="account" style="padding: 15px;">
														<div class="form-group row">
															<div class="col-md-12">
																<label for="">Schedule Name</label>
																<input type="text" name="" id="" ng-model="addHolidayScheduleObj.hs_name" class="form-control" required>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
																<label for="">Start Date </label>
																<div class="input-group">
																	<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="addHolidayScheduleObj.hs_start_date" is-open="opened" min-date="mindate" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;"/>
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																	</span>
																</div>
															</div>
															<div class="col-sm-6 col-md-6 form-group">
																<label for="">Start Time</label><br/>
																<select class="form-control" ng-model="addHolidayScheduleObj.hs_starttime" ng-options="time as time for time in starttimedropdown track by time" required>
																	<option value="">Select Time</option>
																</select>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
																<label for="">End Date</label>
																<div class="input-group">
																	<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="addHolidayScheduleObj.hs_end_date" is-open="opened" min-date="addHolidayScheduleObj.hs_start_date" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;"/>
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																	</span>
																</div>
															</div>
															<div class="col-sm-6 col-md-6 form-group">
																<label for="">End Time</label><br/>
																<select class="form-control" ng-model="addHolidayScheduleObj.hs_endtime" ng-options="time as time for time in endtimedropdown track by time" required>
																	<option value="">Select Time</option>
																</select>
															</div>
														</div>
														<div class="form-group row calstatus" ng-controller="ActivebtnCtrl">
															<div class="col-md-6 pr-0 mb-20">
																<label for="">Status</label><br/>
																<div class="btn-group btnrounded">
																	<label class="btn btn-default" ng-model="addHolidayScheduleObj.hs_status" uib-btn-radio="'1'" style="padding:12px 20px">Active</label>
																	<label class="btn btn-default" ng-model="addHolidayScheduleObj.hs_status" uib-btn-radio="'0'" style="padding:12px 20px">Inactive</label>
																</div>
															</div>
															<div class="col-md-6" ng-hide="radioModel=='Inactive'">
																<div ng-controller="DatepickerDemoCtrl">
																	<label for="">Expiration Date</label>
																	<div class="input-group">
																		<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="addHolidayScheduleObj.hs_expiration" is-open="opened" min-date="addHolidayScheduleObj.hs_end_date" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;" />
																		<span class="input-group-btn">
																			<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
											<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c" ><i class="fa fa-arrow-right"></i> Submit</button>
										</div>
										</form>
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Holiday Schedule</span></a>
								</div>
							</li>
						</ul>
					</div>

					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-20">
								<div class="col-sm-3 col-md-3 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('status')">Status</a></li>
											<li><a href="" ng-click="orderByMe('starttime')">Time</a></li>
											<li><a href="" ng-click="orderByMe('days')">Days</a></li>
										</ul>
									</label>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row">
										<div class="col-sm-8 col-md-9 search">
											<input type="text" class="form-control" ng-model="searchText" placeholder="Search by text....">
											<button class="btn btn-default br-2-r" type="button">Search</button>
										</div>
										<div class="col-sm-4 col-md-3 profilephoto csvupload">
											<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
											<span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Upload CSV</label></span>
										</div>
									</div>
								</div>
								<div class="col-sm-3 col-md-3">
									<div class="gridlistbar ta-r pull-right">
										<label class="control-label">View by</label>
										<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
										<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-sm-4 col-md-4">
										<label for="fbtext" class="control-label">Search by text</label>
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-sm-4 col-md-4">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-sm-4 col-md-4">
										<label for="fblocation" class="control-label">Search by Days</label>
										<input type="text" class="form-control" id="fblocation" ng-model="days">
									</div>
								</div>
							</div>
							<div ng-if="lstHolidaySchedular.length == 0">
								<div layout="row" class="error" ng-class="statusclass">
									<!--{{status}}-->
									No Record Found
								</div>
							</div>
							<div ng-class="class" ng-cloak>
								<div class="glview">
									<md-content>
										<md-card ng-repeat="schedule in lstHolidaySchedular | filter:text | filter:title | filter:days | orderBy:myOrderBy">
											<md-card-content>
												<h2 class="md-title">{{ schedule.hs_name }}</h2>
												<p>{{ schedule.hs_status==1?'Active':'InActive' }}</p>
												<p><strong>Start Date:&nbsp;</strong>{{ schedule.hs_start_date.date+' '+schedule.hs_start_date.time }}</p>
												<p><strong>End Date:&nbsp;</strong>{{ schedule.hs_end_date.date+' '+schedule.hs_end_date.time}}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.schedule.view-holiday-schedule({hs_id:schedule.hs_id})">View</a>
												<div ng-controller="editHolidaySchedularCTRL" style="display: inline-block;">
													<script type="text/ng-template" id="editmyholidaySchedularModalContent.html">
														<div class="modal-header"><h4 class="modal-title custom-font">Edit Holiday Schedule</h4></div>
														<div class="hometabs">
															<div class="row">
																<div class="col-md-12 below1139">
																	<div class="account" style="padding: 15px;">
																		<div class="form-group row">
																			<div class="col-md-12">
																				<label for="">Schedule Name</label>
																				<input type="text" name="" id="" ng-model="editHolidayScheduleObj.hs_name" class="form-control" placeholder="Office-Weekdays" required>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
																				<label for="">Start Date</label>
																				<div class="input-group">
																					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="editHolidayScheduleObj.hs_start_date" is-open="opened" datepicker-options="dateOptions" min-date="mindate" ng-required="true" close-text="Close" />
																					<span class="input-group-btn">
																						<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">Start Time</label><br/>
																				<select class="form-control" ng-model="editHolidayScheduleObj.hs_starttime" ng-options="time as time for time in editstarttimedropdown track by time" required>
																					<option value="">Select Time</option>
																				</select>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-6 col-md-6 form-group" ng-controller="DatepickerDemoCtrl">
																				<label for="">End Date</label>
																				<div class="input-group">
																					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="editHolidayScheduleObj.hs_end_date" is-open="opened" datepicker-options="dateOptions" min-date="editHolidayScheduleObj.hs_start_date" ng-required="true" close-text="Close" />
																					<span class="input-group-btn">
																						<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">End Time</label><br/>
																				<select class="form-control" ng-model="editHolidayScheduleObj.hs_endtime" ng-options="time as time for time in editendtimedropdown track by time" required>
																					<option value="">Select Time</option>
																				</select>
																			</div>
																		</div>
																		<div class="form-group row calstatus" ng-controller="ActivebtnCtrl">
																			<div class="col-md-6 pr-0 mb-20">
																				<label for="">Status</label><br/>
																				<div class="btn-group btnrounded">
																					<label class="btn btn-default" ng-model="editHolidayScheduleObj.hs_status" uib-btn-radio="'1'" style="padding:12px 20px">Active</label>
																					<label class="btn btn-default" ng-model="editHolidayScheduleObj.hs_status" uib-btn-radio="'0'" style="padding:12px 20px">Inactive</label>
																				</div>
																			</div>
																			<div class="col-md-6" ng-hide="radioModel=='Inactive'">
																				<div ng-controller="DatepickerDemoCtrl">
																					<label for="">Expiration Date</label>
																					<div class="input-group">
																						<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="editHolidayScheduleObj.hs_expiration" is-open="opened" datepicker-options="dateOptions" ng-required="true" min-date="editHolidayScheduleObj.hs_end_date" close-text="Close" />
																						<span class="input-group-btn">
																							<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																						</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
															<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c" ng-click="ok()"><i class="fa fa-arrow-right"></i> Save</button>
														</div>
													</script>
													<a ng-click="open(schedule)" class="btn btn-success btn-border btn-rounded">Edit</a>
												</div>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event,schedule.hs_id)">Delete</a>
											</div>
										</md-card>
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMoreScheduleList()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

	</div>
</div>