<header class="clearfix">
	<div class="branding">
		<a class="brand" ui-sref="app.admin.dashboard({facility_id:facility_id})">
			<span><strong>Elika</strong> Access Systems</span>
		</a>
	</div>
	
	<div class="mobmenu">
		<a href="javascript:;" class="animated-arrow">
			<span></span>
		</a>
	</div>
	
	<div class="topmenu pull-left">
		<div class="branding">
			<a class="brand" ui-sref="app.admin.dashboard({facility_id:facility_id})">
				<span><strong>Elika</strong> Access System</span>
			</a>
		</div>
		<ul class="nav-right list-inline headmenu">
			<!-- <li><a ui-sref="app.admin.dashboard"><span>Home</span></a></li> -->
			<!-- <li ng-if="navbar_facilities_count > 1" class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>{{current_facility}} &nbsp; <fa name="angle-down"></fa> </span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
								
					<li ><a ng-click="goFacilityList()">All Facilities</a></li>
					<li ng-repeat="facility in headerFacilityList"><a ng-click="setCurrentFacility(facility.facility_name,facility.facility_id)">{{ facility.facility_name }}</a></li>
				</ul>
			</li>
			<li ng-if="navbar_facilities_count == 1" class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" ui-sref="app.admin.facility.facility" uib-dropdown-toggle>Facilities </span>
			</li> -->
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" ui-sref="app.admin.facility.facility" uib-dropdown-toggle>Facilities </span>
			</li>
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>Devices &nbsp;<fa name="angle-down"></fa></span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.device.devices">Primary Devices</a></li>
					<!-- <li><a ui-sref="app.admin.device.dependent-devices">Dependent Devices</a></li> -->
				</ul>
			</li>
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>Users &nbsp;<fa name="angle-down"></fa></span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.user.users">Users</a></li>
					<li><a ui-sref="app.admin.user.add-user">Add User</a></li>
					<li><a ui-sref="app.admin.user.user-groups">User Groups</a></li>
					<li><a ui-sref="app.admin.support.technician">Technician</a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>Doors &nbsp;<fa name="angle-down"></fa></span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.door.doors">Doors</a></li>
					<li><a ui-sref="app.admin.door.door-groups">Door Groups</a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>Schedules &nbsp;<fa name="angle-down"></fa></span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.schedule.schedules">Schedules</a></li>
					<li><a ui-sref="app.admin.schedule.add-schedule">Add Schedule</a></li>
					<li><a ui-sref="app.admin.schedule.holiday-schedules">Holiday Schedules</a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown>
				<!-- <span class="dropdown-toggle" uib-dropdown-toggle>Administrator &nbsp;<fa name="angle-down"></fa></span> -->
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.administrator.roles">Roles</a></li>
					<li><a ui-sref="app.admin.administrator.add-roles">Add Roles</a></li>
					<li><a ui-sref="app.admin.administrator.admin">Admin</a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown>
				<span class="dropdown-toggle" uib-dropdown-toggle>Camera DVR &nbsp;<fa name="angle-down"></fa></span>
				<ul class="dropdown-menu panel panel-default animated littleFadeInDown" role="menu">
					<li><a ui-sref="app.admin.camera.camera-dvr">Live and Recorded Feeds</a></li>
					<!-- <li><a ui-sref="app.admin.setup.camera-directory">Camera Directory</a></li>
					<li><a ui-sref="app.admin.setup.dvr-directory">DVR Directory</a></li>
					<li><a ui-sref="app.admin.setup.dvrcamera-directory">DVR Camera Directory</a></li> -->
					<!--li><a ui-sref="app.admin.setup.eagle-eye-directory">Eagle Eye Directory</a></li-->
				</ul>
			</li>
			<li><a ui-sref="app.admin.activity"><span>Activity</span></a></li>
			<li><a ui-sref="app.admin.contact"><span>Contact Us</span></a></li>
			<!-- <li><a href=""><span>Reports</span></a></li> -->			
		</ul>
	</div> 
	
	
	<ul class="nav-right pull-right list-inline headmenu">
		<!-- <li class="dropdown messages" uib-dropdown>
			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<img src="images/bell.png" class="sm-img"><span class="badge bg-lightred">4</span>
			</a>
			<div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInDown notification" role="menu">
				<div class="panel-heading">You have <strong>1</strong> messages and <strong>3</strong> notifications.</div>
				<ul class="list-group">
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object thumb thumb-sm">
									<img src="images/users/8.jpg" alt="" class="img-circle">
								</span>
							</div>
							<div class="media-body">
								<span class="block">Imrich sent you a message</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-primary">
									<fa name="bolt"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">New user registered</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-danger">
									<fa name="ban"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Imrich cancelled account</span>
								<small class="text-muted">6 minutes ago</small>
							</div>
						</a>
					</li>					
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class=" media-object media-icon bg-greensea">
									<fa name="lock"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Robert locked account</span>
								<small class="text-muted">18 minutes ago</small>
							</div>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<a ui-sref="app.admin.help.message-notification">Show all messages and notifications <fa name="angle-right" class="pull-right"></fa></a>
				</div>
			</div>
		</li> -->
		
		<li class="dropdown nav-profile" uib-dropdown>
			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<img src="images/avatar.jpg" alt="" class="img-circle size-30x30">
				<span><span class="uname"><username></username></span> <fa name="angle-down"></fa></span>
			</a>
			<ul class="dropdown-menu pull-right panel panel-default animated littleFadeInDown" role="menu">
				<li><a ui-sref="app.admin.profile-settings"><i class="fa fa-cog" aria-hidden="true"></i> Profile Settings</a></li>
				<!-- <li><a ui-sref="app.admin.help.faqs"><i class="fa fa-question" aria-hidden="true"></i> Help and FAQ's</a></li> -->
				<li ><a elika-faqs><i class="fa fa-question" aria-hidden="true"></i> Help and FAQ's</a></li>
				<li><a logout-btn><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
				<li class="version">Version 1.0.0</li>
				<!-- logout-btn -->
			</ul>
		</li>
	</ul>
</header>
<script type="text/javascript">
	$(document).ready(function() {
		var winw = $(window).width();
		var winh = $(window).height();
		
		$('.animated-arrow').click(function(){
			$(this).toggleClass('openmenu');
			$(this).parent().siblings('.topmenu').toggleClass('openmmenu');
			$('.page').toggleClass('bodyfix');
			$('.view-container').toggleClass('bodygray');
		});
		
		$('#content, .topmenu .dropdown-menu > li > a, #header .topmenu .nav-right > li > a').click(function(){
			$('.view-container').removeClass('bodygray');
			$('.animated-arrow').removeClass('openmenu');
			$('.topmenu').removeClass('openmmenu');
			$('.page').removeClass('bodyfix');
		});
		
	});
</script>