<header class="clearfix">
	<div class="branding">
		<a class="brand" ui-sref="app.dashboard">
			<span><strong>Elika</strong> Access System</span>
		</a>
		<a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
	</div>
	<ul class="nav-right pull-right list-inline headmenu">
		<li class="dropdown messages" uib-dropdown>
			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<fa name="bullhorn"></fa><span class="badge bg-lightred">4</span>
			</a>
			<div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInDown" role="menu">
				<div class="panel-heading">You have <strong>1</strong> messages and <strong>3</strong> notifications.</div>
				<ul class="list-group">
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object thumb thumb-sm">
									<img src="images/users/8.jpg" alt="" class="img-circle">
								</span>
							</div>
							<div class="media-body">
								<span class="block">Imrich sent you a message</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-primary">
									<fa name="bolt"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">New user registered</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-danger">
									<fa name="ban"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Imrich cancelled account</span>
								<small class="text-muted">6 minutes ago</small>
							</div>
						</a>
					</li>					
					<li class="list-group-item">
						<a ui-sref="app.admin.help.message-notification" class="media">
							<div class="media-left">
								<span class=" media-object media-icon bg-greensea">
									<fa name="lock"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Robert locked account</span>
								<small class="text-muted">18 minutes ago</small>
							</div>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<a ui-sref="app.admin.help.message-notification">Show all messages and notifications <fa name="angle-right" class="pull-right"></fa></a>
				</div>
			</div>
		</li>

		<li class="dropdown notifications" uib-dropdown>
			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<fa name="history"></fa><span class="badge bg-lightred">5</span>
			</a>
			<div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft" role="menu">
				<div class="panel-heading">You have <strong>3</strong> history and <strong>2</strong> events.</div>
				<ul class="list-group">
					<li class="list-group-item">
						<a ui-sref="app.admin.help.history-events" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-danger">
									<fa name="ban"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Imrich cancelled account</span>
								<small class="text-muted">6 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.history-events" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-primary">
									<fa name="bolt"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">New user registered</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.history-events" class="media">
							<div class="media-left">
								<span class=" media-object media-icon bg-greensea">
									<fa name="lock"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Robert locked account</span>
								<small class="text-muted">18 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.history-events" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-danger">
									<fa name="ban"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">User Imrich cancelled account</span>
								<small class="text-muted">6 minutes ago</small>
							</div>
						</a>
					</li>
					<li class="list-group-item">
						<a ui-sref="app.admin.help.history-events" class="media">
							<div class="media-left">
								<span class="media-object media-icon bg-primary">
									<fa name="bolt"></fa>
								</span>
							</div>
							<div class="media-body">
								<span class="block">New user registered</span>
								<small class="text-muted">12 minutes ago</small>
							</div>
						</a>
					</li>
				</ul>

				<div class="panel-footer">
					<a ui-sref="app.admin.help.history-events">Show all notifications <fa name="angle-right" class="pull-right"></fa></a>
				</div>
			</div>
		</li>
		
		<li class="dropdown nav-profile" uib-dropdown>
			<a href class="dropdown-toggle" uib-dropdown-toggle>
				<img src="images/avatar.jpg" alt="" class="img-circle size-30x30">
				<span>Elika Admin <fa name="angle-down"></fa></span>
			</a>
			<ul class="dropdown-menu animated littleFadeInRight" role="menu">
				<li><a ui-sref="core.login"><fa name="sign-out"></fa>Logout</a></li>
			</ul>
		</li>
	</ul>
</header>