<div id="sidebar-wrap">
	<ul id="navigation" nav-collapse ripple>
	
		<!--li ui-sref-active="active"><a ui-sref="app.dashboard"><fa name="dashboard"></fa> <span>{{ 'Menu.DASHBOARD' | translate }}</span></a></li-->

		<li ui-sref-active="active"><a ui-sref="app.facility"><fa name="map-marker"></fa> <span>{{ 'Menu.FACILITY' | translate }}</span></a></li>

		<li ui-sref-active="active" ng-class="{'open':$state.includes('app.user')}">
			<a ui-sref="app.user"><fa name="users"></fa> <span>{{ 'Menu.USER' | translate }}</span></a>
			<ul>
				<li ui-sref-active="active"><a ui-sref="app.user.users"><fa name="caret-right"></fa> {{ 'Menu.USERS' | translate }}</a></li>
				<li ui-sref-active="active"><a ui-sref="app.user.user-groups"><fa name="caret-right"></fa> {{ 'Menu.USER_GROUPS' | translate }}</a></li>
			</ul>
		</li>
	
		<li ui-sref-active="active" ng-class="{'open':$state.includes('app.door')}">
			<a ui-sref="app.door"><fa name="pause"></fa> <span>{{ 'Menu.DOOR' | translate }}</span></a>
			<ul>
				<li ui-sref-active="active"><a ui-sref="app.door.doors"><fa name="caret-right"></fa> {{ 'Menu.DOORS' | translate }}</a></li>
				<li ui-sref-active="active"><a ui-sref="app.door.door-groups"><fa name="caret-right"></fa> {{ 'Menu.DOOR_GROUPS' | translate }}</a></li>
			</ul>
		</li>
	
		<li ui-sref-active="active" ng-class="{'open':$state.includes('app.schedule')}">
			<a ui-sref="app.schedule"><fa name="calendar"></fa> <span>{{ 'Menu.SCHEDULE' | translate }}</span></a>
			<ul>
				<li ui-sref-active="active"><a ui-sref="app.schedule.schedules"><fa name="caret-right"></fa> {{ 'Menu.SCHEDULES' | translate }}</a></li>
				<li ui-sref-active="active"><a ui-sref="app.schedule.schedule-groups"><fa name="caret-right"></fa> {{ 'Menu.SCHEDULE_GROUPS' | translate }}</a></li>
				<li ui-sref-active="active"><a ui-sref="app.schedule.holiday-schedule"><fa name="caret-right"></fa> {{ 'Menu.HOLIDAY_SCHEDULE' | translate }}</a></li>
			</ul>
		</li>
		
		<li ui-sref-active="active" ng-class="{'open':$state.includes('app.permissions')}">
			<a ui-sref="app.permissions"><fa name="key"></fa> <span>{{ 'Menu.PERMISSIONS' | translate }}</span></a>
			<ul>
				<li ui-sref-active="active"><a ui-sref="app.permissions.roles"><fa name="caret-right"></fa> {{ 'Menu.ROLES' | translate }}</a></li>
				<li ui-sref-active="active"><a ui-sref="app.permissions.admin"><fa name="caret-right"></fa> {{ 'Menu.ADMIN' | translate }}</a></li>
			</ul>
		</li>
	
		<li ui-sref-active="active" ng-class="{'open':$state.includes('app.support')}">
			<a ui-sref="app.support"><fa name="wrench"></fa> <span>{{ 'Menu.SUPPORT' | translate }}</span></a>
			<ul>
				<li ui-sref-active="active"><a ui-sref="app.support.technician"><fa name="caret-right"></fa> {{ 'Menu.TECHNICIAN' | translate }}</a></li>
			</ul>
		</li>
		
		<li ui-sref-active="active"><a ui-sref="app.help"><fa name="question"></fa> <span>{{ 'Menu.HELP' | translate }}</span></a></li>
	</ul>
</div>
