<div class="page page-profile">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent technicianbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<!-- <p>{{page.subtitle}}</p> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<flip-header></flip-header>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">

						<h4 class="mb-0"><strong>{{technician.technician_first_name}}</strong></h4>
						<span class="text-muted">{{technician.technician_phone}}</span>
						<div class="mt-40">
							<button ng-click="showConfirm($event,technician.technician_id)" class="btn btn-rounded-20 btn-sm btn-lightred">Delete Technician</button>
						</div>
					</div>
				</section>
			</div>

			<div class="col-sm-12 col-md-8">
				<section class="tile tile-simple">
					<div class="tile-body p-0">
						<uib-tabset class="tabs-dark">

							<uib-tab heading="Profile Detail">
								<div class="wrap-reset">
									<div class="row">
										<div class="col-sm-12 col-md-12">
											<div class="form-group legend">
												<h4><strong>Account</strong> Details</h4>
											</div>
											<div class="form-group profiledetail">
												<p><label>Name</label><span class="rightdetails">{{technician.technician_first_name + " "+ technician.technician_last_name}}</span></p>
												<p><label>E-mail</label><span class="rightdetails">{{technician.technician_email}}</span></p>
												<p><label>Phone</label><span class="rightdetails">{{technician.technician_phone}}</span></p>
												<p><label>Address</label><span class="rightdetails">{{technician.technician_address}}</span></p>
												<p><label>Expiration Date</label><span class="rightdetails">{{technician.technician_expiration_date*1000 | date:'d MMM yyyy': 'UTC'}}</span></p>
												<p><label>Status</label><span class="rightdetails">{{(technician.technician_status == 1)?'Active':'Inactive'}}</span></p>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Account">
								<div class="wrap-reset">
									<form ng-validate="validationOptions" name="techProfile" role="form">
										<div class="modal-body">
											<div class="form-group row">
												<div class="col-sm-6 col-sm-6">
													<label for="first-name">First Name <span class="text-danger">*</span></label>
													<input type="text" class="form-control" maxlength="15" ng-model="addTechnician.technician_first_name" id="first-name" name="first_name"
													 required="required">
												</div>
												<div class="col-sm-6 col-sm-6">
													<label for="last-name">Last Name <span class="text-danger">*</span></label>
													<input type="text" ng-model="addTechnician.technician_last_name" class="form-control" maxlength="15" id="last-name" name="last_name" required="required">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-sm-6">
													<label for="email">Email Address <span class="text-danger">*</span></label>
													<input type="email" ng-model="addTechnician.technician_email" class="form-control" id="email" maxlength="64" 
													 name="email" required="required" readonly>
												</div>
												<div class="col-sm-6 col-sm-6">
													<label for="first-name">Phone Number <span class="text-danger">*</span></label>
													<input type="text" ui-mask="(999) 999-9999" ng-model="addTechnician.technician_phone" class="form-control" id="first-name" 
													 required="required" name="phone_number">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-sm-6">
													<label for="address1">Address <span class="text-danger">*</span></label>
													<input type="text" class="form-control" id="address1" ng-model="addTechnician.technician_address" value="558 Margaret Street, LOS ANGELES, CA-90001, USA"
													 name="address" required="required">
												</div>
												<div class="col-sm-6 col-sm-6">
													<label for="address1">Zip Code <span class="text-danger">*</span></label>
													<input type="text" class="form-control" id="address1" ng-model="addTechnician.technician_zipcode" maxlength="6" required="required">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<div class="row">
														<div class="col-sm-5 col-md-5 pr-0">
															<label for="">Status <span class="text-danger">*</span></label><br/>
															<div class="btn-group btnrounded">
																<label class="btn btn-default" ng-model="addTechnician.technician_status" uib-btn-radio="1">Active</label>
																<label class="btn btn-default" ng-model="addTechnician.technician_status" uib-btn-radio="0">Inactive</label>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Expiration Date <span class="text-danger">*</span></label>
													<div class="input-group userexp" ng-controller="DatepickerDemoCtrl">
														<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model-options="{ timezone: 'UTC' }"  ng-model="addTechnician.expiration_date"
														 min-date="mindate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
														 />
														<!--<input type="text" onkeypress="return false;" id="expirationdate" name="expirationdate" class="form-control" uib-datepicker-popup="{{format}}"
														 ng-model="addTechnician.expirationdate" ng-value="addTechnician.expiration_date"  is-open="opened"
														 min-date="mindate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />-->
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>
												</div>
											</div>
											<div class="form-group row legend">
												<div class="col-md-12">
													<p></p>
													<div onclick="window.history.back()" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</div>
													<button type="submit" ng-click="submitTechProfile(addTechnician,techProfile)" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>