<div class="page admin">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">15</p>
									<span class="text-lg">Primary Devices</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">					
					<a ui-sref="app.admin.device.dependent-devices">
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-mobile fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">7</p>
									<span class="text-lg">Dependent Devices</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.user.users">
						<div class="noback bg-lightred">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">95</p>
									<span class="text-lg">Users</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="DependentDeviceCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="form1" role="form">
											<div class="modal-header"><h4 class="modal-title custom-font">Add Configuration Device</h4></div>
											<div class="modal-body">	
												<div class="row overflow">
													<div class="col-md-6 first">
														<div class="form-group">
															<label for="">Device Name</label>
															<input type="text" name="" id="" class="form-control mb-10" placeholder="">
														</div>
													</div>
													<div class="col-md-6 last">
														<div class="form-group">
															<label for="">Model Name</label>
															<input type="text" name="" id="" class="form-control mb-10" placeholder="">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 first">
														<div class="form-group">
															<label for="">Serial Number</label>
															<input type="text" name="" id="" class="form-control mb-10" placeholder="">
														</div>
													</div>
													<div class="col-md-6 last">
														<div class="form-group">
															<label for="">Facility</label><br/>
															<select class="form-control" disabled>
																<option selected>USA Corporate Services</option>
																<option>Aerzen USA Corporation</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group" ng-controller="DependentbtnCtrl">
													<label for="">Device Type</label><br/>
													<div class="btn-group btnrounded" >
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Primary'">Primary</label>
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Dependent'">Dependent</label>
													</div>
													<div class="slavevalues" ng-hide="radioModel=='Primary'">
														<select class="form-control mb-10">
															<option>Select Primary Device</option>
															<option>Reception Room</option>
															<option>Conference Room</option>
															<option>Server Room</option>
															<option>Meeting Room</option>
															<option>Development Room</option>
															<option>Boardroom</option>
															<option>Managers Room</option>
															<option>Director Room</option>
															<option>Inventory Room</option>
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 first">
														<div class="form-group">
															<label for="">Technician</label><br/>
															<select class="form-control">
																<option>Arnold</option>
																<option>Peter</option>
																<option>Paracosm</option>
																<option>Jason</option>
																<option>Paul</option>
																<option>Vin</option>
																<option>Dwayne</option>
															</select>
															<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.subadmin.support.technician">Add Technician</a></small>
														</div>
													</div>
													<div class="col-md-6 last">
														<div class="form-group">
															<label for="">Doors</label><br/>
															<select class="form-control">
																<option>Main Gate Front</option>
																<option>Main Gate Back</option>
																<option>Exit Gate Front</option>
																<option>Exit Gate Back</option>
																<option>Parking Entry Gate</option>
																<option>Parking Exit Gate</option>
																<option>Pool Gate</option>
																<option>Gym Gate</option>
															</select>
															<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.subadmin.door.doors">Add Door</a></small>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>		
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Devices</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-20">
								<div class="col-md-4 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('facility')">Facility</a></li>
											<li><a href="" ng-click="orderByMe('model')">Model</a></li>
										</ul>
									</label>
								</div>
								<div class="col-md-4 search">
									<input type="text" class="form-control" placeholder="Search by text....">
									<button class="btn btn-default br-2-r" type="button">Search</button>
								</div>
								<div class="col-md-4">
									<div class="gridlistbar ta-r pull-right">
										<label class="control-label">View by</label>
										<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
										<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-md-3">
										<label for="fbtext" class="control-label">Search by text</label> 
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-md-3">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-md-3">
										<label for="fblocation" class="control-label">Search by facility</label>
										<input type="text" class="form-control" id="fblocation" ng-model="facility">
									</div>
								</div>
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="device in dependentDevice | filter:text | filter:title | filter:facility | orderBy:myOrderBy">
											<a ui-sref="app.admin.device.device-details"><img ng-src="{{imagePath}}/device/{{ device.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
											<md-card-content>
												<h2 class="md-title">{{ device.device_name }}</h2>
												<p>{{ device.device_model }}</p>
												<p>Dependent {{ device.device_slave_count }}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.device.dependent-devices-details({device_id:device.device_id})">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.admin.device.dependent-devices-details({device_id:device.device_id})">Edit</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm(device.device_id,$event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
		
	</div>
</div>