<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">35</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-mobile fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">3</p>
									<span class="text-lg">Dependent Devices</span>
								</div>
							</div>
						</div>
					
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-5 ta-c">
								<i class="fa fa-users fa-5x"></i>
							</div>
							<div class="col-xs-7">								
								<p class="text-elg text-strong mt-5 mb-5">3</p>
								<span class="text-lg">Users</span>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<section class="tile tile-simple">
					<div class="tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/device/1.jpg" alt="">
						</div>
						<h3 class="mb-10"><strong>Reception Room</strong></h3>
						<span class="text-muted">Elika-460</span>
						<span class="text-muted">Wifi &nbsp;|&nbsp; RFID &nbsp;|&nbsp; BLE &nbsp;|&nbsp; Camera</span>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">Dependent Devices</span>
							</li>
							<li class="tcol bg-blue dker p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">Users</span>
							</li>
						</ul>
					</div>  
				</section> 
				
				<section class="tile tile-simple"> 
					<div class="tile-header">
						<h1 class="custom-font"><strong>Description</strong></h1>
					</div> 
					<div class="tile-body">
						<p class="text-default lt">The ELIKA 460 will feature a white color option which presents a clean modern look. This will be the first model to hit the market. Multiple wireless connectivity options with residential and commercial capabilities make the ideal system for any application.</p> 
					</div> 
				</section> 
			</div>
			
			<div class="col-md-8" ng-controller="DeviceDetailsCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Device Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Device</strong> Details</h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-12 profiledetail">
												<p><label>Name</label> Reception Room</p>
												<p><label>Model</label> Elika-460</p>
												<p><label>Serial No.</label> eliak46010192016s</p>
												<p><label>Registration No.</label> 10192016eliak460s</p>
												<p><label>Manufacturing Date</label> 21/01/2015</p>
												<p><label>Modification Date</label> 15/06/2017</p>
												<p><label>Features</label> Wifi &nbsp;|&nbsp; RFID &nbsp;|&nbsp; BLE &nbsp;|&nbsp; Camera</p>												
											</div>											
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend mb-20">
												<h4><strong>Device</strong> Status</h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12">													
												<div class="tile-body p-0">
													<table class="table table-bordered dstatus">
														<thead>
															<tr>
																<th>Settings</th>
																<th>Status</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Wifi</td>
																<td class="online"><i class="fa fa-circle"></i> Online</td>
															</tr>
															<tr>
																<td>Device Module</td>
																<td class="offline"><i class="fa fa-circle"></i> Offline</td>
															</tr>
															<tr>
																<td>BLE</td>
																<td class="online"><i class="fa fa-circle"></i> Online</td>
															</tr>
															<tr>
																<td>RFID</td>
																<td class="online"><i class="fa fa-circle"></i> Online</td>
															</tr>
															<tr>
																<td>Camera</td>
																<td class="online"><i class="fa fa-circle"></i> Online</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Dependent Devices">
								<div class="wrap-reset"> 
									<div class="table-custom">
										<div class="row pos-r">
											<div class="col-md-6 filterorder">
												<label class="control-label" ng-init="filtershow=true">
													<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
												</label>
												<label class="control-label" uib-dropdown on-toggle="toggled(open)">
													<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
													<ul class="dropdown-menu with-arrow animated littleFadeInUp">
														<li><a href="" ng-click="orderByMe('title')">Title</a></li>
														<li><a href="" ng-click="orderByMe('model')">Model</a></li>
													</ul>
												</label>
											</div>
											<div class="col-md-6">
												<div class="gridlistbar ta-r pull-right">
													<label class="control-label">View by</label>
													<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
													<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="filterfields" ng-hide="filtershow">
												<div class="col-md-4">
													<label for="fbtext" class="control-label">Search by text</label> 
													<input type="text" class="form-control" id="fbtext" ng-model="text">
												</div>
												<div class="col-md-4">
													<label for="fbtitle" class="control-label">Search by title</label>
													<input type="text" class="form-control" id="fbtitle" ng-model="title">
												</div>
												<div class="col-md-4">
													<label for="fblocation" class="control-label">Search by model</label>
													<input type="text" class="form-control" id="fblocation" ng-model="model">
												</div>
											</div>
										</div>
										<div ng-if="result">									
											<div layout="row" ng-class="statusclass">									
												{{result}}
											</div>
										</div>
										<div ng-class="class">
											<div class="glview">
												<md-content>			
													<md-card class="slaveusers" ng-repeat="device in devices | limitTo:totalDisplayed | filter:text | filter:title | filter:model | orderBy:myOrderBy">
														<a ui-sref="app.admin.device.dependent-devices-details"><img ng-src="{{imagePath}}/device/{{ device.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
														<md-card-content>
															<h2 class="md-title">{{ device.title }}</h2>
															<p>{{ device.model }}</p>
															<p>{{ device.noofuser }} Users</p>
														</md-card-content>
														<div class="md-actions" layout="row" layout-align="center center">
															<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.device.dependent-devices-details">View</a>
															<a class="btn btn-success btn-border btn-rounded" ui-sref="app.admin.device.dependent-devices-details">Edit</a>
															<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
														</div>
													</md-card>
												</md-content>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Users">
								<div class="wrap-reset"> 
									<div class="table-custom">
										<div class="row pos-r">
											<div class="col-md-6 filterorder">
												<label class="control-label" ng-init="filtershow=true">
													<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
												</label>
												<label class="control-label" uib-dropdown on-toggle="toggled(open)">
													<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
													<ul class="dropdown-menu with-arrow animated littleFadeInUp">
														<li><a href="" ng-click="orderByMe('name')">Name</a></li>
														<li><a href="" ng-click="orderByMe('group')">Group</a></li>
													</ul>
												</label>
											</div>
											<div class="col-md-6">
												<div class="gridlistbar ta-r pull-right">
													<label class="control-label">View by</label>
													<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
													<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="filterfields" ng-hide="filtershow">
												<div class="col-md-4">
													<label for="fbtext" class="control-label">Search by text</label> 
													<input type="text" class="form-control" id="fbtext" ng-model="text">
												</div>
												<div class="col-md-4">
													<label for="fbtitle" class="control-label">Search by name</label>
													<input type="text" class="form-control" id="fbtitle" ng-model="name">
												</div>
												<div class="col-md-4">
													<label for="fblocation" class="control-label">Search by group</label>
													<input type="text" class="form-control" id="fblocation" ng-model="group">
												</div>
											</div>
										</div>
										<div ng-if="result">									
											<div layout="row" ng-class="statusclass">									
												{{result}}
											</div>
										</div>
										<div ng-class="class">
											<div class="glview">
												<md-content>
													<md-card class="slaveusers" ng-repeat="user in users | limitTo:totalDisplayed | filter:text | filter:title | filter:group | orderBy:myOrderBy"">
														<a ui-sref="app.admin.user.user-profile"><img ng-src="{{imagePath}}/users/{{ user.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
														<md-card-content>
															<h2 class="md-title">{{ user.name }}</h2>
															<p>{{ user.group }}</p>
															<p>{{ user.phone }}</p>
														</md-card-content>
														<div class="md-actions" layout="row" layout-align="center center">
															<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.user.user-profile">View</a>
															<a class="btn btn-success btn-border btn-rounded" ui-sref="app.admin.user.user-profile">Edit</a>
															<a class="btn btn-danger btn-border btn-rounded">Delete</a>
														</div>
													</md-card>
												</md-content>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Device">
								<div class="wrap-reset"> 
									<form name="form1" role="form">
										<div class="modal-body">											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Device Name</label>
													<input type="text" name="" id="" class="form-control mb-10" value="">
												</div>
												<div class="form-group col-sm-6">
													<label for="">Serial Number</label>
													<input type="text" name="" id="" class="form-control mb-10" value="">
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Registration Code</label>
													<input type="text" name="" id="" class="form-control mb-10" value="">
												</div>
												<div class="form-group col-sm-6">
													<label for="">Device Type</label><br/>
													<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Master</label>
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Dependent</label>
													</div>
													<div class="slavevalues">
														<select class="form-control mb-10">
															<option>Conference Room</option>
															<option>Reception</option>
															<option>Waiting Room</option>
														</select>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Technician</label><br/>
													<select multiple chosen="{width: '100%'}">
														<option value="WS">Will Smith</option>
														<option value="RP">Robert Pattinson</option>
														<option value="ZE">Zac Efron</option>
														<option value="JD">Johny Depp</option>
														<option value="KH">Kevin Hart</option>
														<option value="BA">Ben Affleck</option>
													</select>
												</div>
											</div>		
										</div>
										<div class="row">
											<div class="form-group col-md-12 legend mt-20">
												<p></p>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</button>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Save</button>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
