<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/device/elika-76-bronze.png" alt="">
						</div>
						<h3 class="mb-10"><strong>{{details.device_name}}</strong></h3>
						<span class="text-muted">{{details.device_model}}</span>
						<div class="mt-40">
							<!--<a ui-sref="app.admin.device.device-settings({device_id:device_id})" class="btn btn-rounded-20 btn-sm btn-slategray">View Settings</a>-->
							<!--<a ui-sref="app.admin.device.service-plan({device_id:device_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk mr-5 ml-5">View Plan</a>-->
							<a ng-click="showConfirm($event,device_id)" class="btn btn-rounded-20 btn-sm bg-danger">Delete Device</a>
						</div>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">Dependent Devices</span>
							</li>
						</ul>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" ng-controller="EditDeviceCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>
						<div class="hometabs">
							<div class="wrap-reset m-0 pt-20">
								<form name="add_dependent" role="form" id="add_dependent" ng-validate="validationOptions">
									<div class="modal-body mt-5">											
										<div class="row">
											<div class="form-group col-sm-12 col-md-12">
												<label for="">Device Name</label>
												<input type="text" name="device_name" id="" ng-model="editDevice.device_name" class="form-control" placeholder="" required>
											</div>
											<!---<div class="form-group col-sm-6 col-md-6">
												<label for="">Model Name</label>
												<select name="model_name" ng-model="editDevice.model_name" class="form-control" ng-options="model for model in deviceModel" required>
													<option value="">Select</option>
												</select>
											</div>-->
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Serial Number</label>
												<input type="text" name="serial_no" id="" ng-model="editDevice.device_serial_no" class="form-control" disabled placeholder="" required>
											</div>
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Registration Code</label>
												<input name="registration_code" ng-model="editDevice.device_registration_code" class="form-control" disabled required />
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Facility</label>
												<select type="text" name="facility_id" id="" ng-model="editDevice.device_facility_id" ng-options="item.facility_id as item.facility_name for item in facilityList" class="form-control" placeholder="" required>
													<option value="">Select</option>
												</select>
											</div>
											<div class="col-sm-6 col-md-6">
												<div class="row">
													<div class="form-group col-sm-6 col-md-6 pr-0">
														<label for="">Device Type</label><br/>
														<div class="btn-group btnrounded" ng-init="editDevice.device_type='slave'">
															<label class="btn btn-default" ng-model="editDevice.device_type" uib-btn-radio="'master'">Primary</label>
															<label class="btn btn-default" ng-model="editDevice.device_type" uib-btn-radio="'slave'">Dependent</label>
														</div>
													</div>
													<div class="form-group col-sm-6 col-md-6 pl-0" ng-hide="editDevice.device_type=='master'">
														<label for="">&nbsp;</label>
														<select class="form-control" ng-options="item.device_id as item.device_name for item in deviceData track by item.device_id" ng-model="editDevice.device_master_id">
															<option value="">Select Primary Device</option>
														</select>
													</div>
												</div>
											</div>												
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Doors</label><br/><!--doorList-->
												<select ng-model="editDevice.door_id" multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in doorList">
												</select>
											</div>
										
											<div class="form-group col-sm-6 col-md-6" >
												<label for="">Technician</label><br/>
												
												<select class="form-control" name="technician_id" ng-options="item.technician_id as item.technician_name for item in technicianList track by item.technician_id"  ng-model="editDevice.technician_id" required>
													<option value="">Select</option>
												</select>
												<small class="pull-right" style="margin-bottom:-5px;"><a ui-sref="app.admin.support.technician">Add Technician</a></small>
											</div>
										</div>
										<div class="form-group row legend">
											<div class="col-md-12">
												<p></p>
												<button back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</button>
												<button ng-click="formSubmit(editDevice,add_dependent)" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
											</div>
										</div>											
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
