<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<!--<p>{{page.subtitle}}</p>-->									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>				
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/device/elika-76-bronze.png" alt="">
						</div>
						<h3 class="mb-10"><strong>{{details.device_name}}</strong></h3>
						<span class="text-muted">{{details.device_model}}</span>
						<div class="mt-40">
							<a ui-sref="app.admin.device.device-settings({device_id:device_id})" class="btn btn-rounded-20 btn-sm btn-slategray">View Settings</a>
							<a ui-sref="app.admin.device.service-plan({device_id:device_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk mr-5 ml-5">View Plan</a>
							<a ng-click="showConfirm($event)" class="btn btn-rounded-20 btn-sm bg-danger">Delete Device</a>
						</div>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h2 class="m-0">{{details.device_slave_count || 0}}</h2>
								<span class="text-transparent-white">Dependent Devices</span>
							</li>
						</ul>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" ng-init="dependentDeviceInit()">
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark">
							<uib-tab heading="Device Detail">
								<div class="wrap-reset">
									<div class="row">
										<div class="col-sm-12 col-md-12">
											<div class="form-group legend">
												<h4><strong>Device</strong> Details <span class="pull-right"><a class="text-sm text-lightred" ui-sref="app.admin.device.edit-device({device_id:device_id})">Edit Device</a></span></h4>
											</div>
											<div class="form-group profiledetail">
												<p><label>Facility Name</label> {{details.facility_name}}</p>
												<p><label>Device Name</label> {{details.device_name}}</p>
												<p><label>Doors</label> {{showDoorsForDevice(details.doors)}}</p>
												<p><label>Model Name</label> {{details.device_model}}</p>
												<p><label>Serial No.</label> {{details.device_serial_no}}</p>
												<p><label>Device Type</label> {{details.device_type}}</p>
												<p><label>Technician</label> {{details.technician_name}}</p>												
											</div>
										</div>
									</div>
									
									<div class="row mt-20">
										<div class="col-sm-12 col-md-12">
											<div class="form-group legend">
												<h4><strong>Device</strong> Status</h4>
											</div>
											<div class="form-group">													
												<div class="tile-body p-0">
													<table class="table table-bordered dstatus">
														<thead>
															<tr>
																<th>Settings</th>
																<th width="150">Status</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="(key,features) in details.features">
																<td>{{key | uppercase}}</td>
																<td class="{{features|deviceFeatureFilter}}"><i class="fa fa-circle"></i> {{features|deviceFeatureFilter | capitalize}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							
							<uib-tab heading="Dependent Devices">
								<div class="wrap-reset"> 
									<div class="table-custom">
										<div class="row pos-r mb-20">
											<div class="col-sm-4 col-md-4 filterorder">
												<label class="control-label" ng-init="filtershow=true">
													<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
												</label>
												<label class="control-label" uib-dropdown on-toggle="toggled(open)">
													<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
													<ul class="dropdown-menu with-arrow animated littleFadeInUp">
														<li><a href="" ng-click="orderByMe('title')">Title</a></li>
														<li><a href="" ng-click="orderByMe('model')">Model</a></li>
													</ul>
												</label>
											</div>
											<div class="col-sm-5 col-md-4 search">
												<input type="text" class="form-control" ng-model="searchText" placeholder="Search by text...." ng-change="dependentDevices($event)">
												<button class="btn btn-default br-2-r" type="button" ng-click="dependentDevices()">Search</button>
											</div>
											<div class="col-sm-3 col-md-4">
												<div class="gridlistbar ta-r pull-right">
													<label class="control-label">View by</label>
													<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
													<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="filterfields" ng-hide="filtershow">
												<div class="col-sm-4 col-md-4">
													<label for="fbtext" class="control-label">Search by text</label> 
													<input type="text" class="form-control" id="fbtext" ng-model="text">
												</div>
												<div class="col-sm-4 col-md-4">
													<label for="fbtitle" class="control-label">Search by title</label>
													<input type="text" class="form-control" id="fbtitle" ng-model="title">
												</div>
												<div class="col-sm-4 col-md-4">
													<label for="fblocation" class="control-label">Search by model</label>
													<input type="text" class="form-control" id="fblocation" ng-model="model">
												</div>
											</div>
										</div>
										<div ng-class="class">
											<div class="glview">
												<md-content>			
													<md-card class="slaveusers" ng-repeat="device in dependent_devices | filter:text | filter:device_name | filter:device_model | orderBy:myOrderBy">
														<a ui-sref="app.admin.device.dependent-devices-details"><img ng-src="images/device/elika-76-gunmetal.png" class="md-card-image" alt="Washed Out"></a>
														<md-card-content>
															<h2 class="md-title">{{ device.device_name }}</h2>
															<p>{{ device.device_model }}</p>
														</md-card-content>
														<div class="md-actions" layout="row" layout-align="center center">
															<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.device.view-dependent-device({device_id:device.device_id})">View</a>
														</div>
													</md-card>
												</md-content>
												<p class="ta-c text-lightred mt-40 mb-40">
													<span ng-if="dependent_devices.length == '0'">No Records Found</span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
