<div class="page admin">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="NotificationsCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font">{{page.title}}</h1>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom pt-0 pb-0">
							<div class="row">
								<div class="p-15 bg-white">
									<div class="btn-group pull-right">
										<button type="button" class="btn btn-default btn-sm br-2-l"><i class="fa fa-angle-left"></i></button>
										<button type="button" class="btn btn-default btn-sm br-2-r"><i class="fa fa-angle-right"></i></button>
									</div>
									<div class="btn-toolbar">
										<div class="btn-group">
											<label class="checkbox checkbox-custom-alt" style="margin:3px 9px 0 0;"><input type="checkbox"><i></i></label>
										</div>												
										<div class="btn-group" uib-dropdown on-toggle="toggled(open)">
											<button uib-dropdown-toggle class="btn btn-default btn-sm br-2">More <span class="caret"></span></button>
											<ul class="dropdown-menu with-arrow animated littleFadeInUp">
												<li><a href="" ng-click="">Read</a></li>
												<li><a href="" ng-click="">Delete</a></li>
											</ul>
										</div>
										<div class="btn-group">
											<button class="btn btn-default btn-sm br-2"><i class="fa fa-refresh"></i></button>
										</div>
									</div>
								</div>								
							</div>
							
							<div class="row">								
								<ul class="list-group no-radius no-border messnoti mb-0">
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">										
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-danger">
														<fa name="ban"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														User Imrich cancelled account
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">5:18 pm</span>
												</span>
											</div>
										</div>
									</li>
									
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-primary">
														<fa name="bolt"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														New user registered
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia. Ut esse cillum quis deserunt.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">11:15 am</span>
												</span>
											</div>
										</div>
									</li>
									
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">									
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-warning">
														<fa name="warning"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														User Robert locked account
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">Feb 9</span>
												</span>
											</div>
										</div>
									</li>
									
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">										
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-danger">
														<fa name="ban"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														User Imrich cancelled account
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">Feb 2</span>
												</span>
											</div>
										</div>
									</li>
									
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">										
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-primary">
														<fa name="bolt"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														New user registered
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia. Ut esse cillum quis deserunt.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">Jan 31</span>
												</span>
											</div>
										</div>
									</li>
									
									<li class="list-group-item">
										<div class="media">
											<div class="pull-left">
												<div class="controls">										
													<label class="checkbox checkbox-custom-alt m-0" style="margin-top: 2px!important;"><input type="checkbox"><i></i></label>
												</div>
												<div class="thumb thumb-sm">
													<span class="media-object media-icon bg-greensea">
														<fa name="lock"></fa>
													</span>
												</div>
											</div>
											<div class="media-body">
												<div class="media-heading m-0">
													<a ui-sref="app.mail.single({mailId:mail.id})" class="mr-5">
														User Robert locked account
													</a>
												</div>
												<small>Commodo sunt minim incididunt ipsum dolore veniam nulla Lorem reprehenderit officia.</small>
												<span class="text-smd text-muted notifytime">
													<span class="hidden-xs">12/29/16</span>
												</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>