<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/avatar.jpg" alt="">
						</div>
						<h3 class="mb-10"><strong>Elika Admin</strong></h3>
						<span class="text-muted">You're logged in as admin@vvdntech.com</span>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" ng-controller="ProfileSettingsCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
						
							<uib-tab heading="Change Password">
								<div class="wrap-reset">
									<div class="form-group legend">
										<h4><strong>Change</strong> Password</h4>
									</div>
									<form name="form1" role="form">
										<div class="modal-body">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group overflow">
														<label for="">Current Password</label>
														<input type="password" name="" id="" class="form-control" value="">
													</div>
													<div class="form-group overflow">
														<label for="">New Password</label>
														<input type="password" name="" id="" class="form-control" value="">
													</div>
													<div class="form-group overflow">
														<label for="">Confirm New Password</label>
														<input type="password" name="" id="" class="form-control" value="">
													</div>
												</div>
											</div>
											<div class="form-group row legend">
												<div class="col-md-12">
													<p></p>
													<a ui-sref="app.inventory.devices" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
													<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
							
							<uib-tab heading="Manage Account">
								<div class="wrap-reset">
									<div class="form-group legend">
										<h4><strong>Update</strong> Profile</h4>
									</div>
									<form name="form1" role="form">
										<div class="modal-body">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group overflow">
														<label for="">New Email</label>
														<input type="email" name="" id="" class="form-control" value="">
													</div>
													<div class="form-group overflow">
														<label for="">Confirm New Email</label>
														<input type="email" name="" id="" class="form-control" value="">
													</div>
													<div class="form-group overflow">
														<label for="">Current password</label>
														<input type="password" name="" id="" class="form-control" value="">
													</div>
												</div>
											</div>
											<div class="form-group row legend">
												<div class="col-md-12">
													<p></p>
													<a ui-sref="app.inventory.devices" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
													<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
							
							<uib-tab heading="Change Security Questions">
								<div class="wrap-reset">
									<div class="form-group legend">
										<h4><strong>Security</strong> Questions</h4>
									</div>
									<form name="form1" role="form">
										<div class="modal-body">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group overflow">
														<label for="">Select Secret Question</label>
														<select id="selectedQuestion1" name="selectedQuestion1" class="form-control">
															<option value="?" selected="selected">Select Secret Question</option>
															<option value="1" label="What was your favorite place to visit as a child?">What was your favourite place to visit as a child?</option>
															<option value="2" label="Who is your favorite actor, musician, or artist?">Who is your favorite actor, musician, or artist?</option>
															<option value="3" label="What is the name of your favorite pet?">What is the name of your favorite pet?</option>
															<option value="4" label="In what city were you born?">In what city were you born?</option>
															<option value="5" label="What high school did you attend?">What high school did you attend?</option>
															<option value="6" label="What is the name of your first school?">What is the name of your first school?</option>
															<option value="7" label="What is your favorite movie?">What is your favorite movie?</option>
															<option value="8" label="What is your mother's maiden name?">What is your mother's maiden name?</option>
															<option value="9" label="What street did you grow up on?">What street did you grow up on?</option>
															<option value="10" label="What was the make of your first car?">What was the make of your first car?</option>
															<option value="11" label="When is your anniversary?">When is your anniversary?</option>
															<option value="12" label="What is your favorite color?">What is your favorite color?</option>
															<option value="13" label="What is your father's middle name?">What is your father's middle name?</option>
															<option value="14" label="What is the name of your first grade teacher?">What is the name of your first grade teacher?</option>
															<option value="15" label="What was your high school mascot?">What was your high school mascot?</option>
														</select>
													</div>
													<div class="form-group overflow">
														<label for="">Answer</label>
														<input type="text" name="" id="" class="form-control" value="">
													</div>
													<div class="form-group overflow">
														<label for="">Current password</label>
														<input type="password" name="" id="" class="form-control" value="">
													</div>
												</div>
											</div>
											<div class="form-group row legend">
												<div class="col-md-12">
													<p></p>
													<a ui-sref="app.inventory.devices" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
													<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
							
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
