<div class="page subadmin">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.facility.facility">
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-map-marker fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Facility</p>
									<span class="text-lg">2</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Devices</p>
									<span class="text-lg">35</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.user.users">
						<div class="noback bg-lightred">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Users</p>
									<span class="text-lg">145</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
	
		<div class="row" ng-controller="FacilityCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>Facility</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="facilityform" role="form" ng-submit="save(facility)" >
											<div class="modal-header"><h4 class="modal-title custom-font">Add Facility</h4></div>
											<div ng-repeat="master in masters">{{master}}</div>
											<div class="modal-body">
												<div class="row overflow">
													<div class="col-md-6">
														<div class="form-group" ng-class="{ 'has-error' : facilityform.$dirty && facilityform.facility_name.$error.required}">
															<label for="">Facility Name</label>
															<input type="text" name="facility_name" id="" class="form-control mb-10" placeholder="" ng-model="facility.facility_name" required >
															<span ng-show="facilityform.$dirty && facilityform.facility_name.$error.required">This field is required.</span>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="">Profile Photo</label>
															<div class="profilephoto">
																<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
																<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group" ng-class="{ 'has-error' : facilityform.$dirty && facilityform.facility_location.$error.required}">
													<label for="">Facility Location</label>
													<input type="text" name="facility_location" id="" class="form-control mb-10" placeholder="" ng-model="facility.facility_location" required>
													<span ng-show="facilityform.$dirty && facilityform.facility_location.$error.required">This field is required.</span>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group" ng-class="{ 'has-error' : facilityform.$dirty && facilityform.timeZone.$error.required}">
															<label for="">Time Zone</label>
															<select name="timeZone" class="form-control mb-10" ng-model="facility.timeZone" required>
																<option ng-repeat="option in timezones.availableOptions" value="{{option.id}}">{{option.name}}</option>
															</select>
															<span ng-show="facilityform.$dirty && facilityform.timeZone.$error.required">This field is required.</span>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group" ng-class="{ 'has-error' : facilityform.$dirty && facilityform.zip_code.$error.required}">
															<label for="">Zip Code</label>
															<input type="text" name="zip_code" id="" class="form-control mb-10" placeholder="" ng-model="facility.zip_code" required>
															<span ng-show="facilityform.$dirty && facilityform.zip_code.$error.required">This field is required.</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="">Status</label><br/>
															<div class="btn-group btnrounded" >
																<label class="btn btn-default" name="status" ng-model="facility.status" uib-btn-radio="'Active'" value=1>Active</label>
																<label class="btn btn-default" ng-model="facility.status" name="status" uib-btn-radio="'Inactive'" value=0>Inactive</label>
															</div>
														</div>
													</div>
												</div>											
											</div>
											<div class="modal-footer">
												<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()" onclick="return false;"><i class="fa fa-arrow-left"></i> Close</button>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c" ng-disabled="facilityform.$invalid"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>		
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Facility</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-20">
								<div class="col-md-4 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('location')">Location</a></li>
										</ul>
									</label>
								</div>
								<div class="col-md-4 search">
									<input type="text" class="form-control" placeholder="Search by text...." ng-model="facility.search_val">
									<button class="btn btn-default" type="button" ng-click=search(facility)>Search</button>
								</div>
								<div class="col-md-4">
									<div class="gridlistbar ta-r pull-right">
										<label class="control-label">View by</label> 
										<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
										<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-md-3">
										<label for="fbtext" class="control-label">Search by text</label> 
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-md-3">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-md-3">
										<label for="fblocation" class="control-label">Search by location</label>
										<input type="text" class="form-control" id="fblocation" ng-model="location">
									</div>
								</div>
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="facility in facilities | limitTo:totalDisplayed | filter:text | filter:title | filter:location | orderBy:myOrderBy">
											<a ui-sref="app.subadmin.facility.facility-details"><img ng-src="{{imagePath}}/facility/{{ facility.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
											<md-card-content>
												<h2 class="md-title">{{ facility.title }}</h2>
												<p>{{ facility.location }}</p>
												<p>{{ facility.noofdevices }} Devices &nbsp;|&nbsp; {{ facility.noofuser }} Users</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.dashboard">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.subadmin.facility.facility-details">Edit</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>			
		</div>
	
	</div>
</div>