<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">15</p>
									<span class="text-lg">Primary Devices</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">		
					<a ui-sref="app.admin.device.dependent-devices">
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-mobile fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">7</p>
									<span class="text-lg">Dependent Devices</span>
								</div>
							</div>
						</div>	
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.admin.user.users">
						<div class="noback bg-lightred">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">95</p>
									<span class="text-lg">Users</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="FacilityDetailsCtrl">
			<div class="col-md-4">
				<section class="tile tile-simple">
					<div class="tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/facility/1.jpg" alt="">
						</div>
						<h3 class="mb-10"><strong>USA Corporate Services</strong></h3>
						<span class="text-muted">19 W 34th St #1018, NY 10001, USA</span>
						<div class="mt-40">
							<button class="btn btn-rounded-20 btn-sm btn-greensea">Inactive Facility</button>
							<button class="btn btn-rounded-20 btn-sm btn-lightred">Delete Facility</button>
						</div>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<a ui-sref="app.admin.device.devices">
									<h2 class="m-0">15</h2>
									<span class="text-transparent-white">Primary</span>
								</a>
							</li>
							<li class="tcol bg-blue dk p-10">
								<a ui-sref="app.admin.device.dependent-devices">
									<h2 class="m-0">7</h2>
									<span class="text-transparent-white">Dependent</span>
								</a>
							</li>
							<li class="tcol bg-blue dker p-10">
								<a ui-sref="app.admin.user.users">
									<h2 class="m-0">95</h2>
									<span class="text-transparent-white">Users</span>
								</a>
							</li>
						</ul>
					</div>  
				</section> 
				
				<section class="tile tile-simple"> 
					<div class="tile-header">
						<h1 class="custom-font"><strong>Description</strong></h1>
					</div> 
					<div class="tile-body">
						<p class="text-default lt">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
					</div> 
				</section> 
			</div>
			
			<div class="col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Facility Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Facility</strong> Details</h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-12 profiledetail" >
												<p><label>Name</label> {{ facility.facility_name }}</p>
												<p><label>Location</label> {{ facility.facility_location }}</p>
												<p><label>Time Zone</label> {{ facility.facility_timezone }}</p>
												<p><label>Zip Code</label> {{ facility.facility_zipcode }}</p>
												<p><label>Status</label> {{ facility.facility_status ? "Active" : "Inactive"}}</p>											
											</div>											
										</div>										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Primary Devices">
								<div class="wrap-reset"> 
									<div class="table-custom">
										<div class="row pos-r mb-20">
											<div class="col-md-3 filterorder">
												<label class="control-label" ng-init="filtershow=true">
													<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
												</label>
												<label class="control-label" uib-dropdown on-toggle="toggled(open)">
													<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
													<ul class="dropdown-menu with-arrow animated littleFadeInUp">
														<li><a href="" ng-click="orderByMe('title')">Title</a></li>
														<li><a href="" ng-click="orderByMe('model')">Model</a></li>
													</ul>
												</label>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-8 search">
														<input type="text" class="form-control" placeholder="Search by text....">
														<button class="btn btn-default br-2-r" type="button">Search</button>
													</div>
													<div class="col-md-4 ta-r">
														<div ng-controller="ModalDemoCtrl">
															<script type="text/ng-template" id="myModalContent.html">
																<form name="form1" role="form">
																	<div class="modal-header"><h4 class="modal-title custom-font">Add Configuration Device</h4></div>
																	<div class="modal-body">							
																		<div class="overflow form-group">
																			<label for="">Facility Name:</label> USA Corporate Services
																		</div>
																		<div class="row overflow">
																			<div class="col-md-6 first">
																				<div class="form-group">
																					<label for="">Device Name</label>
																					<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																				</div>
																			</div>
																			<div class="col-md-6 last">
																				<div class="form-group">
																					<label for="">Serial Number</label>
																					<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																				</div>
																			</div>
																		</div>
																		<div class="form-group" ng-controller="PrimarybtnCtrl">
																			<label for="">Device Type</label><br/>
																			<div class="btn-group btnrounded">
																				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Primary'">Primary</label>
																				<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Dependent'">Dependent</label>
																			</div>
																			<div class="slavevalues" ng-hide="radioModel=='Primary'">
																				<select class="form-control mb-10">
																					<option>Select Primary Device</option>
																					<option>Reception Room</option>
																					<option>Conference Room</option>
																					<option>Server Room</option>
																					<option>Meeting Room</option>
																					<option>Development Room</option>
																					<option>Boardroom</option>
																					<option>Managers Room</option>
																					<option>Director Room</option>
																					<option>Inventory Room</option>
																				</select>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6 first">
																				<div class="form-group">
																					<label for="">Technician</label><br/>
																					<select class="form-control">
																						<option>Arnold</option>
																						<option>Peter</option>
																						<option>Paracosm</option>
																						<option>Jason</option>
																						<option>Paul</option>
																						<option>Vin</option>
																						<option>Dwayne</option>
																					</select>
																					<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.subadmin.support.technician">Add Technician</a></small>
																				</div>
																			</div>
																			<div class="col-md-6 last">
																				<div class="form-group">
																					<label for="">Doors</label><br/>
																					<select class="form-control">
																						<option>Main Gate Front</option>
																						<option>Main Gate Back</option>
																						<option>Exit Gate Front</option>
																						<option>Exit Gate Back</option>
																						<option>Parking Entry Gate</option>
																						<option>Parking Exit Gate</option>
																						<option>Pool Gate</option>
																						<option>Gym Gate</option>
																					</select>
																					<small class="pull-right mb-10"><a ng-click="cancel()" ui-sref="app.subadmin.door.doors">Add Door</a></small>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
																		<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
																	</div>
																</form>		
															</script>
															<button ng-click="open()" class="btn btn-default br-2 btnh-38">Add Device</button>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="gridlistbar ta-r pull-right">													
													<label class="control-label">Filter by</label>
													<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
													<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="filterfields" ng-hide="filtershow">
												<div class="col-md-4">
													<label for="fbtext" class="control-label">Search by text</label> 
													<input type="text" class="form-control" id="fbtext" ng-model="text">
												</div>
												<div class="col-md-4">
													<label for="fbtitle" class="control-label">Search by title</label>
													<input type="text" class="form-control" id="fbtitle" ng-model="title">
												</div>
												<div class="col-md-4">
													<label for="fblocation" class="control-label">Search by model</label>
													<input type="text" class="form-control" id="fblocation" ng-model="model">
												</div>
											</div>
										</div>
										<div ng-if="result">									
											<div layout="row" ng-class="statusclass">									
												{{result}}
											</div>
										</div>
										<div ng-class="class">
											<div class="glview">
												<md-content>			
													<md-card class="slaveusers" ng-repeat="device in devices | limitTo:totalDisplayed | filter:text | filter:title | filter:model | orderBy:myOrderBy">
														<a ui-sref="app.subadmin.device.device-details"><img ng-src="{{imagePath}}/device/{{ device.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
														<md-card-content>
															<h2 class="md-title">{{ device.title }}</h2>
															<p>{{ device.model }}</p>
															<p>{{ device.noofslaves }} Dependent &nbsp;|&nbsp; {{ device.noofuser }} Users</p>
														</md-card-content>
														<div class="md-actions" layout="row" layout-align="center center">
															<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.subadmin.device.device-details">View</a>
															<a class="btn btn-success btn-border btn-rounded" ui-sref="app.subadmin.device.device-details">Edit</a>
															<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Remove</a>
														</div>
													</md-card>
												</md-content>
												<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Users">
								<div class="wrap-reset"> 
									<div class="table-custom">
										<div class="row pos-r mb-20">
											<div class="col-md-3 filterorder">
												<label class="control-label" ng-init="filtershow=true">
													<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
												</label>
												<label class="control-label" uib-dropdown on-toggle="toggled(open)">
													<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
													<ul class="dropdown-menu with-arrow animated littleFadeInUp">
														<li><a href="" ng-click="orderByMe('name')">Name</a></li>
														<li><a href="" ng-click="orderByMe('group')">User Group</a></li>
													</ul>
												</label>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-8 search">
														<input type="text" class="form-control" placeholder="Search by text....">
														<button class="btn btn-default br-2-r" type="button">Search</button>
													</div>
													<div class="col-md-4 ta-r">
														<div ng-controller="ModalDemo1Ctrl">
															<script type="text/ng-template" id="myModalContent1.html">
																<div class="modal-header"><h4 class="modal-title custom-font">Add User</h4></div>
																<div class="hometabs">
																	<md-content class="md-padding tabsdemoDynamicHeight">
																		<md-tabs md-dynamic-height md-border-bottom>
																		
																			<md-tab label="Account">
																				<md-content>								
																					<div class="account">
																						<div class="overflow">
																							<div class="col-md-6 first">
																								<div class="form-group">
																									<label for="">First Name</label>
																									<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																								</div>
																							</div>
																							<div class="col-md-6 last">
																								<div class="form-group">
																									<label for="">Last Name</label>
																									<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																								</div>
																							</div>
																						</div>
																						<div class="overflow">
																							<div class="col-md-6 first">
																								<div class="form-group">
																									<label for="">Email Address</label>
																									<input type="emial" name="" id="" class="form-control mb-10" placeholder="">
																								</div>
																							</div>
																							<div class="col-md-6 last">
																								<div class="form-group">
																									<label for="">Profile Photo</label>
																									<div class="profilephoto">
																										<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
																										<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="overflow">
																							<div class="form-group">
																								<label for="">Address</label>
																								<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																							</div>
																						</div>
																						<div class="overflow">
																							<div class="form-group">
																								<label for="">Description</label>
																								<textarea name="" id="" class="form-control mb-10" placeholder=""></textarea>
																							</div>
																						</div>
																						<div class="overflow" ng-controller="ActivebtnCtrl">
																							<div class="col-md-6 first">
																								<label for="">Status</label><br/>
																								<div class="btn-group btnrounded">
																									<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
																									<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
																								</div>
																							</div>
																							<div class="col-md-6 last" ng-hide="radioModel=='Inactive'">
																								<div ng-controller="DatepickerDemoCtrl">
																									<label for="">Expiration Date</label>
																									<input type="text" class="form-control" id="mask02" ui-jq="inputmask" ui-options="{alias: 'mm/dd/yyyy'}">
																								</div>
																							</div>
																						</div>				
																					</div>							   
																				</md-content>
																			</md-tab>
																			
																			<md-tab label="Credentials">
																				<md-content>														
																					<div class="credintials" ng-controller="AccordionDemoCtrl">
																						<uib-accordion close-others="oneAtATime">
																																							
																							<uib-accordion-group is-open="status.isFirstOpen" class="panel-default">
																								<uib-accordion-heading>
																									Access Code <i class="pull-right fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>
																								</uib-accordion-heading>
																								
																								<div class="credintials">
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Code</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="text" name="" id="" class="form-control mb-10" placeholder="016201" disabled>
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Status</label>
																										</div>
																										<div class="col-md-8 last">
																											<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
																											</div>
																										</div>
																									</div>
																									<div class="overflow ta-c">
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Save</button>
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Cancel</button>
																									</div>
																								</div>
																								
																							</uib-accordion-group>
																							
																							<uib-accordion-group is-open="status.open1" class="panel-default">
																								<uib-accordion-heading>
																									Phone Code <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i>
																								</uib-accordion-heading>
																								
																								<div class="credintials">
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Code</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="text" name="" id="" class="form-control mb-10" placeholder="161553" disabled>
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Status</label>
																										</div>
																										<div class="col-md-8 last">
																											<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
																											</div>
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Phone</label>
																										</div>
																										<div class="col-md-8 last">
																											<div class="widget-todo" ng-controller="TodoWidgetCtrl">
																												<form class="form-horizontal" role="form" ng-submit="addTodo()">
																													<input type="text" class="form-control" id="todo" ui-jq="inputmask" ui-options="{'mask': '###-###-####'}" ng-model="todo" placeholder="" required>
																													<button type="submit" class="btn addpost"><i class="fa fa-plus text-lg"></i></button>
																												</form>

																												<ul class="todo-list list-unstyled">
																												  <li ng-repeat="todo in todos" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
																													<div class="view">					 
																														<span ng-dblclick="editTodo(todo)">{{todo.text}}</span>
																														<a href="javascriph:;" class="text-danger remove-todo pull-right" ng-click="removeTodo(todo)" aria-label="Remove"><i class="fa fa-times"></i></a>
																													</div>
																													<form ng-submit="doneEditing(todo)">
																														<input class="form-control edit mb-0" ng-trim="false" ng-model="todo.text" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo" ui-jq="inputmask" ui-options="{'mask': '###-###-####'}">
																													</form>
																												  </li>
																												</ul>
																											</div>
																										</div>
																									</div>
																									<div class="overflow ta-c">
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Save</button>
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Cancel</button>
																									</div>
																								</div>
																								
																							</uib-accordion-group>
																							
																							<uib-accordion-group is-open="status.open2" class="panel-default">
																								<uib-accordion-heading>
																									RFID Code <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i>
																								</uib-accordion-heading>
																								
																								<div class="credintials">
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Card Number</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Facility Code</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Status</label>
																										</div>
																										<div class="col-md-8 last">
																											<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
																											</div>
																										</div>
																									</div>
																									<div class="overflow ta-c">
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Save</button>
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Cancel</button>
																									</div>
																								</div>
																								
																							</uib-accordion-group>
																							
																							<uib-accordion-group is-open="status.open3" class="panel-default">
																								<uib-accordion-heading>
																									BLE Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i>
																								</uib-accordion-heading>
																								
																								<div class="credintials">
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Username</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="text" name="" id="" class="form-control mb-10" placeholder="">
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Password</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="password" name="" id="" class="form-control mb-10" placeholder="">
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Confirm Password</label>
																										</div>
																										<div class="col-md-8 last">
																											<input type="password" name="" id="" class="form-control mb-10" placeholder="">
																										</div>
																									</div>
																									<div class="overflow">
																										<div class="col-md-4 first">
																											<label for="">Status</label>
																										</div>
																										<div class="col-md-8 last">
																											<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
																												<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
																											</div>
																										</div>
																									</div>
																									<div class="overflow ta-c">
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Save</button>
																										<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mb-10">Cancel</button>
																									</div>
																								</div>
																								
																							</uib-accordion-group>
																						</uib-accordion>
																					</div>														
																				</md-content>
																			</md-tab>

																			<md-tab label="User Groups">
																				<md-content>														
																					<div class="usergroup">
																						<section class="tile" fullscreen="isFullscreen02">
																							<div class="tile-header">
																								<h3 class="custom-font"><strong>Assigned Groups</strong></h3>
																								<ul class="controls">
																									<li class="addpopup">
																										<a class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Groups</span></a>
																									</li>
																								</ul>
																							</div>
																							<div class="tile-body p-0">
																								<table class="table table-bordered">
																									<thead>
																										<tr>
																											<th>Group Name</th>
																											<th>Facility</th>
																											<th>Action</th>
																										</tr>
																									</thead>
																									<tbody>
																										<tr>
																											<td>24x7</td>
																											<td>USA Corporate Services</td>
																											<td><button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
																										</tr>
																										<tr>
																											<td>Office Hrs</td>
																											<td>Aerzen USA Corporation</td>
																											<td><button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
																										</tr>
																										<tr>
																											<td>Housekeeping Hrs</td>
																											<td>USA Corporate Services</td>
																											<td><button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																						</section>
																					</div>														
																				</md-content>
																			</md-tab>
																		</md-tabs>
																	</md-content>
																</div>
																<div class="modal-footer">
																	<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
																	<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Next</button>	
																</div>											
															</script>
															<button ng-click="open()" class="btn btn-default br-2 btnh-38">Add User</button>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="gridlistbar ta-r pull-right">
													<label class="control-label">View by</label>
													<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
													<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="filterfields" ng-hide="filtershow">
												<div class="col-md-4">
													<label for="fbtext" class="control-label">Search by text</label> 
													<input type="text" class="form-control" id="fbtext" ng-model="text">
												</div>
												<div class="col-md-4">
													<label for="fbtitle" class="control-label">Search by name</label>
													<input type="text" class="form-control" id="fbtitle" ng-model="name">
												</div>
												<div class="col-md-4">
													<label for="fblocation" class="control-label">Search by user groups</label>
													<input type="text" class="form-control" id="fblocation" ng-model="group">
												</div>
											</div>
										</div>
										<div ng-class="class">
											<div class="glview">
												<md-content>
													<md-card class="slaveusers" ng-repeat="user in users | limitTo:totalDisplayed1 | filter:text | filter:name | filter:group | orderBy:myOrderBy">
														<a ui-sref="app.subadmin.user.user-profile"><img ng-src="{{imagePath}}/users/{{ user.imagename }}.jpg" class="md-card-image" alt="Washed Out"></a>
														<md-card-content>
															<h2 class="md-title">{{ user.name }}</h2>
															<p>{{ user.phone }}</p>
														</md-card-content>
														<div class="md-actions" layout="row" layout-align="center center">
															<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.subadmin.user.user-profile">View</a>
															<a class="btn btn-success btn-border btn-rounded" ui-sref="app.subadmin.user.user-profile">Edit</a>
															<a class="btn btn-danger btn-border btn-rounded">Remove</a>
														</div>
													</md-card>
												</md-content>
												<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore1()" ng-style="lmbtn1">Load more</button>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Facility">
								<div class="wrap-reset"> 
									<form name="form1" role="form" ng-submit="edit_facility(facility)">
										<div class="modal-body">											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Facility Name</label>
													<input type="text" name="" id="" class="form-control mb-10" ng-model="facility.facility_name" value="{{facility.facility_name}}">
												</div>
												<div class="form-group col-md-6">
													<div class="form-group">
														<label for="">Profile Photo</label>
														<div class="profilephoto">
															<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
															<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Facility Location</label>
													<input type="text" name="" id="" class="form-control mb-10" ng-model="facility.facility_location" value="{{facility.facility_location}}">
												</div>
												<div class="form-group col-sm-6">
													<label for="">Time Zone</label>
													<select name="timeZone" class="form-control mb-10" ng-model="facility.facility_timezone" required>
																<option ng-repeat="option in timezones.availableOptions" value="{{option.id}}">{{option.name}}</option>
															</select>
													<!-- <select class="form-control mb-10">
														<option>USA (Alaska)</option>
														<option>USA (Samoa)</option>
														<option>USA (Pacific)</option>
														<option>USA (Eastern)</option>
														<option>USA (Hawaii-Aleutian)</option>
														<option>USA (Mountain)</option>
														<option>USA (Atlantic)</option>
														<option>USA (Central)</option>
														<option>USA (Chamorro)</option>
													</select> -->
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
													<label for="">Zip Code</label>
													<input type="text" name="" id="" class="form-control mb-10" ng-model="facility.facility_zipcode" value="{{facility.facility_zipcode}}">
													</select>
												</div>
												<div class="form-group col-sm-6">
													<label for="">Status</label><br/>
													<div class="btn-group btnrounded">
														<!-- <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label> -->
														<!-- <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label> -->
														<label class="btn btn-default" name="status" ng-model="facility.facility_status" uib-btn-radio="'Active'" value=1>Active</label>
														<label class="btn btn-default" ng-model="facility.facility_status" name="status" uib-btn-radio="'Inactive'" value=0>Inactive</label>
													</div>
												</div>
											</div>			
										</div>
										<div class="row">
											<div class="form-group col-md-12 legend mt-20">
												<p></p>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</button>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Save</button>
											</div>
										</div>
									</form>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
