<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="UserCtrl">
			<div class="col-sm-12 col-md-12"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>						
						<div class="hometabs">											
							<md-content class="md-padding tabsdemoDynamicHeight">
							<md-tabs md-dynamic-height md-border-bottom>		
								<md-tab label="Account">
								<md-content>
									<form  ng-validate="validationOptions" id="user_form" name="user_form" enctype="multipart/form-data">
									<span class="error">{{user_error}}</span>
										<div class="modal-body p-0 mt-10">
											<div class="row">
												<div class="form-group col-sm-6 col-md-3">
													<label for="">First Name</label>
													<input type="text" name="first_name" id="first_name" ng-model="userData.first_name" class="form-control" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">			
													<label for="">Last Name</label>
													<input type="text" name="last_name" id="last_name" ng-model="userData.last_name" class="form-control" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Email</label>
													<input type="email" name="email" id="email" ng-model="userData.email" class="form-control" placeholder="" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Profile Photo</label>
													<div class="profilephoto">
														<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
														<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Name as appears on LCD</label>
													<input type="text" name="name_on_lcd" id="name_on_lcd" ng-model="userData.name_on_lcd" class="form-control" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">			
													<label for="">Phone</label>
													<input type="text" name="user_phone_no" id="user_phone_no" ng-model="userData.user_phone_no" class="form-control" rangelength required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Address</label>
													<input type="emial" name="address" id="address" ng-model="userData.address" class="form-control" placeholder="" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Zip Code</label>
													<input type="text" name="zip_code" id="zip_code" ng-model="userData.zip_code" class="form-control" required>
												</div>
											</div>
											<div class="row" ng-controller="ActivebtnCtrl">
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Password</label>
													<input type="password" name="password" id="password" ng-model="userData.password" class="form-control" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Confirm Password</label>
													<input type="password" name="cpassword" id="" ng-model="userData.cpassword" class="form-control" required>
												</div>
												<div class="form-group col-sm-6 col-md-3">
													<label for="">Status</label><br/>
													<div class="btn-group btnrounded">
														<label class="btn btn-default" ng-model="userData.status" uib-btn-radio="1">Active</label>
														<label class="btn btn-default" ng-model="userData.status" uib-btn-radio="0">Inactive</label>
													</div>
												</div>													
												<div class="form-group col-sm-6 col-md-3" ng-hide="radioModel=='Inactive'">
													<label for="">Expiration Date</label>
													<div class="input-group userexp" ng-controller="DatepickerDemoCtrl" >
														<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userData.expiration_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="userData.expiration_date"/>
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>
												</div>
											</div>
											<div class="mt-40 pb-10 ta-c">
												<a ui-sref="app.admin.user.users" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-click="submitUserData(userData, user_form)">Save and Next</button>
											</div>
										</div>
									</form>						   
								</md-content>
								</md-tab>

								<md-tab label="User Groups">
								<md-content>														
									<div class="usergroup mt-10">
										<section class="tile">
											<div class="tile-header" ng-controller="ModalDemoCtrl">
												<h3 class="custom-font"><strong>Assigned Groups</strong></h3>
												<ul class="controls">
													<li class="addpopup">
														<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Groups</span></a>
													</li>
												</ul>
												<script type="text/ng-template" id="myModalContent.html">
													<div class="modal-header"><h4 class="modal-title custom-font">User Groups</h4></div>
													<form ng-submit="assignUserGroup(usergroup)">
														<div class="hometabs">
															<div class="overflow groupslists">
																<div class="col-md-12 mt-20">
																	<ul>
																		<li ng-repeat="user_group in usergroups">
																	<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" value="{{user_group.usergroup_id}}" name="" ng-model="usergroup.usergrouparr[user_group.usergroup_id]" ><i></i> {{user_group.usergroupName}}</label>
																</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Office Hours <small>(40 Users)</small></label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> 24x7 Services <small>(42 Users)</small></label>
																		</li>
																	</ul>
																	<a ui-sref="app.admin.user.user-groups" ng-click="cancel()" class="pull-right mt-15 mb-20">Create User Group</a>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c closeg" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
															<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
														</div>
													</form>											
												</script>
											</div>
											<div class="tile-body p-0">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Group Name</th>
															<th width="75">Action</th>
														</tr>
													</thead>
													<tbody style="font-size:14px;">
														<tr ng-repeat="assign_usergroup in assingned_usergroups">
															<td><a ui-sref="app.admin.user.user-groups-members" ng-click="cancel()">{{assign_usergroup.usergroup_name}} <small>(40 Users)</small></a></td>
															<td><button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b" ng-click="unassignUserToUsergroup(assign_usergroup.usergroup_id)"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>
									</div>														
								</md-content>
								</md-tab>
								
								<md-tab label="Credentials">
								<md-content>														
									<div class="credintials mt-20" ng-controller="AccordionDemoCtrl">
									<uib-accordion close-others="oneAtATime">
										<uib-accordion-group is-open="status.isFirstOpen" class="panel-default">
											<uib-accordion-heading>Access Code <i class="pull-right fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i></uib-accordion-heading>
											<div class="modal-body p-0">
												<span class="error">{{accesscode_error}}</span>
												<div class="row">
												<form ng-submit="saveAccessCode(accesscode, access_code)" name="access_code" id="access_code" ng-validate="validationOptions">
													<div class="form-group col-sm-3 col-md-3">
														<label for="">Access Code</label>
														<div style="position: relative">
															<input type="text" name="access_code" id="access_code" class="form-control"  disabled ng-model="accesscode.access_code">
															<span class="refreshbtn" ng-click="generateAddAccessCode()"><i class="fa fa-refresh"></i></span>
														</div>
													</div>
													<div class="form-group col-sm-3 col-md-6">
														<label for="">Assign Doors</label><br/>
														<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="accesscode.door_id" multiple required>
														</select>
													</div>
													<div class="form-group col-sm-3 col-md-3">
														<label for="">Status</label><br/>
														<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
															<label class="btn btn-default" ng-model="accesscode.status" uib-btn-radio=1>Active</label>
															<label class="btn btn-default" ng-model="accesscode.status" uib-btn-radio=0>Inactive</label>
														</div>
														<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
													</form>
													</div>
												</div>
												<div class="mt-40">							
													<div class="tile-body p-0 table-responsive">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>Access Code</th>
																	<th width="850">Assigned Doors</th>
																	<th>Status</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr>
																	<td>11309147</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate </td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>13190147</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate, Gym Gate</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>14562583</td>
																	<td>Main Gate Front, Main Gate Back </td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>41154124</td>
																	<td>Main Gate Front, Main Gate Back </td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</uib-accordion-group>
													
										<uib-accordion-group is-open="status.open1" class="panel-default">
											<uib-accordion-heading>Phone Code <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></uib-accordion-heading>
											<div class="modal-body p-0">
											<span class="error">{{ phone_error }}</span>
												<div class="row">
													<form ng-submit="submitPhoneCode(phoneCode, phone_form)" name="phone_form" id="phone_code" ng-validate="validationOptions">
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Phone Code</label>
															<div style="position: relative">
																<input type="text" name="access_code" id="phone_code" class="form-control mb-10" disabled ng-model="phoneCode.phone_code">
																<span class="refreshbtn" ng-click="generateAddPhoneCode()"><i class="fa fa-refresh"></i></span>
															</div>
														</div>													
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Assign Doors</label><br/>
															<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="phoneCode.door_id" multiple required></select>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Phone Number</label>
															<input type="text" name="phone_numbers" id="phone_numbers" class="form-control" ng-model="phoneCode.phone_numbers" required>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Status</label><br/>
															<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																<label class="btn btn-default" ng-model="phoneCode.status" uib-btn-radio=1>Active</label>
																<label class="btn btn-default" ng-model="phoneCode.status" uib-btn-radio=0>Inactive</label>
															</div>
															<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
														</div>
													</form>
												</div>
												<div class="mt-40">							
													<div class="tile-body p-0 table-responsive">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>Phone Code</th>
																	<th width="725">Assigned Doors</th>
																	<th>Phone Number</th>
																	<th>Status</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr>
																	<td>11309147</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate </td>
																	<td>+1 212 1467 1212</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>13190147</td>
																	<td>Main Gate Front, Main Gate Back</td>
																	<td>+1 212 1254 7854</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>14562583</td>
																	<td>Main Gate Front, Main Gate Back </td>
																	<td>+1 212 4587 8759</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>41154124</td>
																	<td>Main Gate Front, Main Gate Back </td>
																	<td>+1 212 7854 9658</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</uib-accordion-group>
													
										<uib-accordion-group is-open="status.open2" class="panel-default">
											<uib-accordion-heading>RFID Code <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></uib-accordion-heading>
											<div class="modal-body p-0">
											<span class="error">{{ rfid_error }}</span>
												<form ng-submit="saveRFID(rfid, rfid_form)" ng-validate="validationOptions" name="rfid_form">
													<div class="row">
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Card Number </label>
															<input type="text" name="rfid_card_no" id="" class="form-control mb-10" placeholder="" ng-model="rfid.rfid_card_no" required>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Facility Code</label>
															<input type="text" name="rfid_facility_code" id="" class="form-control mb-10" placeholder="" ng-model="rfid.rfid_facility_code" required>
														</div>													
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Assign Doors</label><br/>
															<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="rfid.door_id" multiple required></select>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Status</label><br/>
															<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																<label class="btn btn-default" ng-model="rfid.status" uib-btn-radio=1>Active</label>
																<label class="btn btn-default" ng-model="rfid.status" uib-btn-radio=0>Inactive</label>
															</div>
															<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
														</div>
													</div>
													<div class="mt-40">							
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th>Card Number</th>
																		<th>Facility Code</th>
																		<th width="700">Assigned Doors</th>
																		<th>Status</th>
																		<th width="75">Action</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr>
																		<td>1130 9147 5482 8547</td>
																		<td>122</td>
																		<td>Main Gate Front, Main Gate Back, Pool Gate </td>
																		<td>
																			<select style="border: 0; width: 100%;">
																				<option value="" selected>Active</option>
																				<option value="">Inactive</option>
																			</select>
																		</td>
																		<td class="credintialicon">
																			<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																			<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																		</td>
																	</tr>
																	<tr>
																		<td>1319 0147 8954 7892</td>
																		<td>7854</td>
																		<td>Main Gate Front, Main Gate Back</td>
																		<td>
																			<select style="border: 0; width: 100%;">
																				<option value="" selected>Active</option>
																				<option value="">Inactive</option>
																			</select>
																		</td>
																		<td class="credintialicon">
																			<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																			<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																		</td>
																	</tr>
																	<tr>
																		<td>1456 2583 8524 9635</td>
																		<td>4587</td>
																		<td>Main Gate Front, Main Gate Back </td>
																		<td>
																			<select style="border: 0; width: 100%;">
																				<option value="" selected>Active</option>
																				<option value="">Inactive</option>
																			</select>
																		</td>
																		<td class="credintialicon">
																			<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																			<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</form>
											</div>
										</uib-accordion-group>
													
										<uib-accordion-group is-open="status.open3" class="panel-default">
											<uib-accordion-heading>NFC Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i></uib-accordion-heading>
											<span class="error">{{NFCCodeMessage}}</span>
											<div class="modal-body p-0">
												<div class="row">
													<form ng-submit="saveNFCcode(savenfc, nfc_form)" ng-validate="validationOptions" name="nfc_form">
														<div class="form-group col-sm-3 col-md-3">
															<label for="">NFC Code</label>
															<div style="position: relative;">
																<input type="text" name="nfc_code" id="" class="form-control" placeholder="" ng-model="savenfc.nfc_code" required disabled>
																<span class="refreshbtn" ng-click="generateNFCCode()"><i class="fa fa-refresh"></i>
																</span>
															</div>
														</div>
														<div class="form-group col-sm-3 col-md-6">
															<label for="">Assign Doors</label><br/>
															<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="savenfc.door_id" multiple required></select>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Status</label><br/>
															<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																<label class="btn btn-default" ng-model="savenfc.status" uib-btn-radio=1>Active</label>
																<label class="btn btn-default" ng-model="savenfc.status" uib-btn-radio=0>Inactive</label>
															</div>
															<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
														</div>
													</form>
												</div>
												<div class="mt-40">							
													<div class="tile-body p-0 table-responsive">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>NFC Code</th>
																	<th width="850">Assigned Doors</th>
																	<th>Status</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr>
																	<td>11309147</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate </td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
																<tr>
																	<td>13190147</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate, Gym Gate</td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>	
											</div>
										</uib-accordion-group>
													
										<uib-accordion-group is-open="status.open4" class="panel-default">
											<uib-accordion-heading>BLE Code <i class="pull-right fa" ng-class="{'fa-minus': status.open4, 'fa-plus': !status.open4}"></i></uib-accordion-heading>
											<div class="modal-body p-0">
											<span class="error">{{ blecode_error }}</span>
												<div class="row">
													<form ng-submit="saveBLEcode(ble_code, ble_form)" ng-validate="validationOptions" name="ble_form">
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Username</label>
															<input type="text" name="ble_name" id="" class="form-control mb-10" placeholder="" ng-model="ble_code.ble_name" required>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Password</label>
															<input type="password" name="ble_pass" id="" class="form-control mb-10" placeholder="" ng-model="ble_code.ble_pass" required>
														</div>													
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Assign Doors</label><br/>
															<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="ble_code.door_id" multiple required></select>
														</div>
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Status</label><br/>
															<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																<label class="btn btn-default" ng-model="ble_code.status" uib-btn-radio=1>Active</label>
																<label class="btn btn-default" ng-model="ble_code.status" uib-btn-radio=0>Inactive</label>
															</div>
															<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
														</div>
													</form>
												</div>
												<div class="mt-40">							
													<div class="tile-body p-0 table-responsive">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>Username</th>
																	<th>Password</th>
																	<th width="725">Assigned Doors</th>
																	<th>Status</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr>
																	<td>jhonrock</td>
																	<td>**********</td>
																	<td>Main Gate Front, Main Gate Back, Pool Gate </td>
																	<td>
																		<select style="border: 0; width: 100%;">
																			<option value="" selected>Active</option>
																			<option value="">Inactive</option>
																		</select>
																	</td>
																	<td class="credintialicon">
																		<a href="" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																		<a href="" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</uib-accordion-group>
									</uib-accordion>
									</div>														
								</md-content>
								</md-tab>
								
							</md-tabs>
							</md-content>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
