<div class="page page-profile">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
						<div class="noback bg-blue cardheight">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/device-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
										<span class="text-lg">Devices</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
						<div class="noback bg-slategray lt cardheight">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/doors-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
										<span class="text-lg">Doors</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
						<div class="noback bg-lightred cardheight">
							<div class="row">
								<div class="col-xs-6 ta-r">
									<div class="iconbx">
										<img src="images/users-icon.png" alt="">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="itxt">
										<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
										<span class="text-lg">Users</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<section class="tile tile-simple">
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>
						<div class="hometabs">
							<md-content class="md-padding tabsdemoDynamicHeight">
								<md-tabs md-dynamic-height md-border-bottom>
									<md-tab label="Account">
										<md-content>
											<form ng-validate="validationOptions" id="user_form" name="user_form" enctype="multipart/form-data">
												<span class="error">{{user_error}}</span>
												<div class="modal-body p-0 mt-10">
													<div class="row">
														<div class="form-group col-sm-6 col-md-3">
															<label for="">First Name <span class="text-danger">*</span></label>
															<input type="text" maxlength="30" name="first_name" id="first_name" ng-model="userData.first_name" class="form-control" required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Last Name <span class="text-danger">*</span></label>
															<input type="text" maxlength="30" name="last_name" id="last_name" ng-model="userData.last_name" class="form-control" required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Email <span class="text-danger">*</span></label>
															<input type="email" name="email" id="email" ng-model="userData.email" class="form-control" placeholder="" ng-pattern="'[^@]+@[^@]+.[a-zA-Z]{2,6}'"
															 required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Profile Photo </label>
															<div class="profilephoto">
																<!--<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">-->
																<div class="bootstrap-filestyle input-group">
																	<input type="file" accept="image/*" file-model="myFile" id="profilePicAddUpdate" name="fileupload" style="display: none"
																	 onchange="HandleInputTypeFilechange();" tabindex="-1" />
																	<input type="text" class="form-control " id="profilePicFileName" readonly="true" />
																	<!--<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick();"/>-->
																	<span class="group-span-filestyle input-group-btn" tabindex="0" id="fakeBrowse" ng-click="HandleProfilePicAddUpdateClick();">
															<label for="profilep-2" class="btn btn-default ">
															<span class="glyphicon fa fa-inbox"></span> Find file
																	</label>
																	</span>

																</div>
																<script>
																	function HandleInputTypeFilechange() {
																		var fileinput = document.getElementById("profilePicAddUpdate");
																		var textinput = document.getElementById("profilePicFileName");
																		textinput.value = fileinput.value;
																	};
																</script>


															</div>
														</div>
													</div>
													<div class="row">
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Name as appears on LCD <span class="text-danger">*</span></label>
															<input type="text" maxlength="30" name="name_on_lcd" id="name_on_lcd" ng-model="userData.name_on_lcd" class="form-control"
															 required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Phone <span class="text-danger">*</span></label>
															<input type="text" maxlength="15" ng-name="user_phone_no" id="user_phone_no" ng-model="userData.user_phone_no" pattern="^\+[1-9]{1}[0-9]{3,14}$"
															 oninvalid="setCustomValidity('Please enter valid mobile number')" onchange="try{setCustomValidity('')}catch(e){}"
															 class="form-control" rangelength required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Address <span class="text-danger">*</span></label>
															<input type="text" name="address" id="address" ng-model="userData.address" class="form-control" placeholder="" required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Zip Code <span class="text-danger">*</span></label>
															<input type="text" maxlength="6" name="zip_code" ng-keypress="allowNumberOnly($event);" id="zip_code" ng-model="userData.zip_code"
															 class="form-control" required>
														</div>
													</div>
													<div class="row" ng-controller="ActivebtnCtrl">
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Password <span class="text-danger">*</span></label>
															<input type="password" name="password" id="password" ng-model="userData.password" class="form-control" required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Confirm Password <span class="text-danger">*</span></label>
															<input type="password" name="cpassword" id="" ng-model="userData.cpassword" class="form-control" required>
														</div>
														<div class="form-group col-sm-6 col-md-3">
															<label for="">Status <span class="text-danger">*</span></label><br/>
															<div class="btn-group btnrounded">
																<label class="btn btn-default" ng-model="userData.status" uib-btn-radio="1">Active</label>
																<label class="btn btn-default" ng-model="userData.status" uib-btn-radio="0">Inactive</label>
															</div>
														</div>
														<div id="expirationDateMainDiv" class="form-group col-sm-6 col-md-3" ng-hide="radioModel=='Inactive'">
															<label for="">Expiration Date <span class="text-danger">*</span></label>
															<div id="expirationDateInnerDiv" class="input-group userexp" ng-controller="DatepickerDemoCtrl">
																<input type="text" id="expirationdate" name="expirationdate" ng-disabled="userData.status == 0" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
																 datepicker-localdate is-open="opened" min-date="mindate" datepicker-options="dateOptions" ng-required="true"
																 close-text="Close" ng-model="userData.expirationdate" />
																<span class="input-group-btn">
															<button  ng-disabled="userData.status == 0" type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
															</div>
														</div>
													</div>
													<div class="mt-40 pb-10 ta-c">
														<a ui-sref="app.admin.user.users" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
														<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-click="submitUserData(userData, user_form)">Save and Next</button>
													</div>
												</div>
											</form>
										</md-content>
									</md-tab>

									<md-tab label="User Groups">
										<md-content>
											<div class="usergroup mt-10">
												<section class="tile">
													<div class="tile-header mb-0 mt-20" ng-controller="ModalDemoCtrl">
														<div class="row">
															<div class="form-group col-sm-3 col-md-3">
																<label for="">Firstly Select facility</label><br/>
																<select class="form-control" ng-model="facility" ng-options="item.facility_id as item.facility_name for item in facilityList  track by item.facility_id"
																 ng-change="unassignedGroup(facility)">
															<option value="">Select</option>
														</select>
															</div>
														</div>
														<div class="row mt-20">
															<div class="col-sm-12 col-md-12">
																<h3 class="custom-font"><strong>Assigned Groups</strong></h3>
																<ul class="controls">
																	<li class="addpopup">
																		<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Groups</span></a>
																	</li>
																</ul>
															</div>
														</div>
														<script type="text/ng-template" id="myModalContent.html">
															<div class="modal-header">
																<h4 class="modal-title custom-font">User Groups</h4>
															</div>
															<form ng-submit="assignUserGroup(usergroup)">
																<input type="hidden" ng-model="usergroup.facility_id" id="group_facility_id">
																<div class="hometabs">
																	<div class="overflow groupslists">
																		<div class="col-md-12 mt-20">
																			<h3 class="custom-font ng-binding emptyMsg" ng-show="!usergroups.length">No User Group Available for Currently selected Facility. Please add a group to this Facility</h3>
																			<ul>
																				<li ng-repeat="user_group in usergroups">
																					<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" value="{{user_group.usergroup_id}}" name="" ng-model="usergroup.usergrouparr[user_group.usergroup_id]" ><i></i> {{user_group.usergroupName}} <small>({{user_group.count}} Users)</small></label>
																				</li>
																			</ul>
																			<!-- <a ui-sref="app.admin.user.user-groups" ng-click="cancel()" class="pull-right mt-15 mb-20">Create User Group</a> -->
																		</div>
																	</div>
																</div>
																<div class="modal-footer">
																	<div class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c closeg" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</div>
																	<button ng-show="usergroups.length" type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
																</div>
															</form>
														</script>
													</div>

													<div class="layout layout-row alert alert-success alert-dismissable" style="display: none;"> {{usergroupmsg}}</div>
													<div class="tile-body p-0">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>Group Name</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr ng-repeat="assign_usergroup in assingned_usergroups">
																	<td><a ui-sref="app.admin.user.user-groups-members" ng-click="cancel()">{{assign_usergroup.usergroup_name}} <small>({{assign_usergroup.usergroup_user_count}} Users)</small></a></td>
																	<td><button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b" ng-click="unassignUserToUsergroup(assign_usergroup.usergroup_id, usergroup.facility_id)"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
																</tr>
															</tbody>
														</table>
													</div>
												</section>
											</div>
										</md-content>
									</md-tab>

									<md-tab label="Credentials">
										<md-content>
											<div class="credintials clckevent mt-20" ng-controller="AccordionDemoCtrl">
												<uib-accordion close-others="oneAtATime">
													<uib-accordion-group is-open="status.isFirstOpen" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','accessCode')">Access Code <i class="pull-right fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<span class="error">{{accesscode_error}}</span>
															<div class="row">
																<form ng-submit="saveAccessCode(accesscode, access_code)" name="access_code" id="access_code" ng-validate="validationOptions">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="accesscode.credential_id">
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Access Code</label>
																		<div style="position: relative">
																			<input type="text" name="access_code" id="access_code" class="form-control" disabled ng-model="accesscode.access_code">
																			<span class="refreshbtn" ng-click="generateAddAccessCode()"><i class="fa fa-refresh"></i></span>
																		</div>
																	</div>
																	<div class="form-group col-sm-3 col-md-6">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="accesscode.door_id"
																		 multiple required>
														</select>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="accesscode.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="accesscode.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</form>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Access Code</th>
																				<th width="850">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="accesscode in access_code_list">
																				<td>{{accesscode.Access_Code}}</td>
																				<td>{{accesscode.Door_Name}} </td>
																				<td>
																					<select style="border: 0; width: 100%;">
																			<option value="" ng-selected="accesscode.status == 1">Active</option>
																			<option value="" ng-selected="accesscode.status == 0">Inactive</option>
																		</select>
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(accesscode, 'access_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{accesscode.Credential_Id}}', 'access_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<uib-accordion-group is-open="status.open1" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','phoneCode')">Phone Code <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<span class="error">{{ phone_error }}</span>
															<div class="row">
																<form ng-submit="submitPhoneCode(phoneCode, phone_form)" name="phone_form" id="phone_code" ng-validate="validationOptions">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="phoneCode.credential_id">
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Phone Code</label>
																		<div style="position: relative">
																			<input type="text" name="access_code" id="phone_code" class="form-control" disabled ng-model="phoneCode.phone_code">
																			<span class="refreshbtn" ng-click="generateAddPhoneCode()"><i class="fa fa-refresh"></i></span>
																		</div>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="phoneCode.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Phone Number</label>
																		<input type="text" name="phone_numbers" id="phone_numbers" class="form-control" ng-model="phoneCode.phone_numbers" required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="phoneCode.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="phoneCode.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</form>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Phone Code</th>
																				<th width="725">Assigned Doors</th>
																				<th>Phone Number</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="phone_code in phone_code_list">
																				<td>{{phone_code.Detail.phone_code}}</td>
																				<td>{{phone_code.Door_Name}}</td>
																				<td>
																					<div ng-repeat="phone in phone_code.Detail.phone_numbers">{{phone}}</div>
																				</td>
																				<td>
																					<select style="border: 0; width: 100%;">
																			<option value="" ng-selected="phone_code.status == 1">Active</option>
																			<option value="" ng-selected="phone_code.status == 0">Inactive</option>
																		</select>
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(phone_code, 'phone_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{phone_code.Credential_Id}}', 'phone_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<uib-accordion-group is-open="status.open2" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','rfid')">RFID Code <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<span class="error">{{ rfid_error }}</span>
															<form ng-submit="saveRFID(rfid, rfid_form)" ng-validate="validationOptions" name="rfid_form">
																<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="rfid.credential_id">
																<div class="row">
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Card Number </label>
																		<input type="text" name="rfid_card_no" id="" class="form-control mb-10" placeholder="" ng-model="rfid.rfid_card_no" required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Facility Code</label>
																		<input type="text" name="rfid_facility_code" id="" class="form-control mb-10" placeholder="" ng-model="rfid.rfid_facility_code"
																		 required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="rfid.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="rfid.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="rfid.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
															</form>
															</div>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Card Number</th>
																				<th>Facility Code</th>
																				<th width="700">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="rfid_code in rfid_code_list">
																				<td>{{rfid_code.Detail.rfid_card_no}}</td>
																				<td>{{rfid_code.Detail.rfid_facility_id}}</td>
																				<td>{{rfid_code.Door_Name}} </td>
																				<td>
																					<select style="border: 0; width: 100%;">
																			<option value="" ng-selected="rfid_code.status == 1">Active</option>
																			<option value="" ng-selected="rfid_code.status == 0">Inactive</option>
																		</select>
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(rfid_code, 'rfid_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{rfid_code.Credential_Id}}', 'rfid_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<uib-accordion-group is-open="status.open3" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','wiegand_code')">Wiegand Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<form ng-submit="saveWiegand(wiegand, wiegand_form)" ng-validate="validationOptions" name="wiegand_form">
																<div class="row">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Card Number</label>
																		<input type="text" ng-model="wiegand.wiegand_card_number" name="" id="" class="form-control">
																	</div>
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="wiegand.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Facility Code</label>
																		<input type="text" name="" ng-model="wiegand.wiegand_facility_code" id="" class="form-control">
																	</div>
																	<div class="form-group col-sm-12 col-md-8">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="wiegand.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="wiegand.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
																<div class="mt-40">
																	<div class="tile-body p-0 table-responsive">
																		<table class="table table-bordered">
																			<thead>
																				<tr>
																					<th>Card Number</th>
																					<th>Facility Code</th>
																					<th width="400">Assigned Doors</th>
																					<th>Status</th>
																					<th width="75">Action</th>
																				</tr>
																			</thead>
																			<tbody style="font-size:14px;">
																				<tr ng-repeat="wiegand_code in wiegand_code_list">
																					<td>{{wiegand_code.Detail.wiegand_card_number}}</td>
																					<td>{{wiegand_code.Detail.wiegand_facility_code}}</td>
																					<td>{{wiegand_code.Door_Name}} </td>
																					<td>
																						{{wiegand_code.status==0?'Inactive':'Active'}}

																					</td>
																					<td class="credintialicon">
																						<a href="" uib-tooltip="Edit" ng-click="editCredential(wiegand_code, 'wiegand_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																						<a href="" ng-click="removeCredential('{{wiegand_code.Credential_Id}}', 'wiegand_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</form>
														</div>
													</uib-accordion-group>


													<uib-accordion-group is-open="status.open3" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','savenfc')">NFC Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i></div>
														</uib-accordion-heading>
														<span class="error">{{NFCCodeMessage}}</span>
														<div class="modal-body p-0">
															<div class="row">
																<form ng-submit="saveNFCcode(savenfc, nfc_form)" ng-validate="validationOptions" name="nfc_form">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="savenfc.credential_id">

																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">NFC Code</label>
																		<div style="position: relative;">
																			<input type="text" name="nfc_code" id="" class="form-control" placeholder="" ng-model="savenfc.nfc_code" required disabled>
																			<span class="refreshbtn" ng-click="generateNFCCode()"><i class="fa fa-refresh"></i>
																</span>
																		</div>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Facility Code</label>
																		<input type="text" name="nfc_facility_code" id="" class="form-control mb-10" placeholder="" ng-model="savenfc.nfc_facility_code"
																		 required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="savenfc.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="savenfc.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="savenfc.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</form>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>NFC Code</th>
																				<th width="850">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="nfccode in nfc_code_list">
																				<td>{{nfccode.Detail.nfc_code}}</td>
																				<td>{{nfccode.Door_Name}} </td>
																				<td>
																					<select style="border: 0; width: 100%;">
																			<option value="" ng-selected="nfccode.status == 1">Active</option>
																			<option value="" ng-selected="nfccode.status == 0">Inactive</option>
																		</select>
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(nfccode, 'nfc_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{nfccode.Credential_Id}}', 'nfc_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<uib-accordion-group is-open="status.open4" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Add User','ble_code')">BLE Code <i class="pull-right fa" ng-class="{'fa-minus': status.open4, 'fa-plus': !status.open4}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<span class="error">{{ blecode_error }}</span>
															<div class="row">
																<form ng-submit="saveBLEcode(ble_code, ble_form)" ng-validate="validationOptions" name="ble_form">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="ble_code.credential_id">
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Username</label>
																		<input type="text" name="ble_name" id="" class="form-control mb-10" placeholder="" ng-model="ble_code.ble_name" required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Password</label>
																		<input type="password" name="ble_pass" id="" class="form-control mb-10" placeholder="" ng-model="ble_code.ble_pass" required>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="ble_code.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-3 col-md-3">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="ble_code.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="ble_code.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</form>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Username</th>
																				<th>Password</th>
																				<th width="725">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="blecode in ble_code_list">
																				<td>{{blecode.Detail.ble_username}}</td>
																				<td><input type="password" style="border: 0px;" readonly value="{{blecode.Detail.ble_password}}"></td>
																				<td>{{blecode.Door_Name}}</td>
																				<td>
																					<select style="border: 0; width: 100%;">
																			<option value="" ng-selected="blecode.status == 1">Active</option>
																			<option value="" ng-selected="blecode.status == 0">Inactive</option>
																		</select>
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(blecode, 'ble_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{ blecode.Credential_Id}}', 'ble_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>
												</uib-accordion>
											</div>
										</md-content>
									</md-tab>

								</md-tabs>
							</md-content>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>