<div class="page page-profile">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<flip-header></flip-header>
		</div>

		<div ng-if="result">
			<div layout="row" ng-class="statusclass">
				{{result}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" ng-src="{{userData.user_photo}}" onerror="this.onError=null;this.src='images/users/2.jpg';" alt="">
						</div>
						<h4 class="mb-0"><strong>{{editUser.first_name}}</strong></h4>
						<span class="text-muted">{{editUser.user_phone_no}}</span>
						<div class="mt-40">
							<a ui-sref="app.admin.user.view-user({user_id:editUser.user_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk">View User</a>
							<a ng-click="deleteUser($event,editUser.user_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete User</a>
						</div>

					</div>
					<div class="tile-body text-center bg-blue p-0">
						<ul class="list-inline tbox m-0">
							<li class="tcol bg-blue dker p-10">
								<h2 class="m-0">{{groupcount}}</h2>
								<span class="text-transparent-white">User Groups</span>
							</li>
						</ul>
					</div>
				</section>
			</div>

			<div class="col-sm-12 col-md-8">
				<section class="tile tile-simple">
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>
						<div class="hometabs">
							<div ng-controller="ModalDemo2Ctrl">
								<script type="text/ng-template" id="myModalContent2.html">
														<form name="form1" role="form"  >
															<div class="modal-header"><h4 class="modal-title custom-font">Add Schedule</h4></div>
															<div class="modal-body mt-5 pb-30">
																<div class="row">
																	<div class="col-sm-12 col-md-6 form-group">
																		<label for=""><strong>Schedule Type</strong></label><br/>
																		<div class="row">
																			<div class="pull-left ml-10 pl-5" ng-click="custom_schedular()">
																				<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=true">
																					<input name="customRadioAlt" ng-model="schedule.schedule_type" value="ONETIME" type="radio" ng-init="schedule.schedule_type='ONETIME'" ><i></i> One Time
																				</label>
																			</div>
																			<div class="pull-left ml-40" ng-click="repetive_schedular()">
																				<label class="checkbox checkbox-custom-alt mb-0" ng-click="visibiltyUserGroup=false">
																					<input name="customRadioAlt" ng-model="schedule.schedule_type" value="REPEATING" type="radio" ><i></i> Repeating
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row" ng-init="visibiltyUserGroup=true"  ng-hide="visibiltyUserGroup">
																	<div class="col-sm-6 col-md-6 form-group">
																		<label for="">Start Date</label>
																		<div class="input-group" ng-controller="DatepickerDemoCtrl">
																			<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"  ng-model="schedule.date"  is-open="opened" datepicker-options="dateOptions" close-text="Close" name="date" onkeypress="return false;"/>
																			<span class="input-group-btn">
																				<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																			</span>
																		</div>
																	</div>
																	<div class="form-group col-sm-6 col-md-6"  ng-init="schedule.no_expirations=1" >
																	<label for="">&nbsp;</label><br/>
																	<label class="checkbox checkbox-custom-alt" style="margin-bottom:8px;">
																	<input name="customRadioAlt" type="checkbox" checked="checked" ng-model="schedule.no_expirations" ng-true-value="1" ng-false-value="0"><i></i> No Expirations
																	</label>											
																	</div>
																	<div class="form-group col-sm-6 col-md-6"></div>
																	<div class="form-group col-sm-6 col-md-6"  ng-controller="DatepickerDemoCtrl" ng-hide="schedule.no_expirations">
																		<div class="input-group">
																			<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"  ng-model="schedule.expiration" is-open="opened" min-date="schedule.schedule_start_date" datepicker-options="dateOptions"  close-text="Close" onkeypress="return false;"/>
																			<span class="input-group-btn">
																			<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
																			</span>
																		</div>
																	</div>
																</div>

																
																<div class="row" >
																	<div class="col-sm-12 col-md-12" >
																	<div class="schedule_scroll">
																		<div id="scheduler_here" class="dhx_cal_container" style='height:300px;' >
																		<div class="dhx_cal_navline">
																		<div class="dhx_cal_prev_button" >&nbsp;</div>
																		<div class="dhx_cal_next_button" >&nbsp;</div>
																		<div class="dhx_cal_today_button" ></div>
																		<div class="dhx_cal_date" style="display: none;"></div>

																		</div>
																		<div class="dhx_cal_header">
																		</div>
																		<div class="dhx_cal_data">
																		</div>
																		</div>
																		</div>

																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<!-- <button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button> -->
																<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c close_add" ng-click="cancel()" ng-hide="schedule.schedule_id"><i class="fa fa-arrow-right" ></i> Save</button>	
																<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c" ng-click="check_submit(schedule.schedule_id, schedule)" ng-show="schedule.schedule_id"><i class="fa fa-arrow-right"></i> Save</button>	
															</div>
														</form>		
													</script>
							</div>
							<md-content class="md-padding tabsdemoDynamicHeight">
								<md-tabs md-dynamic-height md-border-bottom>
									<md-tab label="Account">
										<md-content>
											<div class="modal-body p-0 mt-10">
												<span class="error">{{editUserMessage}}</span>
												<form role="form" ng-submit="submitEditUser(editUser, user_edit)" name="user_edit" ng-validate="validationOptions">
													<div class="row">
														<div class="form-group col-sm-6 col-md-6">
															<label for="">First Name <span class="text-danger">*</span></label>
															<input type="text" class="form-control" id="first-name" ng-model="editUser.first_name" ng-value="editUser.user_first_name"
															 name="first-name" required>
														</div>
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Last Name <span class="text-danger">*</span></label>
															<input type="text" class="form-control" id="last-name" ng-model="editUser.last_name" ng-value="editUser.user_last_name" name="last-name"
															 required>
														</div>
													</div>
													<div class="row">
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Email <span class="text-danger">*</span></label>
															<input type="email" class="form-control" id="email" ng-model="editUser.email" ng-value="editUser.user_email" readonly>
														</div>
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Profile Photo</label>
															<div class="profilephoto">
																<!-- <input ui-jq="filestyle" type="file" class="filestyle profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1"> -->
																<div class="bootstrap-filestyle input-group">

																	<!--<input type="text" class="form-control " disabled="">-->
																	<!--<span class="group-span-filestyle input-group-btn" tabindex="0">-->
																	<!--<label for="profilep-2" class="btn btn-default ">-->
																	<!--<span class="glyphicon fa fa-inbox"></span>-->
																	<!--Find file-->
																	<!--</label>-->
																	<!--</span>-->

																	<input type="file" accept="image/*" file-model="myFile" id="profilePicAddUpdate" name="fileupload" style="display: none"
																	 onchange="HandleInputTypeFilechange();" />
																	<input type="text" class="form-control " id="profilePicFileName" readonly="true" />
																	<!--<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick();"/>-->
																	<span class="group-span-filestyle input-group-btn" tabindex="0" id="fakeBrowse" ng-click="HandleProfilePicAddUpdateClick();">
															<label for="profilep-2" class="btn btn-default ">
															<span class="glyphicon fa fa-inbox"></span> Find file
																	</label>
																	</span>

																</div>
															</div>
															<script>
																function HandleInputTypeFilechange() {
																	var fileinput = document.getElementById("profilePicAddUpdate");
																	var textinput = document.getElementById("profilePicFileName");
																	textinput.value = fileinput.value;
																};
															</script>
														</div>
													</div>
													<div class="row">
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Name as appears on LCD <span class="text-danger">*</span></label>
															<input type="text" class="form-control" id="user_name_on_lcd" ng-model="editUser.user_name_on_lcd" name="user_name_on_lcd"
															 required ng-value="editUser.user_name_on_lcd">
														</div>
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Phone <span class="text-danger">*</span></label>
															<input type="text" maxlength="15" class="form-control" ui-mask="{{'(999) 999-9999'}}" id="user_phone_no" ng-model="editUser.user_phone_no">
														</div>
													</div>
													<div class="row">
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Address <span class="text-danger">*</span></label>
															<input type="emial" name="" id="" class="form-control" ng-model="editUser.address" ng-value="editUser.user_address">
														</div>
														<div class="form-group col-sm-6 col-md-6">
															<label for="">Zip Code <span class="text-danger">*</span></label>
															<input type="text" class="form-control" id="address1" name="address1" ng-model="editUser.zipcode" ng-value="editUser.user_zipcode"
															 required>
														</div>
													</div>
													<div class="row" ng-controller="ActivebtnCtrl">
														<!--<div class="form-group col-sm-6 col-md-6">-->
														<!--<label for="">Password</label>-->
														<!--<input type="password" class="form-control" id="password" ng-model="editUser.password" ng-value="editUser.password" name="password" required>-->
														<!--</div>-->
														<!--<div class="form-group col-sm-6 col-md-6">-->
														<!--<label for="">Confirm Password</label>-->
														<!--<input type="password" name="cnf_pass" id="cnf_pass" ng-model="editUser.cnf_pass" name="cnf_pass" class="form-control">-->
														<!--</div>-->
														<div class="form-group col-sm-6 col-md-4">
															<label for="">Status <span class="text-danger">*</span></label><br/>
															<div class="btn-group btnrounded">
																<label class="btn btn-default" ng-model="editUser.user_status" uib-btn-radio="1">Active</label>
																<label class="btn btn-default" ng-model="editUser.user_status" uib-btn-radio="0">Inactive</label>
															</div>
														</div>
														<div class="form-group col-sm-6 col-md-2">
															<label for=""> No Expirations</label><br/>
															<label class="checkbox checkbox-custom-alt" style="margin-bottom:8px;">
															<input name="customRadioAlt" type="checkbox" checked="checked" ng-model="editUser.no_expirations" ng-true-value="1" ng-false-value="0" ng-disabled="editUser.user_status == 0" ng-checked="editUser.user_status == 0"><i></i>
															</label>
														</div>													
														<div class="form-group col-sm-6 col-md-6" ng-hide="radioModel=='Inactive'">
															<label for="">Expiration Date <span class="text-danger">*</span></label>
															<div class="input-group userexp" ng-controller="DatepickerDemoCtrl">
																<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model-options="{ timezone: 'UTC' }" ng-model="editUser.expirationdate"  min-date="mindate"
																 is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" onkeypress="return false;"  ng-disabled="editUser.no_expirations || editUser.user_status == 0"/>
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;" ng-disabled="editUser.user_status == 0 || editUser.no_expirations"><i class="glyphicon glyphicon-calendar"></i></button>
																</span>
															</div>
														</div>
													</div>
													<div class="mt-40 pb-10 ta-c">
														<a href back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
														<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
													</div>
												</form>
											</div>
										</md-content>
									</md-tab>

									<md-tab label="User Groups">
										<md-content>
											<div class="usergroup mt-10">
												<section class="tile">
													<div class="row">
														<div class="form-group col-sm-3 col-md-3">
															<label for="">Firstly Select facility</label><br/>
															<select class="form-control" ng-model="facility" ng-options="item.facility_id as item.facility_name for item in facilityList  track by item.facility_id"
															 ng-change="userNotAssignedGroup(facility)">
															<option value="">Select Facility</option>
														</select>
														</div>
													</div>
													<div class="tile-header" ng-controller="ModalDemoCtrl">
														<h3 class="custom-font"><strong>Assigned Groups</strong></h3>
														<ul class="controls">
															<li class="addpopup">
																<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add disable-button" id="add_group_facility"><i class="fa fa-plus"></i> <span>Add Groups</span></a>
															</li>
														</ul>
														<script type="text/ng-template" id="myModalContent.html">
															<form ng-submit="assignEditUserGroup(usergroup)">
																<input type="hidden" ng-model="usergroup.facility_id" id="group_facility_id">
																<div class="modal-header">
																	<h4 class="modal-title custom-font">User Groups</h4>
																</div>
																<div class="hometabs">
																	<div class="overflow groupslists">
																		<div class="col-md-12 mt-20">
																			<h3 class="custom-font ng-binding emptyMsg" ng-show="!usergroups.length">No User Group Available for Currently selected Facility. Please add a group to this Facility</h3>
																			<ul>
																				<li ng-repeat="user_group in usergroups">
																					<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox" value="{{user_group.usergroup_id}}" name="" ng-model="usergroup.usergrouparr[user_group.usergroup_id]"><i></i> {{user_group.usergroupName}} <small>({{user_group.count}} Users)</small></label>
																				</li>
																			</ul>
																			<!--<a ui-sref="app.admin.user.user-groups" ng-click="cancel()" class="pull-right mt-15 mb-20">Create User Group</a>-->
																		</div>
																	</div>
																</div>
																<div class="modal-footer">
																	<div class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c usergroup_edit" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</div>
																	<button ng-show="usergroups.length" type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
																</div>
															</form>
														</script>
													</div>
													<div class="tile-body p-0">
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th>Group Name</th>
																	<th width="75">Action</th>
																</tr>
															</thead>
															<tbody style="font-size:14px;">
																<tr ng-repeat="assign_usergroup in userGroup">
																	<td><a ui-sref="app.admin.user.user-groups-members({usergroup_id:assign_usergroup.usergroup_id,userGroupName:assign_usergroup.usergroup_name,userGroupUserCount:assign_usergroup.usergroup_user_count})" ng-click="cancel()">{{assign_usergroup.usergroup_name}} <small>({{assign_usergroup.usergroup_user_count}} Users)</small></a></td>
																	<td><button type="button" ng-click="unassignUserGroupEdit($event,assign_usergroup.usergroup_id,usergroup.facility_id )"
																		 class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button></td>
																</tr>
															</tbody>
														</table>
													</div>
												</section>
											</div>
										</md-content>
									</md-tab>

									<md-tab label="Credentials" ng-click="getCredentials()">
										<md-content>
											<div class="credintials clckevent mt-20" ng-controller="AccordionDemoCtrl">
												<uib-accordion close-others="oneAtATime">
													<uib-accordion-group is-open="status.isFirstOpen" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','editAccess')">Access Code <i class="pull-right fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">															
															<form role="form" ng-submit="submitEditAccessCode(editAccess, access_edit_form)" ng-validate="validationOptions" name="access_edit_form">
																<div class="row">
																	<div class="form-group col-sm-6 col-md-4">
																		<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="editAccess.credential_id">
																		<label for="">Access Code</label>
																		<div style="position: relative">
																			<input type="text" name="access_code" id="access_code" class="form-control access-code-disable"  ng-model="editAccess.access_code" required>
																			<span class="refreshbtn" ng-click="generateAccessCode()"><i class="fa fa-refresh"></i></span>
																			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
																				<div class="btn-group" role="group" aria-label="1">
																					<label class="btn btn-default" ng-model="editAccess.accesscode_size" uib-btn-radio=5>5</label>
																					<label class="btn btn-default" ng-model="editAccess.accesscode_size" uib-btn-radio=6>6</label>
																					<label class="btn btn-default" ng-model="editAccess.accesscode_size" uib-btn-radio=7>7</label>
																					<label class="btn btn-default" ng-model="editAccess.accesscode_size" uib-btn-radio=8>8</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="form-group col-sm-12 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="editAccess.door_id"
																		 multiple required>
																		</select>
																	</div>
																	<div class="form-group col-sm-6 col-md-2" ng-hide="userGroup.length">
																		<label for="">Add Schedule</label><br/>
																		<a ng-click="scheduleopen()" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Add</a>
																	</div>
																</div>
																<div class="row">
																	<div class="form-group col-sm-12 col-md-12">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="editAccess.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="editAccess.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
															</form>
															
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Access Code</th>
																				<th>Assigned Doors</th>
																				<th>Schedules</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="accesscode in access_code_list">
																				<td>{{accesscode.Access_Code}}</td>
																				<td>{{accesscode.Door_Name}} </td>
																				<td>
																					<a ng-click="editviewopen(accesscode.credential_schedule_id, 'view')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="accesscode.credential_schedule_id == 0">View</a> 
																					<a ng-click="editviewopen(accesscode.credential_schedule_id, 'edit')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="accesscode.credential_schedule_id == 0">Edit</a>
																				</td>
																				<td>{{accesscode.status == 1 ? 'Active' : 'Inactive'}}
																					<!-- <select style="border: 0; width: 100%;">
																			<option value="" ng-selected="{{accesscode.status == 1}}">Active</option>
																			<option value="" ng-selected="{{accesscode.status == 0}}">Inactive</option>
																		</select> -->
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(accesscode, 'access_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{accesscode.Credential_Id}}', 'access_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<uib-accordion-group is-open="status.open1" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','phoneedit')">Phone Code <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">															
															<form ng-submit="submitEditPhoneCode(phoneedit, phone_edit_form)" ng-validate="validationOptions" name="phone_edit_form">																	
																<div class="row">	
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="phoneedit.credential_id">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Phone Code</label>
																		<div style="position: relative">
																			<input type="text" name="phone_code" id="phone_code" class="form-control" disabled ng-model="phoneedit.phone_code">
																			<span class="refreshbtn" ng-click="generatePhoneCode()"><i class="fa fa-refresh"></i></span>
																		</div>
																	</div>
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="phoneedit.door_id"
																		 multiple required>
																		</select>
																	</div>
																	<div class="form-group col-sm-6 col-md-2" ng-hide="userGroup.length">
																		<label for="">Add Schedule</label><br/>
																		<a ng-click="scheduleopen()" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Add</a>
																	</div>
																</div>


																<div class="row">

																	<div class="form-group col-sm-6 col-md-4">
																		
																		<label for="">Phone Number 1</label>
																		<input type="text" name="phone_numbers1" id="phone_numbers1" class="form-control form-group" ng-model="phoneedit.phone_numbers1" required>

																		<div class="row">
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">Start Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.starttime1" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">End Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.endtime1" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																		</div>
																		<div class="row">
																			<div class="form-group col-sm-12 col-md-12">
																				<label for="">Type</label><br/>
																				<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																					<label class="btn btn-default" ng-model="phoneedit.type1" uib-btn-radio=1>Hunting</label>
																					<label class="btn btn-default" ng-model="phoneedit.type1" uib-btn-radio=0>Cascading</label>
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="form-group col-sm-6 col-md-4">
																		<label for="">Phone Number 2</label>
																		<input type="text" name="phone_numbers2" id="phone_numbers2" class="form-control form-group" ng-model="phoneedit.phone_numbers2" required>
																		<div class="row">
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">Start Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.starttime2" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">End Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.endtime2" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																		</div>
																		<div class="row">
																		<div class="form-group col-sm-12 col-md-12">
																			<label for="">Type</label><br/>
																			<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																				<label class="btn btn-default" ng-model="phoneedit.type2" uib-btn-radio=1>Hunting</label>
																				<label class="btn btn-default" ng-model="phoneedit.type2" uib-btn-radio=0>Cascading</label>
																			</div>
																		</div>
																		</div>
																	</div>

																	<div class="form-group col-sm-6 col-md-4">
																		<div class="form-group col-sm-12 col-md-12">
																			<label for="">Phone Number 3</label>
																			<input type="text" name="phone_numbers3" id="phone_numbers3" class="form-control" ng-model="phoneedit.phone_numbers3" required>
																		</div>
																		<div class="row">
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">Start Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.starttime3" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																			<div class="col-sm-6 col-md-6 form-group">
																				<label for="">End Time </label><br/>
																				<select class="form-control" ng-model="phoneedit.endtime3" ng-options="time as time for time in timedropdown track by time">
																				<option value="">Select Time</option>
																			</select>
																			</div>
																		</div>
																		<div class="row">
																		<div class="form-group col-sm-12 col-md-12">
																			<label for="">Type</label><br/>
																			<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																				<label class="btn btn-default" ng-model="phoneedit.type3" uib-btn-radio=1>Hunting</label>
																				<label class="btn btn-default" ng-model="phoneedit.type3" uib-btn-radio=0>Cascading</label>
																			</div>
																		</div>
																		</div>
																	</div>
																</div>


																<div class="row">
																	<!-- <div class="form-group col-sm-3 col-md-4">
																		<label for="">Phone Number</label>
																		<input type="text" name="" id="" class="form-control" ng-model="phoneedit.phone_numbers">
																	</div> -->
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="phoneedit.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="phoneedit.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
															</form>															
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Phone Code</th>
																				<th width="325">Assigned Doors</th>
																				<th>Phone Number</th>
																				<th>Schedules</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="phone_code in phone_code_list">
																				<td>{{phone_code.Detail.phone_code}}</td>
																				<td>{{phone_code.Door_Name}}</td>
																				<td>
																					<div ng-repeat="phone in phone_code.Detail.phone_numbers">{{phone.phone_number}}</div>
																				</td>
																				<td>
																					<a ng-click="editviewopen(phone_code.credential_schedule_id, 'view')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="phone_code.credential_schedule_id == 0">View</a> 
																					<a ng-click="editviewopen(phone_code.credential_schedule_id, 'edit')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="phone_code.credential_schedule_id == 0">Edit</a>
																				</td>
																				<td>
																					<!--<select style="border: 0; width: 100%;">-->
																					<!--<option value="" ng-selected="phone_code.status == 1">Active</option>-->
																					<!--<option value="" ng-selected="phone_code.status == 0">Inactive</option>-->
																					<!--</select>-->
																					{{phone_code.status==0?'Inactive':'Active'}}
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(phone_code, 'phone_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{phone_code.Credential_Id}}', 'phone_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>

													<!--uib-accordion-group is-open="status.open2" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','editRfid')">RFID Code <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">															
															<form ng-submit="submitEditRFIDCode(editRfid, rfid_form)" name="rfid_form" ng-validate="validationOptions">
																<div class="row">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="editRfid.credential_id">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Card Number</label>
																		<input type="text" class="form-control number" ng-keypress="onlyNumber($event)" id="" ng-model="editRfid.rfid_card_no" name="rfid_card_no"
																		 required>
																	</div>
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="editRfid.door_id"
																		 multiple required>
																		</select>
																	</div>
																</div>
																<div class="row">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Facility Code</label>
																		<input type="text" class="form-control number" id="" ng-keypress="onlyNumber($event)" ng-model="editRfid.rfid_facility_code"
																		 name="rfid_facility_code" required>
																	</div>
																	<div class="form-group col-sm-12 col-md-8">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="editRfid.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="editRfid.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
															</form>															
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Card Number</th>
																				<th>Facility Code</th>
																				<th width="325">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="rfid_code in rfid_code_list">
																				<td>{{rfid_code.Detail.rfid_card_no}}</td>
																				<td>{{rfid_code.Detail.rfid_facility_id}}</td>
																				<td>{{rfid_code.Door_Name}} </td>
																				<td>
																					
																					{{rfid_code.status==0?'Inactive':'Active'}}
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(rfid_code, 'rfid_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{rfid_code.Credential_Id}}', 'rfid_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group-->

													<uib-accordion-group is-open="status.open3" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','wiegand_code')">Wiegand Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">
															<form ng-submit="submitEditWIEGANDCode(wiegand, wiegand_form)" ng-validate="validationOptions" name="wiegand_form">
																<div class="row">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Card Number</label>
																		<input type="text" ng-model="wiegand.wiegand_card_number" name="" id="" class="form-control">
																	</div>
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multipng-options=le chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="wiegand.door_id"
																		 multiple required></select>
																	</div>
																	<div class="form-group col-sm-6 col-md-2" ng-hide="userGroup.length">
																		<label for="">Add Schedule</label><br/>
																		<a ng-click="scheduleopen()" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Add</a>
																	</div>
																</div>
																<div class="row">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Facility Code</label>
																		<input type="text" name="" ng-model="wiegand.wiegand_facility_code" ng-keypress="onlyNumber($event)" id="" class="form-control">
																	</div>
																	<div class="form-group col-sm-12 col-md-8">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="wiegand.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="wiegand.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
															</form>
														</div>
														<div class="mt-40">
															<div class="tile-body p-0 table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>Card Number</th>
																			<th>Facility Code</th>
																			<th width="400">Assigned Doors</th>
																			<th>Schedules</th>
																			<th>Status</th>
																			<th width="75">Action</th>
																		</tr>
																	</thead>
																	<tbody style="font-size:14px;">
																		<tr ng-repeat="wiegand_code in wiegand_code_list">
																			<td>{{wiegand_code.Detail.wiegand_card_number}}</td>
																			<td>{{wiegand_code.Detail.wiegand_facility_code}}</td>
																			<td>{{wiegand_code.Door_Name}} </td>
																			<td>
																					<a ng-click="editviewopen(wiegand_code.credential_schedule_id, 'view')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="wiegand_code.credential_schedule_id == 0">View</a> 
																					<a ng-click="editviewopen(wiegand_code.credential_schedule_id, 'edit')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="wiegand_code.credential_schedule_id == 0">Edit</a>
																				</td>
																			<td>
																				{{wiegand_code.status==0?'Inactive':'Active'}}

																			</td>
																			<td class="credintialicon">
																				<a href="" uib-tooltip="Edit" ng-click="editCredential(wiegand_code, 'wiegand_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																				<a href="" ng-click="removeCredential('{{wiegand_code.Credential_Id}}', 'wiegand_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</uib-accordion-group>

													<!--uib-accordion-group is-open="status.open4" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','editNfc')">NFC Code <i class="pull-right fa" ng-class="{'fa-minus': status.open4, 'fa-plus': !status.open4}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">															
															<span class="form-group error">{{NfcCodeMessage}}</span>
															<form ng-submit="submitEditNfcCode(editNfc, nfc_edit_form)" ng-validate="validationOptions" name="nfc_edit_form">
																<div class="row">
																	<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="editNfc.credential_id">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">NFC Code</label>
																		<input type="text" class="form-control w-md" id="" value="xxxxxx-xx" name="nfc_code" ng-model="editNfc.nfc_code" required>
																	</div>
																	<div class="form-group col-sm-3 col-md-8">
																		<label for="">Assign Doors</label><br/>
																		<select Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="editNfc.door_id"
																		 multiple required>
																		</select>
																	</div>
																</div>
																<div class="row">
																	<div class="form-group col-sm-3 col-md-4">
																		<label for="">Facility Code</label>
																		<input type="text" class="form-control number" id="" ng-keypress="onlyNumber($event)" ng-model="editNfc.nfc_facility_code"
																		 name="editNfc" required>
																	</div>																		
																	<div class="form-group col-sm-12 col-md-8">
																		<label for="">Status</label><br/>
																		<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																			<label class="btn btn-default" ng-model="editNfc.status" uib-btn-radio=1>Active</label>
																			<label class="btn btn-default" ng-model="editNfc.status" uib-btn-radio=0>Inactive</label>
																		</div>
																		<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																	</div>
																</div>
															</form>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>NFC Code</th>
																				<th width="425">Assigned Doors</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="nfccode in nfc_code_list">
																				<td>{{nfccode.Detail.nfc_code}}</td>
																				<td>{{nfccode.Door_Name}}</td>
																				<td>
																					
																					{{nfccode.status==0?'Inactive':'Active'}}
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(nfccode, 'nfc_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{nfccode.Credential_Id}}', 'nfc_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group-->

													<uib-accordion-group is-open="status.open5" class="panel-default">
														<uib-accordion-heading>
															<div ng-click="cleanAccordionFormObject('Edit User','editBle')">BLE Code <i class="pull-right fa" ng-class="{'fa-minus': status.open5, 'fa-plus': !status.open5}"></i></div>
														</uib-accordion-heading>
														<div class="modal-body p-0">															
																<span class="error">{{ bleerror }}</span>
																<form ng-submit="submitEditBLECode(editBle, ble_edit_form)" ng-validate="validationOptions" name="ble_edit_form">
																	<div class="row">
																		<input type="hidden" name="credential_id" id="credential_id" class="form-control" disabled ng-model="editBle.credential_id"
																		 autocomplete="off">
																		<div class="form-group col-sm-3 col-md-4">
																			<label for="">Username</label>
																			<input type="text" class="form-control" id="" ng-model="editBle.ble_name" name="ble_name" required autocomplete="off">
																		</div>
																		<div class="form-group col-sm-3 col-md-8">
																			<label for="">Assign Doors</label><br/>
																			<select Multiple chosen="{width: '100%'}" ng-options="item.door_id as item.door_name for item in door_lists" ng-model="editBle.door_id"
																			 multiple required>
																			</select>
																		</div>
																		<div class="form-group col-sm-6 col-md-2" ng-hide="userGroup.length">
																			<label for="">Add Schedule</label><br/>
																			<a ng-click="scheduleopen()" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Add</a>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group col-sm-3 col-md-4">
																			<label for="">Password</label>
																			<input type="password" class="form-control" id="" ng-model="editBle.ble_pass" name="ble_pass" required autocomplete="off">
																		</div>
																		<div class="form-group col-sm-3 col-md-8">
																			<label for="">Status</label><br/>
																			<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																				<label class="btn btn-default" ng-model="editBle.status" uib-btn-radio=1>Active</label>
																				<label class="btn btn-default" ng-model="editBle.status" uib-btn-radio=0>Inactive</label>
																			</div>
																			<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a pull-right">Add/Save</button>
																		</div>
																	</div>
																</form>
															</div>
															<div class="mt-40">
																<div class="tile-body p-0 table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th>Username</th>
																				<th>Password</th>
																				<th width="325">Assigned Doors</th>
																				<th>Schedules</th>
																				<th>Status</th>
																				<th width="75">Action</th>
																			</tr>
																		</thead>
																		<tbody style="font-size:14px;">
																			<tr ng-repeat="blecode in ble_code_list">
																				<td>{{blecode.Detail.ble_username}}</td>
																				<td><input type="password" style="border: 0px;" readonly value="{{blecode.Detail.ble_password}}"></td>
																				<td>{{blecode.Door_Name}}</td>
																				<td>
																					<a ng-click="editviewopen(blecode.credential_schedule_id, 'view')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="blecode.credential_schedule_id == 0">View</a> 
																					<a ng-click="editviewopen(blecode.credential_schedule_id, 'edit')" class="group-span-filestyle btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a" ng-hide="blecode.credential_schedule_id == 0">Edit</a>
																				</td>
																				<td>
																					<!--<select style="border: 0; width: 100%;">-->
																					<!--<option value="" ng-selected="blecode.status == 1">Active</option>-->
																					<!--<option value="" ng-selected="blecode.status == 0">Inactive</option>-->
																					<!--</select>-->
																					{{blecode.status==0?'Inactive':'Active'}}
																				</td>
																				<td class="credintialicon">
																					<a href="" uib-tooltip="Edit" ng-click="editCredential(blecode, 'ble_code')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
																					<a href="" ng-click="removeCredential('{{blecode.Credential_Id}}', 'ble_code')" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																				</td>
																			</tr> 
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</uib-accordion-group>
												</uib-accordion>
											</div>
										</md-content>
									</md-tab>

								</md-tabs>
							</md-content>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
