<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-5 ta-c">
								<i class="fa fa-key fa-5x"></i>
							</div>
							<div class="col-xs-7">								
								<p class="text-elg text-strong mt-5 mb-5">4</p>
								<span class="text-lg">Access Keys</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">					
					<div class="noback bg-greensea">
						<div class="row">
							<div class="col-xs-5 ta-c">
								<i class="fa fa-users fa-5x"></i>
							</div>
							<div class="col-xs-7">								
								<p class="text-elg text-strong mt-5 mb-5">3</p>
								<span class="text-lg">User Groups</span>
							</div>
						</div>
					</div>					
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">					
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-5 ta-c">
								<i class="fa fa-calendar fa-5x"></i>
							</div>
							<div class="col-xs-7">								
								<p class="text-elg text-strong mt-5 mb-5">3</p>
								<span class="text-lg">Schedule Groups</span>
							</div>
						</div>
					</div>					
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<section class="tile tile-simple">
					<div class="tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" src="images/users/2.jpg" alt="">
						</div>
						<h4 class="mb-0"><strong>Arnold</strong></h4>
						<span class="text-muted">+1 212 1467 8920</span>
						<div class="mt-40">
							<button class="btn btn-rounded-20 btn-sm btn-greensea">Send Message</button>
							<button class="btn btn-rounded-20 btn-sm btn-lightred">Delete User</button>
						</div>

					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h2 class="m-0">4</h2>
								<span class="text-transparent-white">Keys</span>
							</li>
							<li class="tcol bg-blue dk p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">User Groups</span>
							</li>
							<li class="tcol bg-blue dker p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">Schedule Groups</span>
							</li>
						</ul>
					</div>  
				</section> 
				
				<section class="tile tile-simple"> 
					<div class="tile-header">
						<h1 class="custom-font"><strong>Description</strong></h1>
					</div> 
					<div class="tile-body">
						<p class="text-default lt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
					</div> 
				</section> 
			</div>
			
			<div class="col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Profile Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Account</strong></h4>
											</div>
										</div>
										
										<div class="row profiledetail">
											<div class="form-group col-md-6">
												<p><label>Facility</label> {{userData.facility_name}}</p>
											</div>
											<div class="form-group col-md-6">
												<p><label>Device</label> Reception Room</p>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-12 profiledetail">
												<p><label>Name</label> {{userData.user_first_name}} {{userData.user_last_name}}</p>
												<p><label>Phone</label> {{userData.phone_code}}</p>
												<p><label>E-mail</label> {{userData.user_email}}</p>
												<p><label>Address</label> {{userData.user_address}}</p> 
												<!-- <p><label>Country</label> {{userData.facility_name}}</p> -->
												<p><label>Status</label> {{userData.user_status}}</p>
												<p><label>Expiration Date</label> {{userData.user_expiration_date|date:'dd-MM-yyyy'}}</p>
											</div>											
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Credentials</strong></h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 profiledetail">
												<div class="row">										
													<div class="form-group col-sm-6">
														<p style="color:#3c8719"><label>Access Code</label></p>
														<p><label>Code</label> xxxxx-xx-xx</p>
														<p><label>Status</label> Active</p>	
													</div>
													<div class="form-group col-sm-6 editprofile">
														<p style="color:#3c8719"><label>Phone Code</label></p>
														<p><label>Code</label> xxxxx-xx-xx</p>
														<p><label>Status</label> Active</p>
														<p><label>Phone</label> 919-938-0123</p>
													</div>
												</div>
												<div class="row">										
													<div class="form-group col-sm-6">
														<p style="color:#3c8719"><label>RFID Code</label></p>
														<p><label>Card Number</label> xxxxx-xx-xx</p>
														<p><label>Facility Code</label> xxxxx-xx-xx</p>
														<p><label>Status</label> Active</p>	
													</div>
													<div class="form-group col-sm-6 editprofile">
														<p style="color:#3c8719"><label>BLE Code</label></p>
														<p><label>Username</label> paracosmm</p>
														<p><label>Password</label> xxxxx-xx-xx</p>
														<p><label>Status</label> Active</p>
													</div>
												</div>
											</div>											
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>User</strong> Groups</h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12">													
												<div class="tile-body p-0">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>Group Name</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>24x7</td>
															</tr>
															<tr>
																<td>Office Hrs</td>
															</tr>
															<tr>
																<td>Housekeeping Hrs</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Profile">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Account</strong></h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="first-name">First Name</label>
												<input type="text" class="form-control" id="first-name" value="Arnold">
											</div>
											<div class="form-group col-sm-6">
												<label for="last-name">Last Name</label>
												<input type="text" class="form-control" id="last-name" value="">
											</div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6">
												<label for="email">E-mail</label>
												<input type="email" class="form-control" id="email" value="pcosm1245@gmail.com" readonly>
											</div>
											<div class="form-group col-sm-6 editprofile">
												<label for="profile">Profile Photo</label>
												<div class="profilephoto">
													<input ui-jq="filestyle" type="file" class="filestyle profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
													<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="first-name">Phone Number</label>
												<input type="text" class="form-control" id="first-name" value="212 1467 1212">
											</div>
											<div class="form-group col-sm-6">
												<label for="address1">Address</label>
												<input type="text" class="form-control" id="address1" value="558 Margaret Street, LOS ANGELES, CA-90001, USA">
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-12">
												<label for="bio">Description</label>
												<textarea class="form-control" id="bio" style="height:125px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
											</div>
										</div>
										
										<div class="row" ng-controller="ActivebtnCtrl">										
											<div class="form-group col-sm-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" >
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
											<div class="form-group col-sm-6 editprofile" ng-hide="radioModel=='Inactive'">
												<label for="">Expiration Date</label>
												<div ng-controller="DatepickerDemoCtrl">
													<input type="text" class="form-control" id="mask02" ui-jq="inputmask" ui-options="{alias: 'mm/dd/yyyy'}">
												</div>
											</div>
										</div>
										
										<div class="row">
										  <div class="form-group col-md-12 legend">
											<h4><strong><br/>Credentials</strong></h4>
										  </div>
										</div>
										
										<div class="row">
										  <div class="form-group col-md-12 legend">
											<h5><strong>Access Code</strong></h5>
										  </div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6">
												<label for="">Code</label>
												<input type="text" class="form-control" id="" value="xxxxxx-xx">
											</div>
											<div class="form-group col-sm-6 editprofile">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
										</div>
										
										<div class="row">
										  <div class="form-group col-md-12 legend">
											<h5><strong>Phone Code</strong></h5>
										  </div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6">
												<label for="">Code</label>
												<input type="text" class="form-control" id="" value="xxxxxx-xx">
											</div>
											<div class="form-group col-sm-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6 editaddphone">
												<label for="">Phone</label>
												<div class="widget-todo" ng-controller="TodoWidgetCtrl">
													<form class="form-horizontal" role="form" ng-submit="addTodo()">
														<input type="text" class="form-control" id="todo" ui-jq="inputmask" ui-options="{'mask': '###-###-####'}" ng-model="todo" placeholder="" required>
														<button type="submit" class="btn addphone"><i class="fa fa-plus text-lg"></i></button>
													</form>

													<ul class="todo-list list-unstyled">
													  <li ng-repeat="todo in todos" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
														<div class="view">					 
															<span ng-dblclick="editTodo(todo)">{{todo.text}}</span>
															<a href="javascriph:;" class="text-danger remove-todo pull-right" ng-click="removeTodo(todo)" aria-label="Remove"><i class="fa fa-times"></i></a>
														</div>
														<form ng-submit="doneEditing(todo)">
															<input class="form-control edit mb-0" ng-trim="false" ng-model="todo.text" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo" ui-jq="inputmask" ui-options="{'mask': '###-###-####'}">
														</form>
													  </li>
													</ul>
												</div>
											</div>
										</div>
										
										<div class="row">
										  <div class="form-group col-md-12 legend">
											<h5><strong>RFID Code</strong></h5>
										  </div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6">
												<label for="">Card Number</label>
												<input type="text" class="form-control" id="" value="xxxxxx-xx">
											</div>
											<div class="form-group col-sm-6">
												<label for="">Facility Code</label>
												<input type="text" class="form-control" id="" value="xxxxxx-xx">
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h5><strong>BLE Code</strong></h5>
											</div>
										</div>
										
										<div class="row">										
											<div class="form-group col-sm-6">
												<label for="">Username</label>
												<input type="text" class="form-control" id="" value="paracosmm">
											</div>
											<div class="form-group col-sm-6">
												<label for="">Password</label>
												<input type="password" class="form-control" id="" value="xxxxxx-xx">
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="">Confirm Password</label>
												<input type="password" class="form-control" id="" value="xxxxxx-xx">
											</div>
											<div class="form-group col-sm-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong><br/>User</strong> Groups</h4>												
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12 legend">
												<h5 class="pull-left"><strong>Assigned Groups</strong></h5>
												<div ng-controller="ModalDemoCtrl">
													<script type="text/ng-template" id="myModalContent.html">
														<div class="modal-header"><h4 class="modal-title custom-font">User Groups</h4></div>
														<div class="hometabs">
															<div class="overflow groupslists">
																<div class="col-md-12">
																	<ul>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Residence</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Residence Guest</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Office Admin</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Maintenance</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Delivery</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Housekeeping Staff</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> 24x7 Services</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Residence</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Residence Guest</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Office Admin</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Maintenance</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Delivery</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> Housekeeping Staff</label>
																		</li>
																		<li>
																			<label class="checkbox checkbox-custom-alt checkbox-custom-sm"> <input type="checkbox"><i></i> 24x7 Services</label>
																		</li>
																	</ul>
																	<a ui-sref="app.admin.user.user-groups" ng-click="cancel()" class="pull-right mt-15 mb-20">Create User Group</a>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
															<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
														</div>											
													</script>
													<button ng-click="open()" class="btn btn-default btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10 pull-right"><i class="fa fa-plus"></i> <span>Add Groups</span></button>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12">													
												<div class="tile-body p-0">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>Group Name</th>
																<th width="75">Action</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>24x7</td>
																<td>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
															<tr>
																<td>Office Hrs</td>
																<td>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
															<tr>
																<td>Housekeeping Hrs</td>
																<td>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										
										<!--div class="row mt-20">
											<div class="form-group col-md-12 legend">
												<h4><strong><br/>Schedule</strong> Groups</h4>												
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12 legend">
												<h5 class="pull-left"><strong>Assigned Schedule Groups</strong></h5>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10 pull-right"><i class="fa fa-plus"></i> <span>Add Groups</span></button>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-md-12">													
												<div class="tile-body p-0">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>Schedule Name</th>
																<th>Facility</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Office Schedule</td>
																<td>USA Corporate Services</td>
																<td>
																	<button type="button" class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-edit"></i> <span>Edit</span></button>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
															<tr>
																<td>Cleaning Schedule</td>
																<td>Aerzen USA Corporation</td>
																<td>
																	<button type="button" class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-edit"></i> <span>Edit</span></button>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
															<tr>
																<td>Meeting Schedule</td>
																<td>USA Corporate Services</td>
																<td>
																	<button type="button" class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-edit"></i> <span>Edit</span></button>
																	<button type="button" class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b"><i class="fa fa-trash-o"></i> <span>Delete</span></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div-->
										</div>
										
										<div class="row">
											<div class="form-group col-md-12 legend mt-20">
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</button>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Save</button>
											</div>
										</div>
										
									</div>

								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
