<div class="page page-profile">
	<div class="pageheader backpage">
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<flip-header></flip-header>
		</div>

		<div ng-if="result">
			<div layout="row" ng-class="statusclass">
				{{result}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" ng-src="{{userData.user_photo}}" onerror="this.onError=null;this.src='images/users/2.jpg';" alt="">
						</div>
						<h4 class="mb-0"><strong>{{userData.user_first_name}} {{userData.user_last_name}}</strong></h4>
						<span class="text-muted">{{userData.user_phone_no|tel}}</span>
						<div class="mt-40">
							<a ui-sref="app.admin.user.edit-user({user_id: editUser.user_id})" class="btn btn-rounded-20 btn-sm btn-greensea">Edit User</a>
							<a ng-click="deleteUser($event,editUser.user_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete User</a>
						</div>

					</div>
					<div class="tile-body text-center bg-blue p-0">
						<ul class="list-inline tbox m-0">
							<li class="tcol bg-blue dker p-10">
								<h2 class="m-0">{{groupcount}}</h2>
								<span class="text-transparent-white">User Groups</span>
							</li>
						</ul>
					</div>
				</section>
			</div>

			<div class="col-sm-12 col-md-8">
				<section class="tile tile-simple">
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{userData.user_first_name}}</h1>
						</div>
						<div class="hometabs">
							<div class="wrap-reset m-0 pt-20">
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="form-group legend">
											<h4><strong>Account</strong> Details</h4>
										</div>
										<div class="form-group profiledetail">
											<p><label>Name</label>{{userData.user_first_name}} {{userData.user_last_name}}</p>
											<p><label>E-mail</label>{{userData.user_email}}</p>
											<p><label>Phone</label>{{userData.user_phone_no|tel}}</p>
											<p><label>LCD Name</label>{{userData.user_name_on_lcd}} </p>
											<p><label>Address</label>{{userData.user_address}}</p>
											<p><label>Zip Code</label>{{userData.user_zipcode}}</p>
											<p><label>Status</label>{{userData.user_status}}</p>
											<p ng-if="userData.user_expiration_date!='0'"><label>Expiration Date</label>{{userData.user_expiration_date*1000 | date:'dd/MM/yyyy': 'UTC'}}</p>
										</div>
									</div>
								</div>
								<div class="row mt-40">
									<div class="col-sm-12 col-md-12 profiledetail">
										<div class="form-group legend">
											<h4><strong>Assigned</strong> Credentials</h4>
										</div>
										<div class="credintials mt-20" ng-controller="AccordionDemoCtrl">
											<uib-accordion close-others="oneAtATime">
												<uib-accordion-group is-open="status.isFirstOpen" class="panel-default">
													<uib-accordion-heading>Access Code <i class="pull-right fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i></uib-accordion-heading>
													<div class="modal-body p-0">
														<span class="error">{{AccessCodeMessage}}</span>
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">Access Code</th>
																		<th width="600">Assigned Doors</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="accesscode in access_code_list">
																		<td>{{accesscode.Access_Code}}</td>
																		<td>{{accesscode.Door_Name}}</td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{accesscode.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>

												<uib-accordion-group is-open="status.open1" class="panel-default">
													<uib-accordion-heading>Phone Code <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i></uib-accordion-heading>
													<div class="modal-body p-0">
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">Phone Code</th>
																		<th width="400">Assigned Doors</th>
																		<th width="200">Phone Number</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="phone_code in phone_code_list">
																		<td>{{phone_code.Detail.phone_code}}</td>
																		<td>{{phone_code.Door_Name}}</td>
																		<td>
																			<div ng-repeat="phone in phone_code.Detail.phone_numbers">{{phone.phone_number|tel}}</div>
																		</td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{phone_code.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open2" class="panel-default">
													<uib-accordion-heading>RFID Code <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i></uib-accordion-heading>
													<div class="modal-body p-0">
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">Card Number</th>
																		<th width="450">Assigned Doors</th>
																		<th width="150">Facility Code</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="rfid_code in rfid_code_list">
																		<td>{{rfid_code.Detail.rfid_card_no}}</td>
																		<td>{{rfid_code.Door_Name}} </td>
																		<td>{{rfid_code.Detail.rfid_facility_id}}</td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{rfid_code.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open3" class="panel-default">
													<uib-accordion-heading>Wiegand Code <i class="pull-right fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i></uib-accordion-heading>
													<div class="modal-body p-0">
														<span class="error">{{ bleerror }}</span>
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">Card Number</th>
																		<th width="450">Assigned Doors</th>
																		<th width="150">Facility Code</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="wiegand_code in wiegand_code_list">
																		<td>{{wiegand_code.Detail.wiegand_card_number}}</td>
																		<td>{{wiegand_code.Door_Name}}</td>
																		<td>{{wiegand_code.Detail.wiegand_facility_code}}</td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{wiegand_code.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open4" class="panel-default">
													<uib-accordion-heading>NFC Code <i class="pull-right fa" ng-class="{'fa-minus': status.open4, 'fa-plus': !status.open4}"></i></uib-accordion-heading>
													<div class="modal-body p-0">														
														<span class="error">{{NfcCodeMessage}}</span>
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">NFC Code</th>
																		<th width="450">Assigned Doors</th>
																		<th width="150">Facility Code</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="nfccode in nfc_code_list">
																		<td>{{nfccode.Detail.nfc_code}}</td>
																		<td>{{nfccode.Door_Name}}</td>
																		<td></td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{nfccode.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>
												
												<uib-accordion-group is-open="status.open5" class="panel-default">
													<uib-accordion-heading>BLE Code <i class="pull-right fa" ng-class="{'fa-minus': status.open5, 'fa-plus': !status.open5}"></i></uib-accordion-heading>
													<div class="modal-body p-0">														
														<span class="error">{{ bleerror }}</span>														
														<div class="tile-body p-0 table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th width="200">Username</th>
																		<th width="200">Password</th>
																		<th width="400">Assigned Doors</th>
																		<th width="100" class="ta-c">Schedules</th>
																		<th width="100" class="ta-c">Status</th>
																	</tr>
																</thead>
																<tbody style="font-size:14px;">
																	<tr ng-repeat="blecode in ble_code_list">
																		<td>{{blecode.Detail.ble_username}}</td>
																		<td>{{blecode.Detail.ble_password}}</td>
																		<td>{{blecode.Door_Name}}</td>
																		<td class="credintialicon ta-c"></td>
																		<td class="ta-c">{{blecode.status==0?'Inactive':'Active'}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</uib-accordion-group>
											</uib-accordion>
										</div>
									</div>
								</div>
								<div class="usergroup row mt-40">
									<div class="col-sm-12 col-md-12 profiledetail">
										<div class="form-group legend">
											<h4><strong>Assigned</strong> Groups</h4>
										</div>
										<div class="form-group">
											<div class="tile-body p-0 table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Group Name</th>
														</tr>
													</thead>
													<tbody style="font-size:14px;">
														<tr ng-repeat="x in userGroup">
															<td><a ui-sref="app.admin.user.user-groups-members({usergroup_id:x.usergroup_id,userGroupName:x.usergroup_name,userGroupUserCount:x.usergroup_user_count})" ng-click="cancel()">{{x.usergroup_name}} <small>({{x.usergroup_user_count}} Users)</small></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>