<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent usersbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" src="images/users/2.jpg" alt="">
						</div>
						<h4 class="mb-0"><strong>Arnold</strong></h4>
						<span class="text-muted">+1 212 1467 8920</span>
						<div class="mt-40">
							<a ui-sref="app.admin.user.edit-user({user_id: editUser.user_id})" class="btn btn-rounded-20 btn-sm btn-greensea">Edit User</a>
							<a ng-click="deleteUser($event,editUser.user_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete User</a>
						</div>

					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol bg-blue dker p-10">
								<h2 class="m-0">3</h2>
								<span class="text-transparent-white">User Groups</span>
							</li>
						</ul>
					</div>  
				</section> 
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>						
						<div class="hometabs">	
							<div class="wrap-reset m-0 pt-20">
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="form-group legend">
											<h4><strong>Account</strong> Details</h4>
										</div>
										<div class="form-group profiledetail">
											<p><label>Name</label>{{userData.user_first_name}} {{userData.user_last_name}}</p>
											<p><label>E-mail</label> {{userData.user_email}}</p>
											<p><label>Phone</label>{{userData.user_phone_no}}</p>
											<p><label>LCD Name</label>{{userData.user_name_on_lcd}} </p>
											<p><label>Address</label>{{userData.user_address}}</p>
											<p><label>Zip Code</label> {{userData.user_zipcode}}</p>
											<p><label>Password</label> *********</p>
											<p><label>Status</label>{{userData.user_status}}</p>
											<p><label>Expiration Date</label>{{userData.user_expiration_date}}</p>
										</div>
									</div>
								</div>
								<div class="row mt-40">
									<div class="col-sm-12 col-md-12 profiledetail">
										<div class="form-group legend">
											<h4><strong>Assigned</strong> Credentials</h4>
										</div>
										<div class="form-group">													
											<div class="tile-body p-0 table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Credential Format</th>
															<th>Reference</th>
															<th width="425">Assigned Doors</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody style="font-size: 14px;">
														<tr>
															<td>Access Code</td>
															<td>11309147</td>
															<td>Main Gate Front, Main Gate Back, Pool Gate </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>Phone Code</td>
															<td>13190147</td>
															<td>Main Gate Front, Main Gate Back, Pool Gate, Gym Gate</td>
															<td>Active</td>
														</tr>
														<tr>
															<td>RFID Code</td>
															<td>3020 0004 4848 6700</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>NFC Code</td>
															<td>4115 4124 1524 8458</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>BLE Code</td>
															<td>johnsmith</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Inactive</td>
														</tr>
														<tr>
															<td>Access Code</td>
															<td>11309147</td>
															<td>Main Gate Front, Main Gate Back, Pool Gate </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>Phone Code</td>
															<td>13190147</td>
															<td>Main Gate Front, Main Gate Back, Pool Gate, Gym Gate</td>
															<td>Active</td>
														</tr>
														<tr>
															<td>RFID Code</td>
															<td>3020 0004 4848 6700</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>NFC Code</td>
															<td>4115 4124 1524 8458</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Active</td>
														</tr>
														<tr>
															<td>BLE Code</td>
															<td>johnsmith</td>
															<td>Main Gate Front, Main Gate Back </td>
															<td>Inactive</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="usergroup row mt-40">
									<div class="col-sm-12 col-md-12 profiledetail">
										<div class="form-group legend">
											<h4><strong>Assigned</strong> Groups</h4>
										</div>
										<div class="form-group">													
											<div class="tile-body p-0 table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Group Name</th>
														</tr>
													</thead>{{userGroup}}
													<tbody style="font-size:14px;">
														<tr ng-repeat="x in userGroup">
															<td><a ui-sref="app.admin.user.user-groups-members" ng-click="cancel()">{{x.usergroupName}}<small>({{x.count}} Users)</small></a></td>
														</tr>
														<tr>
															<td><a ui-sref="app.admin.user.user-groups-members" ng-click="cancel()">Office Hours <small>(35 Users)</small></a></td>
														</tr>
														<tr>
															<td><a ui-sref="app.admin.user.user-groups-members" ng-click="cancel()">Housekeeping Hours <small>(15 Users)</small></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
