<div class="page page-users">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.facility.facility">
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-map-marker fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Facility</p>
									<span class="text-lg">2</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Devices</p>
									<span class="text-lg">35</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.user.users">
						<div class="noback bg-lightred">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Users</p>
									<span class="text-lg">145</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="DoorCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="form1" role="form">
											<div class="modal-header"><h4 class="modal-title custom-font">Create Door</h4></div>
											<div class="modal-body">							
												<div class="form-group">
													<label for="">Name</label>
													<input type="text" name="" id="" class="form-control mb-10" placeholder="">
												</div>
												<div class="form-group">
													<label for="">Description</label>
													<textarea name="" id="" class="form-control mb-10" placeholder=""></textarea>
												</div>
												<div class="form-group">
													<label for="">Device Type</label><br/>
													<div class="btn-group btnrounded" ng-controller="MasterbtnCtrl">
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Master'">Active</label>
														<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Slave'">Inactive</label>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>		
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Doors</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r">
								<div class="col-md-6 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('status')">Status</a></li>
											<li><a href="" ng-click="orderByMe('facility')">Facility</a></li>
										</ul>
									</label>
								</div>
								<div class="col-md-6">
									<div class="gridlistbar ta-r pull-right">
										<label class="control-label">View by</label>
										<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
										<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-md-3">
										<label for="fbtext" class="control-label">Search by text</label> 
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-md-3">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-md-3">
										<label for="fblocation" class="control-label">Search by status</label>
										<input type="text" class="form-control" id="fblocation" ng-model="status">
									</div>
									<div class="col-md-3">
										<label for="fblocation" class="control-label">Search by facility</label>
										<input type="text" class="form-control" id="fblocation" ng-model="facility">
									</div>
								</div>
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="door in doors | limitTo:totalDisplayed | filter:text | filter:title | filter:status | orderBy:myOrderBy">
											<span class="facilityname"><a ui-sref="app.subadmin.facility.facility-details">{{ door.facility }}</a></span>
											<md-card-content>
												<h2 class="md-title mt-40">{{ door.title }}</h2>
												<p>{{ door.status }}</p>
												<p><a ui-sref="app.subadmin.device.device-details">{{ door.device }}</a></p>
												<p style="height:auto;">{{ door.description | limitTo: 75 }}{{door.description.length > 75 ? '...' : ''}}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.subadmin.door.view-doors">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.subadmin.door.view-doors">Edit</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		
	</div>
</div>