<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.facility.facility">
						<div class="noback bg-greensea">
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-map-marker fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Facility</p>
									<span class="text-lg">2</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.device.devices">
						<div class="noback bg-blue">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-fax fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Devices</p>
									<span class="text-lg">35</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="card-container col-lg-3 col-sm-6 col-sm-12">
				<div class="card">
					<a ui-sref="app.subadmin.user.users">
						<div class="noback bg-lightred">						
							<div class="row">
								<div class="col-xs-4 ta-c">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-8">								
									<p class="text-elg text-strong mt-5 mb-5">Users</p>
									<span class="text-lg">145</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
	
		<div class="row">
			<div class="col-md-4">
				<section class="tile tile-simple">
					<div class="tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" src="images/noimage.jpg" alt="">
						</div>
						<h4 class="mb-0"><strong>Super Admin</strong></h4>
						<span class="text-muted">Active</span>
						<div class="mt-40">
							<button class="btn btn-rounded-20 btn-sm btn-lightred">Delete Roles</button>
						</div>
					</div>  
				</section> 
				
				<section class="tile tile-simple"> 
					<div class="tile-header">
						<h1 class="custom-font"><strong>Description</strong></h1>
					</div> 
					<div class="tile-body">
						<p class="text-default lt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
					</div> 
				</section> 
			</div>
			
			<div class="col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
							<uib-tab heading="Profile Detail">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Account Details</strong></h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-12 profiledetail">
												<p><label>Roles Name</label> Super Admin</p>
												<p><label>Status</label> Active</p>
												<p><label>Access</label> Full Access</p>
											</div>											
										</div>
										
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Edit Profile">
								<div class="wrap-reset"> 
									<div class="profile-settings"> 
									
										<div class="row">
											<div class="form-group col-md-12 legend">
												<h4><strong>Account Details</strong></h4>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="first-name">Roles Name</label>
												<input type="text" class="form-control" id="first-name" value="">
											</div>											
											<div class="col-sm-6">
												<label for="">Status</label><br/>
												<div class="btn-group btnrounded" ng-controller="ActivebtnCtrl">
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Active</label>
													<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Inactive</label>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6">
												<div class="row">
													<div class="form-group col-sm-12">
														<label for="">Access</label><br/>
														<div class="btn-group btnrounded" ng-controller="AccessbtnCtrl">
															<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Full'" style="padding:8px 18px;">Full Access</label>
															<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Restricted'" style="padding:8px 18px;">Restricted Access</label>
														</div>
													</div>
													<div class="form-group col-sm-8 editprofile">
														<label for="profile">&nbsp;</label>
														<select Multiple chosen="{width: '100%'}">
															<option value="users">Users</option>
															<option value="tenants">Tenants</option>
															<option value="devices">Devices</option>
														</select>
													</div>
												</div>
											</div>											
										</div>
										
										<div class="row">	
											<div class="form-group col-sm-12">
												<label for="bio">Description</label>
												<textarea class="form-control" id="bio" style="height: 125px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-12 legend mt-20">
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</button>
												<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Save</button>
											</div>
										</div>
										
									</div>

								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
