@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:300,700|Ubuntu+Mono|Lato:300,400,700,300italic,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
.lh-38 {
	line-height: 33px;
	margin-bottom: 10px;
}

.refreshbtn {
	position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    text-align: center;
    background: #dbe0e2;
    height: 38px;
    border-radius: 0 3px 3px 0;
    line-height: 38px;
    color: #616f77;
	border: 0 none;
}

.refreshbtn:hover {
	background: #616f77;
	color: #ffffff;
}

.credintials .widget-todo form .form-control:hover, .credintials .widget-todo form .form-control:focus, .credintials .widget-todo form .form-control:focus:hover {
	border: 1px solid #dbe0e2;
}

.lh-38.cpass {
	line-height: 20px!important;
    margin-bottom: 3px!important;
}

.greenseatx {
	color: #8cc34b;
	font-weight: 500;
}

.w-130 {
	width: 130px;
}

.pl-0,
.plr-0 {
    padding-left: 0
}

.plr-0,
.pr-0 {
    padding-right: 0
}

.pos-r,
.profilephoto {
    position: relative
}

.ta-l {
    text-align: left !important
}

.ta-c {
    text-align: center !important
}

.ta-r {
    text-align: right !important
}

.pl-5 {
    padding-left: 5px
}

.ff-rc {
    font-family: 'Roboto Condensed', sans-serif
}

.f-wm {
    font-weight: 500
}

.topmenu .branding {
    display: none;
}

.hovershadow {
    transition: .75s
}

.hovershadow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25)
}

.tbox > .tcol a {
	padding: 18px 0 20px;
}

.tbox > .tcol a h2 {
	margin: 0 !important;
}

.tbox > .tcol:hover a h2 {
	color: #151515;
}

textarea.form-control {
    height: 75px
}

.profilephoto {
    overflow: hidden;
	position: relative;
}

.profilephoto .user-profilep {
    font-size: 13px;
    position: absolute;
    left: -75px;
	left: 0px\9;
    top: 0;
    padding: 8px 0;
    width: 101%;
    background-color: #eee;	
}

_:-ms-input-placeholder, :root .profilephoto .user-profilep { 
	left: 0px;
} 
	
.profilephoto.csvupload .user-profilep {
    left: 14px;
    opacity: 0;
    width: 115px
}

.modal-header {
	background: #f8f8f8;
}

.modal-header h4 {
	font-size: 18px;
}

.modal-body label, .profile-settings label {
	font-weight: 400;
}

.modal-body .form-group.legend {
	margin-bottom: 0px;
}

.profilephoto .form-control {
    background: 0 0
}

.profilephoto .input-group-btn .btn {
    padding: 8px 12px;
    border: 1px solid #dbe0e2
}

.account .ng-valid-time .btn,
.validtime .ng-valid-time .btn {
    padding: 8px 12px;
    border-radius: 2px;
    margin-left: 2px;
    border-color: #dbe0e2
}

.btn-group.btnrounded>.btn {
    border-radius: 2px;
    padding: 8px 15px;
    width: auto
}

tr[ng-show="::showSpinners"] {
    display: none
}

.addpopup a.add {
    margin: 11px 15px 0 0!important;
    padding: 10px 15px 8px!important;
    text-transform: uppercase;
	font-size: 12px;
}

a.add.disconnect:hover {
	background: #b3b3b3;
	color: #fff;
}

.addusers {
	float: right;
}

.addusers a.add {
    margin: -1px 0 0!important;
    padding: 10px 15px 8px!important;
    text-transform: uppercase;
	font-size: 12px;
}

.addpopup a.add i, .addusers a.add i {
    font-size: 120%!important;
    line-height: 37px!important;
    background: #b3b3b3;
    color: #fff
}

.backpage a {
    font-size: 18px
}

.gridlistbar {
    display: block;
    margin: 3px 0 0
}

.gridlistbar a, .customicon a {
    background: #f9f9f9;
    color: #888;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-decoration: none!important;
    margin-left: 5px;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #c2c2c2;
    font-size: 14px;
	cursor: pointer;
}

.gridlistbar a:first-child, .customicon a:first-child {
	margin-left: 0;
}

.gridlistbar a.active, .gridlistbar a:hover, .customicon a:hover {
    background: #3c8719;
    border: 1px solid #3c8719;
    color: #fff
}

.gridlistbar .dropdown-menu > li > a, .gridlistbar .dropdown-menu > li > a:hover, .gridlistbar .dropdown-menu > li > a.active {
	width: auto;
	height: auto;
	border: 0 none;
	background: transparent;
	text-align: left;
	margin-bottom: 0px;
}

.gridlistbar .dropdown-menu > li > a:hover, .gridlistbar .dropdown-menu > li > a.active {
	background: #f5f5f5;
}

.credintialicon a {
	color: #888;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none!important;
    margin-left: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.credintialicon a:hover {
	color: #3c8719;
}

md-content {
    background: 0 0
}

.pull-left {
    float: left
}

.close.displayblock {
    display: block!important
}

.modal-lg {
    width: 1300px!important
}

.small,
small {
    font-size: 12px!important;
    font-weight: 400
}

#header .dropdown>.dropdown-menu {
    margin-top: 0px;
    border-top: 0 none;
}

.nav-profile.open .dropdown-menu {
    right: 10px;
    left: auto
}

.pageheader h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize
}

.logo-login {
    background: url(../images/logo.png) top center no-repeat;
    background-size: contain;
    width: 100%;
    height: 54px
}

.box-shadow,
.login-box-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.login-h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0
}

.overflow {
    overflow: hidden
}

.easypiechart .pie {
    display: inline-block;
    line-height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #444
}

.customhead {
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #444
}

.hometabs md-content.tabsdemoDynamicHeight md-tabs {
    background: 0 0;
    border: 0 solid #e1e1e1
}

.hometabs md-tabs .md-tab.md-active,
md-tabs .md-tab.md-focused {
    color: #fff;
    background: #3c8719;
    max-width: none!important;
	/*opacity: 1;
    pointer-events: auto;*/
}

.hometabs md-tabs[md-border-bottom] md-tabs-wrapper {
    border-width: 0
}

.hometabs md-tabs md-ink-bar {
    display: none
}

.hometabs .md-tab {
    padding: 7px 16px;
    text-transform: capitalize;
    border: 1px solid #3c8719;
    font-weight: 400;
    color: #333;
    background: #f9f9f9;
    border-radius: 3px;
    margin-right: 5px;
    max-width: none!important;
	/*pointer-events: none;
	opacity: 0.5;*/
	cursor: pointer;
}

.hometabs .mapview {
    width: 100%;
    height: 500px
}

.notification .list-group {
    margin-bottom: 0
}

.notification .list-group-item {
    margin-bottom: 0;
    border: 0;
    padding: 9px 0 8px;
    border-bottom: 1px solid #ddd
}

.notification .list-group-item a {
    color: #666;
    display: block
}

.notification .list-group-item a:hover {
    color: #3c8719
}

.notification .list-group-item a span.block {
    margin-top: -3px;
    margin-bottom: -3px
}

.notification .list-group-item a span.text-muted {
    font-style: italic
}

.notification .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0 none;
    padding-bottom: 3px
}

.notification .media .media-icon {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 14px
}

.usergroups .tabs-dark .nav-tabs {
    background-color: rgba(255, 255, 255, .2)
}

.usergroups .tabs-dark .nav-tabs>li.active>a,
.usergroups .tabs-dark .nav-tabs>li.active>a:focus,
.usergroups .tabs-dark .nav-tabs>li.active>a:hover {
    background-color: rgba(0, 0, 0, .1);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2)
}

.usergroups .nav-tabs>li.active:after {
    border-top: 4px solid rgba(0, 0, 0, .2)
}

.usergroups .tabs-dark .nav-tabs>li>a:hover {
    background-color: rgba(0, 0, 0, .1)
}

.usergroups .text-lightred {
    color: #d5d5d5
}

.credintials .addphone,
.editaddphone .addphone {
    background: #3c8719;
    height: 38px;
    color: #fff;
    z-index: 99999
}

.slavevalues {
    float: right;
    width: 50%
}

.account .first {
    padding: 0 5px 0 0
}

.account .last {
    padding: 0 0 0 5px;
    position: static
}

.account .bootstrap-filestyle .btn {
    padding: 8px 12px
}

.credintials .first {
    padding: 0 5px 0 0
}

.credintials .last {
    padding: 0 0 0 5px
}

.credintials .first label {
    line-height: 38px;
    display: block;
    font-weight: 600
}

.credintials .last .status {
    margin-bottom: 10px
}

.widget-todo form .form-control {
    height: 38px;
    margin-bottom: 0
}

.credintials .addphone {
    margin-top: -38px;
    float: right;
    padding: 10px 12px;
    border-radius: 0 3px 3px 0
}

.credintials .widget-todo .todo-list>li.editing .edit {
    margin-top: 1px
}

.credintials .widget-todo .todo-list .view {
    padding: 6px 12px
}

.usergroup .tile .tile-header {
    padding: 0;
    margin-bottom: 20px;
	background: transparent;
}

.usergroup .tile .tile-header .controls {
    position: relative;
    float: right
}

.usergroup .tile .tile-header .controls>li {
    float: none
}

.usergroup .table > tbody > tr > td:first-child {
	padding: 0;
}

.usergroup a {
	color: #616f77;
	display: block;
	padding: 8px; 
}

.usergroup a:hover {
	color: #3c8719;
}

.usergroup .tile .tile-header .addpopup a.add {
    line-height: normal;
    margin: 0!important;
    min-width: auto;
    font-size: 12px;
    padding: 8px 8px 7px!important;
    border-radius: 3px;
	color: #95a2a9;
}

.usergroup .tile .tile-header .addpopup a.add i {
    line-height: 30px!important
}

.editaddphone .widget-todo form .form-control {
    height: 38px;
    margin-bottom: 0
}

.editaddphone .addphone {
    margin-top: -38px;
    float: right;
    padding: 10px 12px;
    border-radius: 0 3px 3px 0
}

.editaddphone .widget-todo .todo-list>li.editing .edit {
    margin-top: 1px
}

.editaddphone .widget-todo .todo-list .view {
    padding: 6px 12px
}

.profiledetail p {
	margin: 0 0 5px 0;
}

.profiledetail p label {
    width: 150px;
    vertical-align: top;
}

.profiledetail p span.firmdes {
    display: inline-block;
    width: 75%;
    word-break: break-all;
}

.deviceactiondrop {
    display: inline-block;
    padding: 0 15px;
    font-size: 18px
}

.tile-simple .text-muted {
    display: block;
    margin: 10px 0 13px
}

.btn-group.btnrounded.calldays>.btn {
    padding: 8px 14.25px
}

table.dstatus tr td.online {
    color: #3c8719
}

table.dstatus tr td.offline {
    color: #c9302c
}

table.dstatus tr td.offline i,
table.dstatus tr td.online i {
    font-size: 14px;
    margin-right: 5px
}

a.serplan {
    color: #4a555b;
    cursor: pointer;
    display: block;
    padding: 5px 15px
}

a.serplan:focus,
a.serplan:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.wrap-reset h4 {
    font-size: 18px;
    margin: 0;
    border-bottom: 1px dotted #cacaca;
    padding-bottom: 10px
}

.page-core {
    background: url(../images/loginbg.jpg) #3f4e62;
    background-size: cover
}

.appWrapper.header-fixed.sidebar-sm #content {
    left: 0!important
}

.card-container .card .bg-dashboard {
    padding: 0;
    height: 170px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 100%);
	border-radius: 5px;
	overflow: hidden;
}

.dashboardbg {
    background: #000000;
    height: 370px!important;
	border-radius: 7px;
	overflow: hidden;
}

.card-container .card .bg-dashboard .bg-transparent {
    background: url(../images/dashboardbg.png) right bottom no-repeat;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: relative;
    cursor: default;
    background-size: cover
}

.card-container .card .bg-dashboard .bg-transparent.pdevicebg {
    background: url(../images/pdevicebg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.ddevicebg {
    background: url(../images/ddevicebg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.usersbg {
    background: url(../images/usersbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.doorbg {
    background: url(../images/doorbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.doorsbg {
    background: url(../images/doorsbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.cameradvrbg {
    background: url(../images/ddevicebg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.rolesbg {
    background: url(../images/rolesbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.schedulebg {
    background: url(../images/schedulebg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.reportsbg {
    background: url(../images/reportsbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.technicianbg {
    background: url(../images/technicianbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent.diagnosticsbg {
    background: url(../images/diagnosticsbg.png) right bottom no-repeat;
	background-size: cover;
	padding: 15px;
}

.card-container .card .bg-dashboard .bg-transparent h3 {
    margin: 0;    
    display: inline-block;
    padding: 10px 12px 10px;
    border-radius: 3px;
    font-size: 22px;    
    font-family: 'roboto condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
	background: rgba(255, 255, 255, 0.85)!important;
    color: #04aec5!important
}

.card-container .card .bg-dashboard .bg-transparent h3.h3link {
    padding: 0
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.card-container .card .bg-dashboard .bg-transparent h3.h3link a {
    padding: 12px 17px 12px;
    display: block;
    border-radius: 3px;
	overflow: hidden;
	color: #04aec5!important;
	color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 15s infinite linear;
}

.card-container .card .bg-dashboard .bg-transparent p {
    margin: 20px 0 5px;
    font-size: 18px;
    color: #fff;
	font-weight: 100;
}
.card-container .card .bg-dashboard .bg-transparent p.dashtext {
	font-size: 28px;
}

.card-container .card .bg-dashboard .bg-transparent .realtimeloader {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100.1%;
    opacity: .5
}

.card-container .card {
    margin-bottom: 30px;
	font-weight: 100;
}

.card-container .card .back>.row>div a {
    display: block;
    font-size: 18px
}

.tcol h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100
}

.tcol .text-transparent-white {
	font-size: 16px;
	font-weight: 400
}

.page-dashboard .tcol a h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #616f77;
    font-size: 24px;
    font-weight: 100
}

.page-dashboard .tcol:hover a h3,
.tcol a:hover h3 {
    color: #7eb044!important
}

.glview md-card {
    margin: 0 1.5% 20px 0;
    width: 23.85%;
    padding: 15px;
    vertical-align: top;
    float: left;
    display: inline-block;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    transition: .5s;
    background: #fefefe;
    position: relative
}

.glview md-card:nth-child(4n+4){
	margin-right: 0;
}

.glview md-card.slaveusers {
    width: 260px
}

.glview md-card:hover {
    box-shadow: 0 8px 5px rgba(0, 0, 0, .15)
}

.glview md-card .md-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    display: block;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    background: #fff
}

.glview md-card md-card-content {
    padding: 0;
}

.glview md-card md-card-content .md-title {
    font-size: 15px;
    margin: -15px -15px 20px;
    background: #e2e2e2;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glview md-card md-card-content p {
    font-size: 14px;
    color: #888;
    margin: 0 0 10px;
    overflow: hidden;
    height: 22px
}

.glview md-card md-card-content p span {
	display: inline-block;
	width: 65px;
    vertical-align: top;
}

.glview md-card md-card-content p span.devicelengths {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.glview md-card .md-actions a {
    padding: 6px 14px;
    font-size: 14px;
    text-transform: capitalize;
    display: block;
    margin: 10px 5px 0;
    font-weight: 600
}

.glview md-card .facilityname {
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    padding: 3px 10px;
    font-size: 13px;
    color: #252525;
    border-radius: 0 0 5px
}

.glview md-card .facilityname a {
    font-weight: 500
}

.listview .glview {
    padding: 0 12px
}

.listview .glview md-card {
    margin: 0 0 15px;
    width: 100%;
    padding: 0 0 15px;
    float: none;
    border: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    transition: .5s;
    background: #fefefe;
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6
}

.listview .glview md-card:last-child {
    border-bottom: 0 none
}

.listview .glview md-card .md-card-image {
    width: 125px;
    height: 125px;
    border-radius: 0;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 transparent;
    float: left;
    border: 1px solid #d5d5d5;
    padding: 5px;
    background: #f9f9f9
}

.listview .glview md-card md-card-content {
    float: none;
    display: inline-block;
    width: auto!important;
    vertical-align: top;
    text-align: left
}

.listview .glview md-card md-card-content p {
    margin: 0
}

.listview .glview md-card.slaveusers md-card-content {
    width: 80%
}

.listview .glview md-card .md-actions {
    position: absolute;
    right: 0;
    bottom: 15px
}

.listview .glview md-card .md-actions a {
    margin: 0 0 0 10px
}

.listview .glview md-card md-card-content .md-title {
    margin-top: 0
}

.listview .glview md-card .facilityname {
    border-radius: 0;
    position: relative;
    float: right;
    margin-bottom: -26px;
    background: 0 0
}

.filterorder label>a {
    position: relative;
    color: #616f77;
    padding-right: 15px;
    border-right: 1px solid #e5e5e5;
    margin-right: 10px
}

.filterorder a:hover {
    color: #3c8719
}

.filterorder a .hideshowfilter {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0
}

.filterfields:after,
.filterfields:before {
    content: "";
    height: 0;
    width: 0
}

.filterfields {
    padding: 15px 0;
    border: 1px solid #f6f6f6;
    overflow: hidden;
    margin: 50px 15px 0;
    clear: both;
}

/*.filterfields:before {
    position: absolute;
    left: 12px;
    top: -10px;
    border-bottom: 9px solid rgba(0, 0, 0, .15);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent
}

.filterfields:after {
    position: absolute;
    left: 13px;
    top: -8px;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent
}*/

.filterfields label {
    font-weight: 400
}

.devicename {
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    padding: 5px 15px;
    font-size: 14px;
    color: #252525;
    border-radius: 0 0 5px;
    font-weight: 500
}

.glview md-card .md-card-image.img100percent {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    display: block;
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    background: #fff
}

.btn.addpost {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 8px 12px 5px;
	font-size: 15px;
}

.wrap-reset .modal-body {
	padding: 0;
}

.headmenu a {
    color: #666
}

.filteritems {
    margin: 30px 15px 0
}

.filteritems .table tbody tr:nth-child(odd) {
    background: #f2f2f2!important
}

.howtovideo .rvideos {
    width: 350px
}

.helpfaqs h4.hfhead {
    font-size: 18px;
    margin: 0 0 20px;
    border-bottom: 1px dotted #cacaca;
    padding-bottom: 10px;
    color: #3c8719
}

.search {
    position: relative
}

.search .btn,
.usergrouplist {
    position: absolute;
    top: 0
}

.search .btn {
    right: 0;
    padding: 8px 10px
}

.search .form-control:focus,
.search .form-control:focus:hover,
.search .form-control:hover {
    border-color: #cdd3d7
}

.filterorder {
    margin: 7px 0 0
}

.tcol a {
    display: block
}

.usergrouplist {
    overflow: hidden;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 99;
    height: 100%;
    padding: 15px
}

.permissionsheader {
	margin: -15px -15px 20px;
    padding: 10px 15px;
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.groupslist,
.groupslists,
.sgroupslists {
    height: 82%;
    overflow: hidden;
    overflow-y: auto
}

.groupslist ul,
.groupslists ul,
.sgroupslists ul {
    margin: 0;
    list-style: none;
    padding: 0
}

.groupslist ul li,
.groupslists ul li {
    list-style: none;
    float: left;
    width: 50%
}

.sgroupslists ul li {
    list-style: none;
    float: left;
    width: 25%
}

.groupslist ul li label,
.groupslists ul li label,
.sgroupslists ul li label {
    font-weight: 400
}

.cameradvr h4 {
    margin-bottom: 25px!important
}

.legend.codes h4,
.legend.codes h5 {
    color: #3c8719
}

.moreitemsondevice {
    text-align: left;
	display: block;
    font-size: 12px;
}

md-card:hover .moreitemsondevice {
	display: block;
}

.moreitemsondevice a {
    color: #5cb85c;
    font-size: 22px;
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
	margin-left: 10px;
}

.moreitemsondevice a:hover {
	color: #357935;
}

.btn-group.btnrounded.hsdays>.btn {
    padding: 8px 16px
}

.fc .fc-header {
    border-radius: 3px!important;
    height: 40px!important;
    margin: 0 0 -2px!important
}

.fc .fc-header .fc-button {
    height: 40px!important;
    line-height: 20px!important
}

.fc .fc-header h2 {
    font-size: 18px!important;
    font-weight: 400!important;
    line-height: 40px!important
}

.fc .fc-content .fc-view.fc-agenda .fc-agenda-slots tr {
    line-height: 20px!important
}

.fc .fc-content .fc-view.fc-agenda .fc-agenda-slots tr th {
    padding-top: 0!important
}

.chosen-container-multi .chosen-drop .result-selected {
	display: none!important;
}

#header,
#header .branding,
#header .nav-left>li,
#header .nav-right>li {
    background-color: #fff!important
}

#header .branding a.brand {
    color: #7d7d7d!important
}

#header .branding a.brand span strong {
    color: #16a086!important
}

#header .topmenu .nav-right > li a span, #header .topmenu .nav-right > li span {
    padding: 0 5px;
    line-height: 42px;
    display: block;
    cursor: pointer;
	color: #5f6060!important;
}

#header .topmenu .nav-right > li a:hover span, #header .topmenu .nav-right > li span:hover, .dropdown-menu > li > a:hover {
	color: #16a086!important;
}

.bg-blue {
   background-color: #1d8acf!important; 
}

.bg-slategray,
.bg-slategray.lt {
    background-color: #ffc700!important
}

.bg-slategray.dk {
	background-color: #cea000!important;
}

.bg-greensea {
    background-color: #8cc34b!important;
    border-radius: 0
}

.card-container .card .front {
    padding: 0!important
}

.card-container .card .back {
    border-radius: 5px!important;
	overflow: hidden;
}

.bg-lightred {
    background-color: #ff8a80!important
}

.iconbx img {
    width: 76px;
}

.appWrapper.header-fixed #header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.sm-img {
    width: 22px
}

.card-container .card .front,
.card-container .card .noback {
    border-radius: 5px
}

.iconbx {
    padding: 49px 30px 49px 0;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px 0 0 5px
}

#header .topmenu .nav-right > li > a {
    line-height: normal;
    padding: 0;
}

.card-container .card .back>.row>div a {
    padding: 30px 10px 44px
}

.card-container .card .back>.row>div a img {
	margin-bottom: 15px;
}

.itxt {
    height: 170px;
    display: table;
    position: relative;
    width: 100%;
    text-align: center;
	background: rgba(0, 0, 0, .1);
}

.itxt span.text-lg {
	 display: table-cell; 
    vertical-align: middle;
	font-size: 22px!important;
	padding: 0 20px;
}

.border5, .br-5 {
    border-radius: 5px
}

.brt5 {
    border-radius: 5px 5px 0 0
}

.userexp .dropdown-menu.ng-valid-date-disabled {
	position: fixed;
    top: auto !important;
    bottom: 45px;
    left: auto!important;
    right: 0;
}

.leftwrap {
    background-color: #fff;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 388px;
    z-index: 999;
    padding: 60px 50px;
    text-align: center;
}

.leftwrap .newlogo img {
    width: 275px;
}

.page-login.core-new {
    background: url(../images/loginbg-new.jpg) top left no-repeat;
    background-size: cover;
}

.welcometxt {
    text-align: left;
    position: absolute;
    left: 58px;
    top: 50%;
    margin-top: -80px;
}

.welcometxt h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #cecece;
    font-weight: 700;
}

.welcometxt span {
    border-bottom: 7px solid #0eba8c;
}

.borderradius6 {
    border: 0px solid #000000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.w-450 {
    width: 450px;
}

.bg-slategray.dker.seagreen {
    background-color: #0eba8c!important;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#hpopup .login-h2 {
    font-size: 28px;
    font-weight: 300;
    color: #0eba8c;
    margin: 0 0 25px;
	text-align: left;
}

#hpopup p {
	text-align: left;
	line-height: 18px;
}

#hpopup p small {
    line-height: 14px!important;
    display: block;
    margin-top: 8px;
}

#hpopup p.m-0 {
	text-align: center;
}

#hpopup label.forgotpass {
	display: block;
    text-align: left;
    font-size: 18px;
    color: #bfc7cb;
    font-weight: 400;
}

.page-login.core-new .form-group {
    margin-bottom: 40px;
}

.page-login.core-new .form-control {
    font-size: 18px;
}

.page-login.core-new .form-group input::-webkit-input-placeholder {
    font-size: 18px;
    font-style: normal;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input.input-sm.input-unstyled {
	border: 1px solid #ffffff!important;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input.input-sm.input-unstyled:hover, input.input-sm.input-unstyled:focus {
	border: 1px solid #e5e5e5!important;
	padding-left: 10px;
}

input.input-sm.input-unstyled::-webkit-input-placeholder {
	font-size: 15px;
	font-style: normal;
}

.p-40 {
    padding: 40px;
}

.negmargin40 {
    margin: 0px -40px -40px;
}

.btn-grey {
    border: 1px solid #ccc!important;
    background-color: transparent;
    padding: 8px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

.seagreen a {
    font-size: 18px!important;
}

.page-login.core-new input:focus::-webkit-input-placeholder,
.page-login.core-new input:valid::-webkit-input-placeholder {
    color: #777777;
    font-size: 18px;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    visibility: visible !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-control.underline-input:focus {
    border-color: #0eba8c!important;
}

span.error { 
	font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #bb0000;
    margin: 0 0 -5px;
    display: block;
}

label.error {
	font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #bb0000;
    margin: 0 0 -5px;
    display: block;
}

input.ng-invalid-required.error, select.ng-invalid-required.error { 
	border: 1px solid #bb0000;
}

.online {
    color: #3c8719;
}

video {
    width: 100%!important;
    display: block;
}

.cameradvr .tabs-menu>li>a span.devicecamname, span.devicecamname {
    display: block;
    transition: .75s;
    font-weight: 400!important;
    font-size: 13px!important;
    line-height: 20px!important;
    background: rgba(0, 0, 0, .1);
    padding: 5px 12px;
    color: #666!important;
}

#hpopup .form-control {
	height: auto;
	padding: 22px 0px 12px;
}	

#hpopup .form-group {
	margin-bottom: 30px;
}

.login-error {
	font-size: 16px;
	text-align: left;
	margin: -15px 0 0;
	color: #ff0000;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .profilephoto #profilep-1, .profilephoto #profilep-2 {
        left: -85px
    }
	.tcol .text-muted {
		margin: 10px 0 12px;
	}
}

/********** @media **********/
@media only screen and (min-width: 1920px) {
	
}

@media only screen and (min-width: 1680px) {
	body {
		line-height: 1.8;
	}	
	.page {
		padding: 50px 30px 20px;
	}	
	#header .branding, #header .branding a.brand {
		height: 65px;
	}	
	#header .branding a.brand {
		line-height: 65px;
	}	
	#header .branding {
		width: 250px;
	}	
	#header .nav-right > li, #header .nav-left > li {
		margin-top: 12px;
	}	
	.addpopup a.add {
		font-size: 14px;
	}	
	.dropdown-menu, .btn {
		font-size: 15px;
	}	
	#header .nav-right > li.nav-profile > a,.form-control, .glview md-card md-card-content p {
		font-size: 16px;
	}	
	body , .glview md-card md-card-content .md-title {
		font-size: 17px;
	}	
	.nav-right > li.nav-profile > a , .nav-tabs > li > a {
		font-size: 18px;
	}	
	.wrap-reset h4 {
		font-size: 22px;
	}		
	#header .branding a.brand, h3, .h3, .card-container .card .bg-dashboard .bg-transparent h3 {
		font-size: 24px;
	}	
	.itxt span.text-lg {
		font-size: 28px!important;
	}
	
	#header .nav-right > li.nav-profile, #header .nav-left > li.nav-profile, #header .dropdown>.dropdown-menu {
		margin-top: 10px;
	}	
	.form-control {
		height: auto;
		padding: 12px 10px;
	}	
	.profilephoto .input-group-btn .btn, .input-group-btn .btn, .search .btn {
		padding: 14px 15px 11px !important;
	}	
	.addpopup a.add {
		margin: 10px 15px 0 0!important;
	}	
	.glview md-card md-card-content p span {
		width: 90px;
	}	
	.glview md-card md-card-content p {
		margin: 0 0 14px;
	}	
	md-card .md-actions {
		margin: 25px 0 8px;
	}	
	.pageheader {
		margin-top: -10px;
	}	
	.addusers.addpopup {
		margin: -12px -15px 0 0;
	}	
	.glview md-card {
		width: 18.8%;
	}	
	.glview md-card:nth-child(4n+4) {
		margin-right: 1.5%;
	}	
	.glview md-card:nth-child(5n+5) {
		margin-right: 0;
	}
	.profilephoto .user-profilep {
		padding: 12px 0;
	}
}

@media screen and (max-width:1679px) and (min-width:1400px) {
	
}

@media only screen and (max-width: 1365px) {
	.w-xl, .w-320 {
		width: 280px; 
	}
}

@media only screen and (max-width: 1279px) {	
	.glview md-card:nth-child(4n+4) {
		margin-right: 1.5%;
	}
	.glview md-card:nth-child(3n+3) {
		margin-right: 0;
	}
	.glview md-card {
		width: 32.3%;
	}
	.card-container .card .bg-dashboard, .itxt {
		height: 140px;
	}
}

@media only screen and (max-width: 1139px) {
	.dnone {
		display: none;
	}
	.appWrapper.sidebar-sm #header .branding, .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding {
		width: 155px;
		transition: 0.5s;
	}
	.appWrapper.sidebar-sm #header .branding.brand193, .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding.brand193 {
		width: 193px;
	}
	.appWrapper.sidebar-sm #header .branding .brand > span, .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand > span {
		display: block;
	}
	#header .branding {
		padding: 0 10px;
	}
	.appWrapper.sidebar-sm #header .branding .brand, .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand {
		margin-left: 0;
	}
	.itxt {
		height: 100px;
	}
}

@media only screen and (max-width: 919px) {	
	.leftwrap {
		width: 100%;
		padding: 15px;
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		height: auto;
	}
	.leftwrap .newlogo img {
		width: 175px;
	}
	.welcometxt {
		display: none;
	}
	.page-login.core-new {
		padding: 125px 0 50px;
	}	
	.glview md-card:nth-child(3n+3) {
		margin-right: 2.5%;
	}
	.glview md-card:nth-child(2n+2) {
		margin-right: 0;
	}
	.glview md-card {
		width: 48.75%;
		margin-right: 2.5%;
	}
	.mobmenu {
		display: block;
		float: left;
	}
	.animated-arrow {
		display: block;
		padding: 21px;
		position: relative;
	}
	.animated-arrow span, .animated-arrow span:after, .animated-arrow span:before {
		cursor: pointer;
		height: 3px;
		width: 24px;
		background: #449d44;
		position: absolute;
		display: block;
		content: '';
		transition: .25s;
		left: 50%;
		margin-left: -12px;
	}
	.animated-arrow span:before {
		top: -7px;
	}
	.animated-arrow span:after {
		bottom: -7px;
	}
	.openmenu.animated-arrow span {
		background-color: transparent;
	}
	.openmenu.animated-arrow.active span:after, .openmenu.animated-arrow span:before {
		top: 0;
	}
	.openmenu.animated-arrow span:before {
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		bottom: 0;
	}
	.openmenu.animated-arrow span::after, .openmenu.animated-arrow span::before {
		background-color: #e05d6f;
	}
	.animated-arrow span:before {
		top: -7px;
	}
	.openmenu.animated-arrow span:after {
		bottom: 0;
	}
	.openmenu.animated-arrow span:after {
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.topmenu.pull-left {
		float: none!important;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.topmenu {
		width: 225px;
		position: fixed;
		height: 100%;
		transition: 0.25s;
		left: -100%;
		top: 45px;
		background: #fff;
		box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	}
	#header .topmenu .nav-right > li, #header .topmenu .nav-left > li {
		margin-top: 0px;
	}
	.topmenu .list-inline > li {
		padding-left: 10px;
		padding-right: 10px;
	}
	.topmenu .list-inline > li {
		display: block;
	}
	#header .topmenu .nav-right > li > span i, #header .topmenu .nav-left > li > span i {
		float: right;
		margin-top: 11px;
	}
	.topmenu.openmmenu {
		left: 0;
	}
	.topmenu .dropdown-menu.open, #header .nav-right>li.open {
		background: #f1f1f1!important;
	}
	#header .nav-right>li.nav-profile.open {
		background: transparent!important;
	}
	.topmenu .dropdown-menu.panel {
		min-width: 100%;
		width: 235px;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		animation-duration: 0s!important;
		background: #f9f9f9;
		border: 0 none;
		border-top: 1px solid #f1f1f1!important;
		border-bottom: 1px solid #f1f1f1;
		padding: 5px 0 0 0;
	}
	.topmenu .dropdown-menu {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 -10px;
	}
	#header .topmenu .nav-right > li.open > span i, #header .topmenu .nav-left > li > span i {
		transform: rotate(180deg);
	}
	.itxt span.text-lg {
		font-size: 20px!important;
		padding: 0 10px;
	}
	.view-container.bodygray section#content:before {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.75);
		left: 0;
		top: 0;
		content: "";
		z-index: 99;
	}
}

@media only screen and (max-width: 767px) {
	.card-container {
		width: 33.33%;
		float: left;
	}
	.itxt span.text-lg {
		font-size: 18px!important;
	}
	.tile .tile-header .controls {
		display: block;
	}
	.hometabs .col-sm-7 {
		width: 58.33333333%;
		float: left;
	}
	.hometabs .col-sm-5 {
		width: 41.66666667%;
		float: left;
	}
}	

@media only screen and (max-width: 599px) {
	.leftwrap {
		padding: 10px;
	}
	.leftwrap .newlogo img {
		width: 125px;
	}
	.negmargin40 {
		margin: 0px -15px -15px;
	}
	#hpopup {
		padding: 15px;
		width: 400px;
	}
	.page-login.core-new {
		padding: 75px 0 25px;
	}
	.w-xl, .w-320 {
		width: 260px;
	}
	.glview md-card {
		width: 100%;
		margin: 0 1.5% 20px 0 !important;
	}
	.itxt span.text-lg {
		font-size: 16px!important;
	}
	.profiledetail p {
		margin: 0 0 15px 0;
	}
	.profiledetail p label {
		width: 100%;
		margin-bottom: 0;
	}
	.card-container .card {
		display: none;
	}
	.branding {
		display: none;
	}
	.openmmenu .branding {
		display: block;
	}
	.leftdetail.tile-widget.p-30 {
		padding: 10px 15px 20px 15px !important;
	}
	.tile .tile-header h1, .tile .tile-header h2, .tile .tile-header h3, .tile .tile-header h4 {
		font-size: 20px;
	}
	.addpopup a.add {
		padding: 10px 0px 8px!important;
		border-width: 0!important;
	}
	.glview md-card .md-actions a {
		border-width: 0;
	}
	.search .btn {
		right: 15px;
	}
	.hometabs .col-sm-7 {
		width: 100%;
		margin-bottom: 15px;
	}
	.hometabs .col-sm-5 {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 399px) {
	#hpopup {
		width: 280px;
	}
	#hpopup .login-h2 {
		font-size: 24px;
	}
	.tcol h2 {
		font-size: 16px;
	}
	.page-login.core-new .form-group input::-webkit-input-placeholder,
	.page-login.core-new input:focus::-webkit-input-placeholder,
	.page-login.core-new input:valid::-webkit-input-placeholder,
	.page-login.core-new .form-control {
		font-size: 15px!important;
	}
	#hpopup .form-group {
		margin-bottom: 20px;
	}
	.checkbox-custom-alt > i {
		width: 16px;
		height: 16px;
	}
	.checkbox-custom-alt input:checked + i:before, .checkbox-custom-alt.checked input + i:before {
		top: 1px;
		left: 0.5px;
	}
	#hpopup .form-group .btn.mt-40 {
		margin-top: 20px!important;
	}
	#hpopup a, 
	#hpopup label, 
	#hpopup p,
	.login-error {
		font-size: 14px!important;
	}
	.checkbox-custom > i, .checkbox-custom-alt > i {
		margin-right: 0;
	}
	.btn-grey {
		width: 125px;
		font-size: 16px;
	}
	.w-xl, .w-320 {
		width: 100%;
	}	
}

.disable-button{
    pointer-events: none;
    opacity: 0.5;
}