<div class="page admin">	
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<section class="tile box-shadow">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font">{{page.title}}</h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="form1" role="form" ng-submit="submitAddFirmware(addFirmware,file)">
											<div class="modal-header"><h4 class="modal-title custom-font">Add Configuration Device</h4></div>
											<div class="modal-body mt-5">
												<div class="row">
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Device Model</label><br/>
														<select class="form-control" ng-model="addFirmware.device_model" ng-options="model for model in deviceModel" ng-change="deviceHardware(addFirmware.device_model)">
															<option value="">Select</option>
														</select>
													</div>
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Component</label><br/>
														<select class="form-control" ng-model="addFirmware.component">
															<option value="">Select</option>
															<option>Main Board</option>
															<option>Front Board</option>
															<option>VoIP</option>
															<option>Cell Module</option>
														</select>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Hardware Version</label><br/>
														<select class="form-control" ng-model="addFirmware.hardware_version" ng-options="version for version in hardwareVersions">
															<option value="">Select</option>
														</select>
													</div>
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Firmware Version</label><br/>
														<input class="form-control" type="text" ng-model="addFirmware.firmware_version"/>
													</div>
												</div>
												<div class="row">
													
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Upload Firmware</label>
														<div class="profilephoto">
															<input type="file" file-model="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1" required="required">
															<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12 col-md-12">
														<label for="">Description of the Firmware Upgrade</label><br/>
														<textarea name="" id="" ng-model="addFirmware.description" class="form-control" placeholder=""></textarea>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<div class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" id="close" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</div>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>		
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Firmware</span></a>
								</div>								
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-10 pb-20">
								<div class="col-sm-3 col-md-4 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Search by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('component')">Component</a></li>
											<li><a href="" ng-click="orderByMe('devicemodel')">Device Model</a></li>
											<li><a href="" ng-click="orderByMe('hardware')">Hardware Version</a></li>
											<li><a href="" ng-click="orderByMe('firmware')">Firmware Version</a></li>
										</ul>
									</label>
								</div>
								
								<div class="col-sm-3 col-md-4 pull-right ta-r">
									<div class="profilephoto csvupload">
										<div ng-controller="ModalDemo2Ctrl">
											<script type="text/ng-template" id="myModalContent2.html">
												<form name="form1" role="form">
													<div class="modal-header"><h4 class="modal-title custom-font">Upload CSV File</h4></div>
													<div class="modal-body mt-5 pb-30 mb-40">
														<label for="">Upload CSV file</label>
														<div class="profilephoto">
															<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-2" tabindex="-1">
															<div class="bootstrap-filestyle input-group"><input type="text" class="form-control " disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-2" class="btn btn-default "><span class="glyphicon fa fa-inbox"></span> Find file</label></span></div>
														</div>											
													</div>
													<div class="modal-footer">
														<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
														<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save</button>	
													</div>
												</form>		
											</script>
											<span ng-click="open()" class="group-span-filestyle input-group-btn"><label class="btn btn-default "><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Upload CSV</label></span>
										</div>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-sm-4 col-md-3">
										<label for="">Component</label>
										<input type="text" class="form-control" id="" ng-model="component">
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">Hardware Version</label>
										<input type="text" class="form-control" id="" ng-model="hardware">
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">Firmware Version</label>
										<input type="text" class="form-control" id="" ng-model="firmware">
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">File Structure Version</label>
										<input type="text" class="form-control" id="" ng-model="filestructure">
									</div>
								</div>
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="firmware in firmwares | limitTo:totalDisplayed | filter:text | filter:component | filter:devicemodel | filter:hardware | filter:firmware | orderBy:myOrderBy">
											<md-card-content>
												<h2 class="md-title">{{ firmware.component }}</h2>
												<p><span>Device</span> : {{ firmware.devicemodel }}</p>
												<p><span>Hardware</span> : {{ firmware.hardware }}</p>
												<p><span>Firmware</span> : {{ firmware.firmware }}</p>
												<p><span>Status</span> : {{ firmware.status }}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.firmware.view-firmware">View</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>