<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h3 class="mb-10"><strong>{{firmwareData.firmware_component }}</strong></h3>
						<span class="text-muted">{{firmwareData.firmware_model }}</span>
						<!-- <span class="text-muted">Active</span> -->
						<div class="mt-40">
							<!--a ui-sref="app.inventory.edit-device" class="btn btn-rounded-20 btn-sm btn-greensea mr-5">Update Device</a-->
							<a ng-click="showConfirm($event,firmwareData.firmware_id)" class="btn btn-rounded-20 btn-sm bg-danger">Delete Device</a>
						</div>
					</div>
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" > 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>
						<div class="hometabs" ng-controller="ModalDemoCtrl">
							<script type="text/ng-template" id="myModalContent.html">
								<form name="form1" role="form">
									<div class="modal-header"><h4 class="modal-title custom-font">Upgrade Elika Access Device</h4></div>
									<div class="modal-body mt-5 pb-30 mb-40">
										<div class="row">
											<div class="col-sm-12 col-md-4">
												<label class="checkbox checkbox-custom-alt ml-10 mt-0 mb-0" style="font-weight:400; display: inline-block;">
													<input name="customRadioAlt" type="radio"><i></i> Auto
												</label>
											</div>
											<div class="col-sm-12 col-md-4">
												<label class="checkbox checkbox-custom-alt ml-10 mt-0 mb-0" style="font-weight:400; display: inline-block;">
													<input name="customRadioAlt" type="radio"><i></i> Scheduled
												</label>
											</div>
											<div class="col-sm-12 col-md-4">
												<label class="checkbox checkbox-custom-alt ml-10 mt-0 mb-0" style="font-weight:400; display: inline-block;">
													<input name="customRadioAlt" type="radio" checked><i></i> Manual
												</label>
											</div>
										</div>											
									</div>
									<div class="modal-footer">
										<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
										<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save</button>	
									</div>
								</form>		
							</script>
							<div class="wrap-reset m-0">
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="form-group profiledetail">
											<p><label>Create Date</label> {{firmwareData.firmware_created_on*1000 | date}}</p>
											<p><label>Component</label> {{firmwareData.firmware_component }}</p>
											<p><label>Device Model</label> {{firmwareData.firmware_model }}</p>
											<p><label>Hardware Version</label> {{firmwareData.firmware_hardware_version }}</p>
											<p><label>Firmware Version</label> {{firmwareData.firmware_version }}</p>
											<p><label>File Structure Version</label> XXXX</p>
											<p><label>Upgrade Device</label> XXXXXXX<span class="pull-right w-60">
											<!-- <a ng-click="open()" href="javascript:void(0);" class="text-danger text-sm" ><strong>Edit</strong></a> -->
											<a class="text-danger text-sm" ><strong>Edit</strong></a>
											</span></p>
											<p><label>Description</label><br/>{{firmwareData.firmware_description }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
