<div class="page page-users">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent rolesbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
		
		<div class="row" ng-controller="AddRolesCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<form name="form1" role="form" ng-submit="submitData(roleAdd)">
								<div class="modal-body p-0">											
									<div class="row" ng-controller="ActivebtnCtrl">
										<div class="form-group col-sm-12 col-md-4 col-lg-3">
											<label for="">Roles Name <span class="text-danger">*</span></label>
											<input type="text" name="" id="" ng-model="roleAdd.role_name" class="form-control" placeholder="" required>
										</div>
										<div class="form-group col-sm-12 col-md-4 col-md-2">
											<label for="">Status</label><br/>
											<div class="btn-group btnrounded" ng-init="roleAdd.status = 1">
														<label class="btn btn-default" ng-model="roleAdd.status" uib-btn-radio="1">Active</label>
														<label class="btn btn-default" ng-model="roleAdd.status" uib-btn-radio="0">Inactive</label>
													</div>
										</div>
									</div>
								</div>
								<div class="administratorlist mb-20">
									<div class="tile-body p-0 table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Name</th>
													<th width="150" class="ta-c">View</th>
													<th width="150" class="ta-c">Add/Create</th>
													<th width="150" class="ta-c">Edit</th>
													<th width="150" class="ta-c">Delete</th>
													<th width="150" class="ta-c">Import/Upload</th>
													<th width="150" class="ta-c">Export/Download</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Facility</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.facility.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.facility.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.facility.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" > <input type="checkbox" ng-model="roleAdd.facility.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Device</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.device.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.device.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.device.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.device.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Users</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.user.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.user.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.user.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.user.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>User Groups</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.usergroup.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.usergroup.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.usergroup.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.usergroup.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Technician</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.technician.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.technician.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.technician.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.technician.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Doors</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.door.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.door.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.door.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.door.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Door Groups</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.doorgroup.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.doorgroup.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.doorgroup.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.doorgroup.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Schedule</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.schedule.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.schedule.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.schedule.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.schedule.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Holiday Schedule</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.holiday_schedule.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.holiday_schedule.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.holiday_schedule.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.holiday_schedule.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Roles</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.role.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.role.add" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.role.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.role.delete" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>												
												<tr>
													<td>Live Feeds and Recording</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.live_feed.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Activity</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.activity.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c">&nbsp;</td>
												</tr>
												<tr>
													<td>Reports</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.reports.view" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ng-model="roleAdd.reports.edit" ng-true-value="1" ng-false-value="0"><i></i></label></td>
													<td class="ta-c">&nbsp;</td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox"><i></i></label></td>
													<td class="ta-c"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"> <input type="checkbox" ><i></i></label></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12 legend">
										<a ui-sref="app.admin.administrator.roles" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Cancel</a>
										<button type="submit" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a mt-10">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	
	</div>
</div>