<div class="page page-users">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent rolesbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.primary_device}}</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.door}}</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred cardheight">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">{{dashboardData.user}}</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" >
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form ng-submit="submitAddAdmin(addAdmin)">
										<div class="modal-header"><h4 class="modal-title custom-font">Add Admin</h4></div>
										<div class="modal-body">											
											<div class="row form-group">
												<div class="col-sm-6 col-md-6">
													<label for="">First Name</label>
													<input type="text" name="" ng-model="addAdmin.first_name" id="" class="form-control" placeholder="" required="required">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Last Name</label>
													<input type="text" name="" ng-model="addAdmin.last_name" id="" class="form-control" placeholder="" required="required">
												</div>
											</div>
											
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">				
													<label for="">Email Address</label>
													<input type="email" name=""  ng-model="addAdmin.email" id="" class="form-control" placeholder="" required="required">
												</div>
												<div class="col-sm-6 col-md-6">				
													<label for="">Phone</label>
													<input type="text" name="" ng-model="addAdmin.phone" id="" class="form-control" placeholder="" required="required" pattern="^\+[1-9]{1}[0-9]{3,14}$" oninvalid="setCustomValidity('Please enter valid mobile number')" onchange="try{setCustomValidity('')}catch(e){}" placeholder="+12015550123">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="">Password</label>
													<input type="password" name="" id="" class="form-control" ng-model="addAdmin.password" placeholder="" required="required">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Confirm Password</label>
													<input type="password" ng-model="addAdmin.confirm_password" name="" id="" class="form-control" placeholder="" required="required">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="">Admin Password</label>
													<input type="password" ng-model="addAdmin.admin_password" name="" id="" class="form-control" placeholder="" required="required">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Zip Code</label>
													<input type="number" ng-model="addAdmin.zipcode" name="" id="" class="form-control" placeholder="" required="required">
												</div>
											</div>
											
											<div class="form-group row">												
												<div class="col-sm-6 col-md-6">
													<label for="" style="display: block;">Select Admin</label>
													<select ng-model="addAdmin.type" class="form-control" ng-options="item.type as item.label for item in adminTypes | filter:{value:true}" required="required">
														<option value="">Select</option>
													</select>
												</div>
												<div class="col-sm-6 col-md-6" ng-hide="addAdmin.type=='super'">
													<label for="" style="display: block;">Roles <small class="pull-right" style="margin-top: 5px;"><a ng-click="cancel()" ui-sref="app.admin.administrator.add-roles">Add Roles</a></small></label>
													<select ng-model="addAdmin.user_role" ng-options="item.role_name as item.role_name for item in userRoles" class="form-control" ng-required="addAdmin.type!='super'">
														<option value="">Select</option>
													</select>
												</div>
											</div>
											
											<div class="form-group row" ng-controller="ActivebtnCtrl">
												<div class="col-sm-6 col-md-6" ng-init="$parent.addAdmin.status=1">
													<label for="">Status</label><br/>
													<div class="btn-group btnrounded">
														<label class="btn btn-default" ng-model="$parent.addAdmin.status" uib-btn-radio="1">Active</label>
														<label class="btn btn-default" ng-model="$parent.addAdmin.status" uib-btn-radio="0">Inactive</label>
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-hide="addAdmin.status==0">
													<div ng-controller="DatepickerDemoCtrl">
														<label for="">Expiration Date </label>
														<div class="input-group userexp">
															<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$parent.addAdmin.expiration_date" is-open="opened" datepicker-options="dateOptions" min-date="mindate" ng-required="true" close-text="Close" onkeypress="return false;" />
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 8px 14px;"><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</div>
													</div>
												</div>
											</div>
																												
										</div>
										<div class="modal-footer">
											<div class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" id="close" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</div>
											<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
										</div>
										</form>
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Admin</span></a>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-20">
								<div class="col-sm-3 col-md-3 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox" ng-model="filtershow" class="hideshowfilter"/>Filter by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Title</a></li>
											<li><a href="" ng-click="orderByMe('group')">Group</a></li>
										</ul>
									</label>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row">
										<div class="col-sm-8 col-md-9 search">
											<input type="text" class="form-control" placeholder="Search by text....">
											<button class="btn btn-default br-2-r" type="button">Search</button>
										</div>
										<div class="col-sm-4 col-md-3 profilephoto csvupload">
											<input type="file" class="filestyle user-profilep" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox' }" id="profilep-3" tabindex="-1">
											<span class="group-span-filestyle input-group-btn" tabindex="0"><label for="profilep-3" class="btn btn-default "><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Upload CSV</label></span>
										</div>
									</div>
								</div>
								<div class="col-sm-3 col-md-3">
									<div class="gridlistbar ta-r pull-right">
										<label class="control-label">View by</label>
										<a href="" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="changeClass()"><i class="fa fa-th-list" aria-hidden="true"></i></a>
										<a href="" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="changeaClass()"><i class="fa fa-th" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-sm-4 col-md-4">
										<label for="fbtext" class="control-label">Search by text</label> 
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
									<div class="col-sm-4 col-md-4">
										<label for="fbtitle" class="control-label">Search by title</label>
										<input type="text" class="form-control" id="fbtitle" ng-model="title">
									</div>
									<div class="col-sm-4 col-md-4">
										<label for="fblocation" class="control-label">Search by Group</label>
										<input type="text" class="form-control" id="fblocation" ng-model="group">
									</div>
								</div>
							</div>
							<div ng-if="status">									
								<div layout="row" ng-class="statusclass">									
									{{status}}
								</div>
							</div>
							<div ng-class="class">
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="user in admin | limitTo:totalDisplayed | filter:text | filter:title | filter:group | orderBy:myOrderBy">
											<md-card-content>
												<h2 class="md-title">{{ user.name }}</h2>
												<p>{{ user.access }}</p>
												<p>{{ user.phone }}</p>
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.admin.administrator.admin-profile">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.admin.administrator.admin-profile">Edit</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event)">Delete</a>
											</div>
										</md-card>										
									</md-content>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	
	</div>
</div>