<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent rolesbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
	
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll">
							<img class="img-circle" src="images/noimage.jpg" alt="">
						</div>
						<h4 class="mb-0"><strong>Data Operator Administrator</strong></h4>
						<span class="text-muted">Active</span>
						<div class="mt-40">
							<button class="btn btn-rounded-20 btn-sm btn-lightred">Delete Roles</button>
							<a ui-sref="app.admin.administrator.edit-roles" class="btn btn-rounded-20 btn-sm btn-greensea">Edit Roles</a>
						</div>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>{{page.title}}</strong></h1>
					</div>
					<div class="tile-body"> 
						<div class="row">
							<div class="form-group col-sm-12 profiledetail">
								<p><label>Roles Name</label><span class="rightdetails">{{role.role_name}}</span></p>
								<p><label>Status</label><span class="rightdetails">{{role.role_status}}</span></p>
								<p><label>Access</label><span class="rightdetails"></span></p>
							</div>											
						</div>
						
						<div class="row mt-20">
							<div class="form-group col-sm-12 profiledetail">
								<h4 class="greenseatx">Facility administrator</h4>
								<div class="tile-body p-0 table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Name</th>
												<th width="200">Access</th>
											</tr>
										</thead>
										<tbody style="font-size:14px;">
											<tr>
												<td>Facility</td>
												<td><b ng-if="role.role_facility.view == 1">View</b><b ng-if="role.role_facility.add == 1">, Add</b><b ng-if="role.role_facility.edit == 1">, Edit</b><b ng-if="role.role_facility.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Device</td>
												<td><b ng-if="role.role_device.view == 1">View</b><b ng-if="role.role_device.add == 1">, Add</b><b ng-if="role.role_device.edit == 1">, Edit</b><b ng-if="role.role_device.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Users</td>
												<td><b ng-if="role.role_user.view == 1">View</b><b ng-if="role.role_user.add == 1">, Add</b><b ng-if="role.role_user.edit == 1">, Edit</b><b ng-if="role.role_user.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>User Groups</td>
												<td><b ng-if="role.role_usergroup.view == 1">View</b><b ng-if="role.role_usergroup.add == 1">, Add</b><b ng-if="role.role_usergroup.edit == 1">, Edit</b><b ng-if="role.role_usergroup.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Technician</td>
												<td><b ng-if="role.role_technician.view == 1">View</b><b ng-if="role.role_technician.add == 1">, Add</b><b ng-if="role.role_technician.edit == 1">, Edit</b><b ng-if="role.role_technician.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Doors</td>
												<td><b ng-if="role.role_door.view == 1">View</b><b ng-if="role.role_door.add == 1">, Add</b><b ng-if="role.role_door.edit == 1">, Edit</b><b ng-if="role.role_door.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Door Groups</td>
												<td><b ng-if="role.role_doorgroup.view == 1">View</b><b ng-if="role.role_doorgroup.add == 1">, Add</b><b ng-if="role.role_doorgroup.edit == 1">, Edit</b><b ng-if="role.role_doorgroup.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Schedule</td>
												<td><b ng-if="role.role_schedule.view == 1">View</b><b ng-if="role.role_schedule.add == 1">, Add</b><b ng-if="role.role_schedule.edit == 1">, Edit</b><b ng-if="role.role_schedule.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Holiday Schedule</td>
												<td><b ng-if="role.role_holiday_schedule.view == 1">View</b><b ng-if="role.role_holiday_schedule.add == 1">, Add</b><b ng-if="role.role_holiday_schedule.edit == 1">, Edit</b><b ng-if="role.role_holiday_schedule.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Roles</td>
												<td><b ng-if="role.role_live_feeds.view == 1">View</b><b ng-if="role.role_live_feeds.add == 1">, Add</b><b ng-if="role.role_live_feeds.edit == 1">, Edit</b><b ng-if="role.role_live_feeds.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Live Feeds and Recording</td>
												<td><b ng-if="role.role_report.view == 1">View</b><b ng-if="role.role_report.add == 1">, Add</b><b ng-if="role.role_report.edit == 1">, Edit</b><b ng-if="role.role_report.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Activity</td>
												<td><b ng-if="role.role_activity.view == 1">View</b><b ng-if="role.role_activity.add == 1">, Add</b><b ng-if="role.role_activity.edit == 1">, Edit</b><b ng-if="role.role_activity.delete == 1">, Delete</b></td>
											</tr>
											<tr>
												<td>Reports</td>
												<td><b ng-if="role.role_facility.view == 1">View</b><b ng-if="role.role_facility.add == 1">, Add</b><b ng-if="role.role_facility.edit == 1">, Edit</b><b ng-if="role.role_facility.delete == 1">, Delete</b></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						
						<!-- <div class="row mt-20">
							<div class="form-group col-sm-12 profiledetail">
								<h4 class="greenseatx">Groups administrator</h4>
								<div class="tile-body p-0 table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Group Name</th>
												<th width="200">administrator</th>
											</tr>
										</thead>
										<tbody style="font-size:14px;">
											<tr>
												<td>24x7 Hours (58 Users)</td>
												<td>View, Edit</td>
											</tr>
											<tr>
												<td>Office Hours (72 Users)</td>
												<td>View, Edit</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div> -->
						
						<!-- <div class="row mt-20">
							<div class="form-group col-sm-12 profiledetail">
								<h4 class="greenseatx">Reports administrator</h4>
								<div class="tile-body p-0 table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Report Name</th>
												<th width="200">administrator</th>
											</tr>
										</thead>
										<tbody style="font-size:14px;">
											<tr>
												<td>Active User Report (User Report)</td>
												<td>Active</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div> -->
						
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
