<div class="page admin">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent cameradvrbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">45</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="CameraDirectoryCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="hometabs">
						<div id="camerandvr" class="table-custom">
							<div class="tile-header dvd dvd-btm">
								<h1 class="custom-font"><strong>Camera Directory</strong></h1>
								<ul class="controls">
									<li class="addpopup">
										<div ng-controller="ModalDemoCtrl">
											<script type="text/ng-template" id="myModalContent.html">
												<form name="form1" role="form">
													<div class="modal-header"><h4 class="modal-title custom-font">Add Camera</h4></div>
													<div class="modal-body mt-5">
														<div class="form-group row">
															<div class="col-sm-6 col-md-6">
																<label for="">Camera Name</label>
																<input type="text" name="" id="" class="form-control" placeholder="">
															</div>
															<div class="col-sm-6 col-md-6">
																<label for="">Serial Number</label>
																<input type="text" name="" id="" class="form-control" placeholder="">
															</div>
														</div>
														<div class="form-group row">
															<div class="col-sm-6 col-md-6">
																<label for="">Authentication key <small>(xxxx-xxxx-xxxx)</small></label>
																<input type="text" name="" id="" class="form-control" placeholder="">
															</div>
															<div class="col-sm-6 col-md-6">
																<label for="">Facility</label><br/>
																<select class="form-control">
																	<option selected>USA Corporate Services</option>
																	<option>Aerzen USA Corporation</option>
																</select>
															</div>
														</div>
														<div class="form-group row">
															<div class="col-sm-6 col-md-6">
																<label for="">Subscription Model <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="Once selected, the subscription model cannot be changed locally. If the subscription model needs to be changes, call your dealer." style="cursor: pointer; color: #d5d5d5;"></i></label><br/>
																<select class="form-control">
																	<option value="">90-Day Recording</option>
																	<option value="">60-Day Recording</option>
																	<option value="">30-Day Recording</option>
																	<option value="">15-Day Recording</option>
																	<option value="">All-Day Recording</option>
																</select>
															</div>
															<div class="col-sm-6 col-md-6">
																<label for="">Time Zone</label><br/>
																<select class="form-control">
																	<option value="USA (Alaska )">USA (Alaska )</option>
																	<option value="USA (Samoa)">USA (Samoa)</option>
																	<option value="USA (Pacific)">USA (Pacific)</option>
																	<option value="USA (Eastern)">USA (Eastern)</option>
																	<option value="USA (Hawaii-Aleutian)">USA (Hawaii-Aleutian)</option>
																</select>
															</div>
														</div>
														<div class="form-group row">
															<div class="col-sm-12 col-md-12">
																<label for="">Associated Device</label>
																<select class="form-control" multiple="" chosen="{width: '100%'}">
																	<option>Reception Room</option>
																	<option>Conference Room</option>
																	<option>Server Room</option>
																	<option>Meeting Room</option>
																	<option>Development Room</option>
																	<option>Boardroom</option>
																	<option>Managers Room</option>
																	<option>Director Room</option>
																	<option>Inventory Room</option>
																</select>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
														<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save Camera</button>	
													</div>
												</form>		
											</script>
											<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add Camera</span></a>
										</div>								
									</li>
								</ul>
							</div>
							
							<div class="hometabs">
								<div class="tile-body table-custom">							
									<div ng-if="result">									
										<div layout="row" ng-class="statusclass">									
											{{result}}
										</div>
									</div>							
									<div class="table-responsive">
										<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom table-striped">
											<thead>
												<tr>
													<th>Camera Name</th>
													<th>Serial Number</th>
													<th>Facilities</th>
													<th>Model</th>
													<th>Status</th>
													<th width="175">Action</th>
												</tr>
											</thead>
											<tbody> 
												<tr ng-repeat="camdir in cameradirectroy">
													<td>{{ camdir.title }}</td>
													<td>{{ camdir.serialno }}</td>
													<td>{{ camdir.facility }}</td>
													<td>{{ camdir.model }}</td>
													<td>{{ camdir.status }}</td>
													<td class="customicon">
														<a ui-sref="app.admin.setup.live-feeds" uib-tooltip="Live Feeds"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
														<a ui-sref="app.admin.setup.view-camera" uib-tooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
														<a ui-sref="app.admin.setup.view-camera" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
														<a href="" ng-click="showConfirm($event)" uib-tooltip="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
		
	</div>
</div>