<div class="page admin">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">	
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent cameradvrbg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">45</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="EagleEyeDirectoryCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow" fullscreen="isFullscreen06">
					<div class="hometabs">
						<div id="camerandvr" class="table-custom">
							<div class="tile-header dvd dvd-btm">
								<h1 class="custom-font"><strong>Eagle Eye Directory</strong></h1>
								<ul class="controls">
									<li class="addpopup">
										<div ng-controller="ModalDemoCtrl">
											<script type="text/ng-template" id="myModalContent.html">
												<form name="form1" role="form">
													<div class="modal-header"><h4 class="modal-title custom-font">Add Eagle Eye Camera</h4></div>
													<div class="modal-body mt-5">
														<div class="form-group row">
															<div class="col-sm-6 col-md-6">
																<label for="">Camera Name</label>
																<input type="text" name="" id="" class="form-control" placeholder="">
															</div>
															<div class="col-sm-6 col-md-6">
																<label for="">Camera Model</label>
																<input type="text" name="" id="" class="form-control" placeholder="">
															</div>
														</div>
														<div class="form-group row">
															<div class="col-sm-6 col-md-6">
																<label for="">facility</label><br/>
																<select class="form-control">
																	<option selected>USA Corporate Services</option>
																	<option>Aerzen USA Corporation</option>
																</select>
															</div>
															<div class="col-sm-6 col-md-6">
																<label for="">Status</label><br/>
																<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																	<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Connected</label>
																	<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Disconnected</label>
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
														<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save DVR</button>	
													</div>
												</form>		
											</script>
											<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add EE Camera</span></a>
										</div>								
									</li>
								</ul>
							</div>
							
							<div class="hometabs">
								<div class="tile-body table-custom">							
									<div ng-if="result">									
										<div layout="row" ng-class="statusclass">									
											{{result}}
										</div>
									</div>							
									<div class="table-responsive">
										<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom table-striped">
											<thead>
												<tr>
													<th>Camera Name</th>
													<th>Camera Model</th>
													<th>Facility</th>
													<th>Status</th>
													<th width="125">Action</th>
												</tr>
											</thead>
											<tbody> 
												<tr ng-repeat="eedir in eagleeyedirectroy">
													<td>{{ eedir.title }}</td>
													<td>{{ eedir.cammodel }}</td>
													<td>{{ eedir.facility }}</td>
													<td>{{ eedir.Status }}</td>
													<td class="customicon">
														<a ui-sref="app.admin.setup.live-feeds" uib-tooltip="Live Feeds"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
														<div ng-controller="ModalDemo1Ctrl" style="display: inline-block;">
															<script type="text/ng-template" id="myModalContent1.html">
																<form name="form1" role="form">
																	<div class="modal-header"><h4 class="modal-title custom-font">Edit Eagle Eye Camera</h4></div>
																	<div class="modal-body mt-5">
																		<div class="form-group row">
																			<div class="col-sm-6 col-md-6">
																				<label for="">Camera Name</label>
																				<input type="text" name="" id="" class="form-control" value="Analog EE">
																			</div>
																			<div class="col-sm-6 col-md-6">
																				<label for="">Camera Model</label>
																				<input type="text" name="" id="" class="form-control" value="Generic Camera Model">
																			</div>
																		</div>
																		<div class="form-group row">
																			<div class="col-sm-6 col-md-6">
																				<label for="">facility</label><br/>
																				<select class="form-control">
																					<option selected>USA Corporate Services</option>
																					<option>Aerzen USA Corporation</option>
																				</select>
																			</div>
																			<div class="col-sm-6 col-md-6">
																				<label for="">Status</label><br/>
																				<div class="btn-group btnrounded status" ng-controller="ActivebtnCtrl">
																					<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Active'">Connected</label>
																					<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Inactive'">Disconnected</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
																		<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save DVR</button>	
																	</div>
																</form>		
															</script>
															<a ng-click="open()" uib-tooltip="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
														</div>
														<a href="" ng-click="showConfirm($event)" uib-tooltip="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
		
	</div>
</div>