<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.device.devices">
					<div class="noback bg-blue">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/device-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Devices</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.door.doors">
					<div class="noback bg-slategray lt">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/doors-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">	
								<div class="itxt">							
									<p class="text-elg text-strong mt-5 mb-5">22</p>
									<span class="text-lg">Doors</span>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.admin.user.users">
					<div class="noback bg-lightred">						
						<div class="row">
							<div class="col-xs-6 ta-r">
								<div class="iconbx">
									<img src="images/users-icon.png" alt="">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="itxt">								
									<p class="text-elg text-strong mt-5 mb-5">45</p>
									<span class="text-lg">Users</span>
								</div>	
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/device/elika-460-black.png" alt="">
						</div>
						<h3 class="mb-10"><strong>Exit Gate Back Wall</strong></h3>
						<span class="text-muted">Connected</span>
						<div class="mt-40">
							<div ng-controller="ModalDemoCtrl">
								<script type="text/ng-template" id="myModalContent.html">
									<form name="form1" role="form">
										<div class="modal-header"><h4 class="modal-title custom-font">Add Camera</h4></div>
										<div class="modal-body mt-5">
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Camera Name</label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Serial Number</label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Authentication key <small>(xxxx-xxxx-xxxx)</small></label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Facility</label><br/>
													<select class="form-control">
														<option selected>USA Corporate Services</option>
														<option>Aerzen USA Corporation</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Subscription Model <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="Once selected, the subscription model cannot be changed locally. If the subscription model needs to be changes, call your dealer." style="cursor: pointer; color: #d5d5d5;"></i></label>
													<input type="text" name="" id="" class="form-control" placeholder="">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Time Zone</label><br/>
													<select class="form-control">
														<option value="USA (Alaska )">USA (Alaska )</option>
														<option value="USA (Samoa)">USA (Samoa)</option>
														<option value="USA (Pacific)">USA (Pacific)</option>
														<option value="USA (Eastern)">USA (Eastern)</option>
														<option value="USA (Hawaii-Aleutian)">USA (Hawaii-Aleutian)</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-12 col-md-12">
													<label for="">Associated Device</label>
													<select class="form-control" multiple="" chosen="{width: '100%'}">
														<option>Reception Room</option>
														<option>Conference Room</option>
														<option>Server Room</option>
														<option>Meeting Room</option>
														<option>Development Room</option>
														<option>Boardroom</option>
														<option>Managers Room</option>
														<option>Director Room</option>
														<option>Inventory Room</option>
													</select>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</button>
											<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Save Camera</button>	
										</div>
									</form>		
								</script>
								<a ng-click="open()" class="btn btn-rounded-20 btn-sm btn-lightred ml-5 mr-5 add">Add Camera</a>
							</div>
						</div>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol p-10">
								<h2 class="m-0">2</h2>
								<span class="text-transparent-white">Associated Device</span>
							</li>
						</ul>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" ng-controller="ViewCameraCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<uib-tabset class="tabs-dark"> 
						
							<uib-tab heading="Camera Detail">
								<div class="wrap-reset">
									<div class="row">
										<div class="col-sm-12 col-md-12">
											<div class="form-group legend">
												<h4><strong>Camera</strong> Details</h4>
											</div>
											<div class="form-group cameradetail">
												<p><label>Camera Name</label>Exit Gate Back Wall </p>
												<p><label>Serial Number</label>00408CFBC273</p>
												<p><label>Authentication Kay</label>F909-29D4-AD02</p>
												<p><label>Facilities</label>USA Corporate Services</p>
												<p><label>Associated Device</label>Reception Room,<span>Meeting Room</span></p>
												<p><label>Model</label>Axis B1004-W</p>
												<p><label>Subscription Model</label>60-Day Recording</p>
												<p><label>Brightness</label>50</p>
												<p><label>Color</label>50</p>
												<p><label>Contrast</label>50</p>
												<p><label>Rotation</label>0</p>
												<p><label>White Balance</label>Automatic</p>
												<p><label>Motion Sensitivity</label>90</p>
												<p><label>Motion History</label>70</p>
												<p><label>Motion Object Size</label>15</p>
												<p><label>Time Zone</label>USA (Alaska )</p>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							
							<uib-tab heading="Edit Device">
								<div class="wrap-reset"> 
									<div class="form-group legend">
										<h4><strong>Edit</strong> Camera</h4>
									</div>
									<form name="form1" role="form">
										<div class="modal-body">											
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Camera Name</label>
													<input type="text" name="" id="" class="form-control" value="Exit Gate Back Wall">
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Serial Number</label>
													<input type="text" name="" id="" class="form-control" value="00408CFBC273" disabled>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Authentication key <small>(xxxx-xxxx-xxxx)</small></label>
													<input type="text" name="" id="" class="form-control" value="F909-29D4-AD02" disabled>
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Facility</label><br/>
													<select class="form-control">
														<option selected>USA Corporate Services</option>
														<option>Aerzen USA Corporation</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6">
													<label for="">Subscription Model <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="Once selected, the subscription model cannot be changed locally. If the subscription model needs to be changes, call your dealer." style="cursor: pointer; color: #d5d5d5;"></i></label><br/>
													<select class="form-control" disabled>
														<option value="">90-Day Recording</option>
														<option value="" selected>60-Day Recording</option>
														<option value="">30-Day Recording</option>
														<option value="">15-Day Recording</option>
														<option value="">All-Day Recording</option>
													</select>
												</div>
												<div class="col-sm-6 col-md-6">
													<label for="">Time Zone</label><br/>
													<select class="form-control">
														<option value="USA (Alaska )" selected>USA (Alaska )</option>
														<option value="USA (Samoa)">USA (Samoa)</option>
														<option value="USA (Pacific)">USA (Pacific)</option>
														<option value="USA (Eastern)">USA (Eastern)</option>
														<option value="USA (Hawaii-Aleutian)">USA (Hawaii-Aleutian)</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-12 col-md-12">
													<label for="">Associated Device</label>
													<select class="form-control" multiple="" chosen="{width: '100%'}">
														<option selected>Reception Room</option>
														<option>Conference Room</option>
														<option>Server Room</option>
														<option selected>Meeting Room</option>
														<option>Development Room</option>
														<option>Boardroom</option>
														<option>Managers Room</option>
														<option>Director Room</option>
														<option>Inventory Room</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Brightness <small>(10–100, Default 50)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating8">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating8" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Color <small>(10–100, Default 50)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating9">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating9" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Contrast <small>(10–100, Default 50)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating10">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating10" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Motion Sensitivity <small>(10–100, Default 90)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating11">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating11" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Motion History <small>(10–100, Default 70)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating12">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating12" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Motion Object Size <small>(10–100, Default 15)</small></label>
													<input type="text" class="form-control" id="address1" ng-model="rating13">
													<div class="mt-5 pt-20">
														<div layout>
															<md-slider flex class="md-primary" md-discrete ng-model="rating13" step="1" min="10" max="100" aria-label="rating"></md-slider>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">Rotation <small>(0–180, Default 0)</small></label>
													<div class="mb-5">
														<input ui-jq="TouchSpin" type="text" value="0" class="form-control" data-min='0' data-max="180" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" data-postfix="°">
													</div>
												</div>
												<div class="col-sm-6 col-md-6" ng-controller="mtSliderCtrl">
													<label for="address1">White Balance</label><br/>
													<select class="form-control">
														<option value="Low">Low</option>
														<option value="Medium">Medium</option>
														<option value="High">High</option>
														<option value="Automatic" selected>Automatic</option>
													</select>
												</div>
											</div>
											<div class="form-group row legend">
												<div class="col-md-12">
													<p></p>
													<a href back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</a>
													<button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
												</div>
											</div>											
										</div>
									</form>
								</div>
							</uib-tab>
							
						</uib-tabset>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
