<section id="loginwrap">
	<div class="leftwrap">
		<div class="newlogo">
			<img src="images/logo.png">
		</div>
		<div class="welcometxt">
			<h1>Welcome <span>Back!</span></h1>
		</div>
	</div>
	<div class="page page-core page-login core-new">
		<div id="hpopup" class="container w-450 p-40 bg-white text-center login-box-shadow borderradius6">
			<h2 class="login-h2 text-greensea">Create New Password</h2>
			<form name="form" class="form-validation mt-20" novalidate ng-controller="LoginCtrl">
			
				<div class="form-group">
					<input type="password" class="form-control underline-input" placeholder="New password" ng-model="user.password" required>
				</div>
				
				<div class="form-group">
					<input type="password" placeholder="Confirm Password" class="form-control underline-input" ng-model="user.confirmpassword" required>
				</div>
				
				<div class="form-group text-left mt-20">  
					<button type="submit" class="btn btn-grey b-0 br-2 mt-10 m-0-auto" ng-click="login()" ng-disabled='form.$invalid'>Submit</button>
				</div>
			</form>
			<div class="bg-slategray dker seagreen wrap-reset negmargin40 mt-20">
				<p class="m-0"><a ui-sref="core.login">Back to login</a></p>
			</div>
		</div>
	</div>	
</section>
<script type="text/javascript">
	$(document).ready(function() {
		var winw = $(window).width();
	    var winh = $(window).height();
		
		$(window).on('resize',function(){location.reload();});
		
		if(winh>449 && winw > 1139) {
			var popuph = document.getElementById('hpopup').offsetHeight;
			var mtop = popuph - 45;
			$('.w-450').css({
				'position' : 'absolute',
				'left' : '50%',
				'top' : '50%',	        
				'margin-top' : -mtop/2,
				'margin-left' : -30,
			});
		}
	});
</script>
