<section id="loginwrap">
	<div class="leftwrap">
		<div class="newlogo">
			<img src="images/logo.png" alt="" />
		</div>
		<div class="welcometxt">
			<h1>Welcome <span>Back!</span></h1>
		</div>
	</div>
	<div class="page page-core page-login core-new">
		<div id="hpopup" class="container w-450 p-40 bg-white text-center login-box-shadow borderradius6">
			<h2 class="login-h2 text-greensea">Login</h2>
			<form name="form" class="form-validation mt-20" novalidate>
				<div class="form-group">
					<input type="text" class="form-control underline-input" placeholder="Email Address" ng-model="user.username" ng-change="user.username = user.username.split(' ').join('')"
					 ng-trim="false" autocomplete="off" required>
				</div>

				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control underline-input" ng-model="user.password" required>
				</div>

				<div style="font-size: 16px; text-align: left; margin: -15px 0 0; color: #ff0000;">{{message}}</div>

				<div class="form-group text-left mt-20 mb-0">
					<label class="checkbox checkbox-custom-alt inline-block" style="font-weight: 400;">
						<input type="checkbox" ng-model="rememberme"><i></i> Remember me
					</label>
					<a ui-sref="core.forgot-password" class="pull-right mt-10" style="font-weight: 400; font-size: 16px; color:#0eba8c;">Forgot Password?</a><br/>
					<button type="submit" class="btn btn-grey b-0 br-2 mt-40 m-0-auto" ng-click="loginFunction()" ng-disabled='form.$invalid'>GO</button>
				</div>
			</form>
			<div class="bg-slategray dker seagreen wrap-reset negmargin40 mt-40">
				<p class="m-0"><a ui-sref="core.signup">Register a new membership</a></p>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function () {
		var winw = $(window).width();
		var winh = $(window).height();

		$(window).on('resize', function () { location.reload(); });

		if (winh > 449 && winw > 1139) {
			var popuph = document.getElementById('hpopup').offsetHeight;
			var mtop = popuph - 45;
			$('.w-450').css({
				'position': 'absolute',
				'left': '50%',
				'top': '50%',
				'margin-top': -mtop / 2,
				'margin-left': -30,
			});
		}
	});

</script>