<div class="wizpopup">
    <div class="submitwizard">
        <div class="submit_wizard login-box-shadow borderradius6">
			<span class="pop-out" logout-btn><i class="fa fa-times" aria-hidden="true"></i></span>
            <wizard on-finish="submitWizard()">
				<wz-step wz-title="Add Device" ng-form="device_form">
					<div class="wizpopup-form">
						<div class="df-left">
							<h2>Big Thanks</h2>
							<h4>For Purchasing an ELIKA device</h4>
							<p>Welcome to the world of Smart access control</p>
							<img class="elika-devices" src="images/devices.png" alt="">
						</div>
						<div class="df-right">
							<h2>Add a new device</h2>
							<h3>Let's Start by setting up at least one device.</h3>
							<div class="modal-body p-0">
								<div class="row">
									<div class="form-group col-sm-12 col-md-12">
										<label for="">Serial Number <span class="text-danger">*</span></label>
										<input type="text" maxlength="32" name="serial_no" id="" ng-model="wizard_setup.device.serial_no" class="form-control" placeholder=""
											required>
										<span class="text-danger mandate"></span>
										<span class="error" ng-if="validDevice && device_form.serial_no.$invalid">Please Enter Serial Number</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Device Name <span class="text-danger">*</span></label>
										<input type="text" maxlength="30" name="device_name" ng-model="wizard_setup.device.device_name" id="" class="form-control"
											placeholder="" required autocomplete="off" ui-number-mask>
										<span class="error" ng-if="validDevice && device_form.device_name.$invalid">Please Enter Device Name</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Registration Code <span class="text-danger">*</span></label>
										<input type="text" name="registration_code" maxlength="32" id="" ng-model="wizard_setup.device.registration_code" class="form-control"
											placeholder="" required>
										<span class="error" ng-if="validDevice && device_form.registration_code.$invalid">Please Enter Registration Code</span>
									</div>
								</div>
								<!-- <div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">SIP Username <span class="text-danger">*</span></label>
										<input type="text" autocomplete="off" maxlength="32" name="sip_username" id="" ng-model="wizard_setup.device.sip_username"
											class="form-control" placeholder="" required>
										<span class="error" ng-if="validDevice && device_form.sip_username.$invalid">Please Enter SIP Username</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">SIP Password <span class="text-danger">*</span></label>
										<input type="password" autocomplete="off" name="sip_password" maxlength="32" id="" ng-model="wizard_setup.device.sip_password"
											class="form-control" placeholder="" required>
										<span class="error" ng-if="validDevice && device_form.sip_password.$invalid">Please Enter SIP Password</span>
									</div>
								</div> -->
								<div class="row">
									<div class="col-sm-12 col-md-12 ta-c">
										<button ng-click="validateDeviceForm(device_form)" class="btn btn-grey">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</wz-step>
				
				<wz-step wz-title="Add Facility" ng-form="addFacility">
					<div class="wizpopup-form">
						<div class="df-left">
							<h2>Facility Details</h2>
							<img class="elika-devices" src="images/facilityimg.png" alt="">
						</div>
						<div class="df-right">
							<h2>Create your first facility</h2>
							<h3>Let's enter the name of the facility where these devices will be installed.</h3>
							<div class="modal-body p-0">
								<div class="form-group">
									<label for="">Facility Name <span class="text-danger">*</span></label>
									<input type="text" name="facility_name" maxlength="30" ng-model="wizard_setup.facility.facility_name" ng-trim="false" ng-keypress="trimModel($event,wizard_setup.facility.facility_name)"
										id="" class="form-control" placeholder="" required>
									<span class="error" ng-if="validFacility && addFacility.facility_name.$invalid">Please Enter Facility Name</span>
								</div>
								<div class="form-group">
									<label for="">Facility Location <span class="text-danger">*</span></label>
									<input type="text" name="facility_location" id="" maxlength="30" ng-model="wizard_setup.facility.facility_location" ng-trim="false"
										ng-keypress="trimModel($event,wizard_setup.facility.facility_location)" class="form-control"
										placeholder="" required>
									<span class="error" ng-if="validFacility && addFacility.facility_location.$invalid">Please Enter Facility Location</span>
								</div>
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Time Zone <span class="text-danger">*</span></label>
										<select class="form-control" name="timezone" ng-model="wizard_setup.facility.timezone" ng-options="tz.name as tz.name for tz in usTimeZonesForFacility track by tz.id"
											required>
										<option value="">Select</option>
									</select>
										<span class="error" ng-if="validFacility && addFacility.timezone.$invalid">Please Select Timezone</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Zip Code <span class="text-danger">*</span></label>
										<input number type="text" name="zip_code" id="" maxlength="6" ng-model="wizard_setup.facility.zip_code" class="form-control"
											placeholder="" required>
										<span class="error" ng-if="validFacility && addFacility.zip_code.$invalid">Please Enter Zip Code</span>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 ta-c">
										<button type="submit" ng-click="WizardBack()" class="btn btn-grey">Back</button>
										<button type="submit" ng-click="validateFacilityForm(addFacility)" class="btn btn-grey">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</wz-step>

                <wz-step wz-title="Add Door" ng-form="door">
					<div class="wizpopup-form">
						<div class="df-left">
							<h2>Doors List</h2>
							<img class="elika-devices" src="images/doors.png" alt="">
						</div>
						<div class="df-right">
							<h2>Create Doors</h2>
							<h3>Let’s enter a few doors in this facility.</h3>
							<div class="modal-body p-0">
								<div class="form-group">
									<label for="">Door Name <span class="text-danger">*</span></label>
									<input type="text" name="door_name" id="door_name" class="form-control" ng-model="doorname" ng-trim="false" ng-keypress="trimModel($event,doorname)" placeholder="" maxlength="30" required>
									<input type="text" name="door_description" id="door_description" class="form-control" style="display: none;" ng-model="door_description">
									<span class="error" ng-if="validDoor && door.door_name.$invalid">Please add at-least one Door.</span>
									<span class="error" ng-if="errormsg">{{errMsg}}</span>
									<button ng-click="validateDoorForm(door,doorname,door_description)" type="submit" class="btn adddoor">ADD</button>
								</div>
								<div class="form-group" style="max-height: 268px; min-height: 175px; margin-top: 40px; overflow-y: auto; overflow-x: hidden;">
									<div class="fixheadtable">
										<div class="tile-body table-responsive">
											<table class="table table-bordered doorslists">
												<thead>
													<tr>
														<th>Name</th>
														<th width="100" class="ta-c">Action</th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
									<div class="tile-body table-responsive">
										<table class="table table-bordered doorslists">
											<thead>
												<tr>
													<th>Name</th>
													<th width="100" class="ta-c">Action</th>
												</tr>
											</thead>
											<tbody style="font-size:15px;">
												<tr ng-repeat="door in wizard_setup.door track by $index">
													<td>{{door.name}}</td>
													<td class="ta-c">
														<a href="" ng-click="deleteDoor($index)" uib-tooltip="Remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 ta-c">
										<button type="submit" ng-click="WizardBack()" class="btn btn-grey">Back</button>
										<button type="submit" ng-click="navigateNextForm()" class="btn btn-grey">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</wz-step>

                <wz-step wz-title="Add Technician" ng-form="add_technician">
					<div class="wizpopup-form">
						<div class="df-left">
							<h2>Device Technician</h2>
							<img class="elika-devices" src="images/technician.png" alt="">
						</div>
						<div class="df-right">
							<h2>Add Technician</h2>
							<h3>Let’s add a technician to manage this device.</h3>
							<div class="modal-body p-0">
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">First Name <span class="text-danger">*</span></label>
										<input type="text" name="first_name" id="" class="form-control" maxlength="15" placeholder="" ng-model="wizard_setup.technician.first_name"
											required>
										<span class="error" ng-if="validTechnician && add_technician.first_name.$invalid">Please Enter First Name</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Last Name <span class="text-danger">*</span></label>
										<input type="text" name="last_name" maxlength="15" id="" class="form-control" placeholder="" ng-model="wizard_setup.technician.last_name"
											required>
										<span class="error" ng-if="validTechnician && add_technician.last_name.$invalid">Please Enter Last Name</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Email Address <span class="text-danger">*</span></label>
										<input type="email" name="email" id="" class="form-control" placeholder="" ng-model="wizard_setup.technician.email" maxlength="64"
											required>
										<span class="error" ng-if="validTechnician && add_technician.email.$invalid">Please Enter Email Address</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Phone Number <span class="text-danger">*</span></label>
										<input type="text" name="P_no" id="" class="form-control" placeholder="" ng-model="wizard_setup.technician.phone_number"
											ui-mask="(999) 999-9999" required>
										<span class="error" ng-if="validTechnician && add_technician.P_no.$invalid">Please Enter Phone Number</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Address <span class="text-danger">*</span></label>
										<input type="text" name="address" id="" class="form-control" placeholder="" ng-model="wizard_setup.technician.address" required>
										<span class="error" ng-if="validTechnician && add_technician.address.$invalid">Please Enter Address</span>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Zip Code <span class="text-danger">*</span></label>
										<input type="text" maxlength="6" name="zip_code" id="" class="form-control" placeholder="" ng-model="wizard_setup.technician.zipcode"
											number required>
										<span class="error" ng-if="validTechnician && add_technician.zip_code.$invalid">Please Enter Zip Code</span>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 col-md-6">
										<div ng-controller="DatepickerDemoCtrl">
											<label for="">Expiration Date <span class="text-danger">*</span></label>
											<div class="input-group userexp">
												<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$parent.wizard_setup.technician.expiration_date"
													min-date="mindate" is-open="opened" datepicker-options="dateOptions" ng-required="true"
													close-text="Close" onkeypress="return false;" name="expirationDate" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open($event)" style="padding: 11px 14px"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
											<span class="error" ng-if="validTechnician && add_technician.expirationDate.$invalid">Please Enter Expiration Date</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 ta-c">
										<button type="submit" ng-click="WizardBack()" class="btn btn-grey">Back</button>
										<button type="submit" ng-click="validateTechnicianForm(add_technician)" class="btn btn-grey">Done</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</wz-step>     

								

            </wizard>
        </div>
    </div>