<section id="loginwrap">
	<div class="leftwrap">
		<div class="newlogo">
			<img src="images/logo.png">
		</div>
		<div class="welcometxt">
			<h1>Welcome <span>Back!</span></h1>
		</div>
	</div>
	<div class="page page-core page-login core-new">
		<div id="hpopup" class="container signup p-40 bg-white text-center login-box-shadow borderradius6">
			<h2 class="login-h2 text-greensea">Create a new account</h2>
			<form class="form-validation mt-20" ng-validate="validationOptions" id="signup_form" name="signup_form" ng-submit="submitSignUpForm(user,signup_form)">
				<div class="overflow">
					<div class="div-width">
					<input type="text" name="firstname" class="form-control underline-input" placeholder="First Name" maxlength="15" ng-model="user.first_name" required>
					</div>
					<div class="div-width">
					<input type="text" name="lastname" class="form-control underline-input" placeholder="Last Name" maxlength="15" ng-model="user.last_name" required>		
					</div>			
				</div>
				
				<div class="overflow">
					<div class="div-width">
					<input type="email" name="email" class="form-control underline-input" placeholder="Email Address" minlength="6" maxlength="40" ng-model="user.email" required>	
					</div>
					<div class="div-width">				
					<input type="text" name="phonenumber" class="form-control underline-input" ui-mask="999 999 9999" placeholder="Phone Number" ng-model="user.phone" ui-mask-placeholder-char="space" required>
					</div>
				</div>
				
				<div class="overflow">
					<div class="div-width">
					<input type="text" name="address" class="form-control underline-input" maxlength="127" placeholder="Address" ng-model="user.address" required>
					</div>
					<div class="div-width">	
					<input type="text" name="zipcode" minlength="4" maxlength="6" class="form-control underline-input" placeholder="Zip Code" ng-model="user.zipcode" required>
					</div>
				</div>
				
				<div class="overflow">
					<div class="div-width">	
					<input type="password" name="password" placeholder="Password" minlength="8" maxlength="16" class="form-control underline-input" ng-model="user.password" required>
					</div>
					<div class="div-width">	
					<input type="password" name="cpassword" placeholder="Confirm Password" class="form-control underline-input" ng-model="user.confirm_password" required>
					</div>
				</div>
				
				<div class="overflow">
					<div class="div-width">
					<div class="signupselect">
						<select id="selectedQuestion1" ng-model="user.secret_question" name="selectedQuestion1" class="form-control underline-input mb-20" required="required" ng-options="item.sq_id as item.sq_question for item in lstSecurityQuestions track by item.sq_id" ng-init="getSecurityQuestion()">
							<option value="">Select Secret Question</option>
							<!-- <option value=1 label="What was your favorite place to visit as a child?">What was your favourite place to visit as a child?</option>
							<option value=2 label="Who is your favorite actor, musician, or artist?">Who is your favorite actor, musician, or artist?</option>
							<option value=3 label="What is the name of your favorite pet?">What is the name of your favorite pet?</option>
							<option value=4 label="In what city were you born?">In what city were you born?</option>
							<option value=5 label="What high school did you attend?">What high school did you attend?</option>
							<option value=6 label="What is the name of your first school?">What is the name of your first school?</option>
							<option value=7 label="What is your favorite movie?">What is your favorite movie?</option>
							<option value=8 label="What is your mother's maiden name?">What is your mother's maiden name?</option>
							<option value=9 label="What street did you grow up on?">What street did you grow up on?</option>
							<option value=10 label="What was the make of your first car?">What was the make of your first car?</option>
							<option value=11 label="When is your anniversary?">When is your anniversary?</option>
							<option value=12 label="What is your favorite color?">What is your favorite color?</option>
							<option value=13 label="What is your father's middle name?">What is your father's middle name?</option>
							<option value=14 label="What is the name of your first grade teacher?">What is the name of your first grade teacher?</option>
							<option value=15 label="What was your high school mascot?">What was your high school mascot?</option> -->
						</select>
					</div></div>
					<div class="div-width">
					<input type="text" name="answer" maxlength="30" class="form-control underline-input" placeholder="Answer" ng-model="user.secret_ans" required>
					</div>
				</div>
				
				<div class="form-group text-left signuplabel" style="margin-left: 30px; margin-top: -15px;">        
					<label class="checkbox checkbox-custom-alt inline-block" style="font-weight: 400; font-size: 16px;">
						<input type="checkbox" ng-model="user.tnc"><i></i> I agree to the <a href="javascript:;">Terms of Service</a> & <a href="javascript:;">Privacy Policy</a>
					</label>
					<button type="submit" class="btn btn-grey b-0 br-2 mt-10 m-0-auto" ng-disabled='form.$invalid'>Submit</button>
				</div>
			</form>
			<div class="bg-slategray dker seagreen wrap-reset negmargin40 mt-20">
				<p class="m-0"><a ui-sref="core.login">Back to login</a></p>
			</div>
		</div>
	</div>	
</section>
<script type="text/javascript">
	$(document).ready(function() {
		var winw = $(window).width();
	    var winh = $(window).height();
		
		/*$(window).on('resize',function(){location.reload();});*/
		
		if(winh>700 && winw > 1139) {
			var popuph = document.getElementById('hpopup').offsetHeight;
			$('.signup').css({
				'position' : 'absolute',
				'left' : '50%',
				'top' : '50%',	        
				'margin-top' : -popuph/2,
				'margin-left' : -130,
			});
		}
	});
</script>
