<!DOCTYPE HTML>
<html lang="en">
<head>
	<base href="">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Elika Access Systems</title>
</head>
<body bgcolor="#eeeeee" style="margin: 0;">
	<div style="padding:0;margin:0;width:100%!important;background-color:#ffffff" bgcolor="#FFFFFF"> 
		<table width="100%" cellpadding="30" border="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center" bgcolor="#eeeeee" class="m_1194638937737037471frame">				
						<table width="660" cellpadding="0" border="0" cellspacing="0" align="center" class="m_1194638937737037471devicewidth" bgcolor="#FFFFFF" style="border-radius:6px">
							<tbody>
								<tr>
									<td style="padding:30px 30px 30px 30px;border-radius:5px" class="m_1194638937737037471content">							
										<table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="m_1194638937737037471devicewidth" bgcolor="#FFFFFF">
											<tbody>
												<tr>
													<td align="left" style="font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:25px;color:#445566" id="m_1194638937737037471content-5">
														
														<p align="center" style="margin-top: 0;"><img src="images/elika-logo.jpg" alt="https://www.elikaaccess.com/" border="0" style="margin:0;padding:0;max-width:600px;border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize" class="CToWUd"></p>

														<div class="m_1194638937737037471text">
															<p style="margin-top:0px;margin-bottom:20px"></p><p>Hi <strong>John Rockwell</strong>,</p>

															<p style="line-height: 30px;">Thank you for choosing to <strong>Elika Access Systems.</strong><br/> Your <span class="il">email</span> address has been successfully verified.<br/><br/></p>

														</div>
													</td>
												</tr>
											</tbody>
										</table>
							
										<table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="m_1194638937737037471devicewidth" bgcolor="#FFFFFF">
											<tbody>
												<tr>
													<td height="30" class="m_1194638937737037471doublespace" style="border-top:1px solid #dddddd"></td>
												</tr>
											</tbody>
										</table>
							
										<table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="m_1194638937737037471devicewidth" bgcolor="#FFFFFF">
											<tbody>
												<tr>
													<td align="left">										
														<table cellpadding="0" border="0" cellspacing="0" align="left" class="m_1194638937737037471devicewidth">
															<tbody>
																<tr>
																	<td align="left" style="font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:23px;color:#445566" id="m_1194638937737037471content-9">
																		<div class="m_1194638937737037471text">
																			<p style="margin-top:0px;margin-bottom:10px">Happy Stay, <br>Team Elika</p>
																			<p>P.S. Remember, at <a href="https://www.elikaaccess.com/" target="_blank" style="color:#5cb85c; text-decoration:none;">Elika Access Systems</a> you will always find the best prices for plan services!</p>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>						
									</td>
								</tr>
							</tbody>
						</table>
				
						<table width="660" cellpadding="0" border="0" cellspacing="0" align="center" class="m_1194638937737037471devicewidth">
							<tbody>
								<tr>
									<td align="center" style="font-family:Arial,Helvetica,sans-serif;color:#666666;font-size:10px;line-height:18px" id="m_1194638937737037471content-10">
										<div class="m_1194638937737037471text">
											<p style="margin-top:30px;margin-bottom:10px">You have received this <span class="il">email</span> because you are registered at <a href="https://www.elikaaccess.com/" target="_blank" style="color:#5cb85c; text-decoration:none;">Elika Access Systems</a><br/><a href="https://www.elikaaccess.com/" target="_blank" style="color:#5cb85c; text-decoration:none;">Elika Access Systems</a> All rights reserved. 2017</p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>				
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>