<div class="page admin">	
	<div class="pagecontent">	
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-controller="DeviceCtrl">
			<div class="col-md-12">
				<section class="tile box-shadow">
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font">{{page.title}}</h1>
						<ul class="controls">
							<li class="addpopup">
								<div ng-controller="ModalDemoCtrl">
									<script type="text/ng-template" id="myModalContent.html">
										<form name="add_device" role="form" ng-validate ng-submit="submitAddDevice(device,add_device)">
											<div class="modal-header"><h4 class="modal-title custom-font">Add Configuration Device</h4></div>
											
											<div class="model-body mt-10"><p style="color:red;">&nbsp;&nbsp; {{errorMessage}}</p></div>
											<div class="modal-body mt-5">
												<div class="row">
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Device Model</label><br/>
														
														<select name="device_model" ng-model="device.device_model" class="form-control" ng-options="model for model in deviceModel" required>
															<option value="">Select</option>
														</select>
													</div>
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Account Number/ICCID</label>
														<input type="text" name="" id="" ng-model="device.account_no" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="">
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Serial Number</label>
														<input ng-model="device.serial_no" type="text" name="serial_no" id="" class="form-control" placeholder="" required>
													</div>
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Registration Code</label>
														<input ng-model="device.reg_code" type="text" name="" id="" class="form-control" placeholder="">
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Phone Number</label>
														<input type="text" name="" id="" class="form-control" ng-model="device.phone_no" maxlength="15" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="">
													</div>
													<div class="form-group col-sm-6 col-md-6">
														<label for="">Bluetooth Mac Id</label>
														<input type="text" name="" id="" class="form-control" ng-model="device.mac_address" placeholder="">
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12 col-md-12">
														<label for="">Choose Options</label><br/>
														<div class="row" ng-init="value = 'off'">
															<div class="form-group col-sm-12 col-md-3">
																<label class="checkbox checkbox-custom-alt m-0">
																	<input type="checkbox" ng-model="device.device_cell" ng-true-value="1" ng-true-value="0"><i></i> Cell
																</label> 
															</div>
															<div class="form-group col-sm-12 col-md-3">
																<label class="checkbox checkbox-custom-alt m-0">
																	<input type="checkbox" ng-model="device.device_voip" ng-true-value="1" ng-true-value="0"><i></i> VoIP
																</label> 
															</div>
															<div class="form-group col-sm-12 col-md-3">
																<label class="checkbox checkbox-custom-alt m-0">
																	<input type="checkbox" ng-model="device.device_camera" ng-true-value="1" ng-true-value="0"><i></i> Camera
																</label>
															</div>
															<div class="form-group col-sm-12 col-md-3">
																<label class="checkbox checkbox-custom-alt m-0">
																	<input type="checkbox" ng-model="device.device_wiegand" ng-true-value="1" ng-true-value="0"><i></i> Wiegand
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<div class="btn btn-lightred btn-rounded btn-ef btn-ef-4 btn-ef-4c" id="close" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Close</div>
												<button type="submit" class="btn btn-success btn-rounded btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>	
											</div>
										</form>		
									</script>
									<a ng-click="open()" class="btn btn-default btn-border btn-rounded btn-ef btn-ef-5 btn-ef-5b add"><i class="fa fa-plus"></i> <span>Add New Device</span></a>
								</div>								
							</li>
						</ul>
					</div>
					
					<div class="hometabs">
						<div class="tile-body table-custom">
							<div class="row pos-r mb-10 pb-20">
								<div class="col-sm-3 col-md-4 filterorder">
									<label class="control-label" ng-init="filtershow=true">
										<a href="javascript:void()"><input type="checkbox"  class="hideshowfilter"/>Search by</a>
									</label>
									<label class="control-label" uib-dropdown on-toggle="toggled(open)">
										<a href uib-dropdown-toggle style="border-right: 0 none; ">Order by</a>
										<ul class="dropdown-menu with-arrow animated littleFadeInUp">
											<li><a href="" ng-click="orderByMe('title')">Device</a></li>
											<li><a href="" ng-click="orderByMe('client')">Client</a></li>
											<li><a href="" ng-click="orderByMe('serialno')">Serial Number</a></li>
											<li><a href="" ng-click="orderByMe('registrationcode')">Registration Code</a></li>
										</ul>
									</label>
								</div>
								
								<div class="col-sm-3 col-md-4">
									<div class="row">
										<div class="col-sm-8 col-md-9 search">
											<input type="text" class="form-control" ng-model="searchText" placeholder="Search by text...." ng-keyup="deviceInit($event)">
											<button class="btn btn-default br-2-r" type="button" ng-click="deviceInit()">Search</button>
										</div>
										
									</div>
								</div>
								<div class="filterfields" ng-hide="filtershow">
									<div class="col-sm-4 col-md-3">
										<label for="">Device Status</label><br/> 
										<select class="form-control">
											<option value="">All Devices</option>
											<option value="">Un-registered</option>
											<option value="">registered</option>
										</select>
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">Start Date</label>
										<input type="text" class="form-control" id="">
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">End Date</label>
										<input type="text" class="form-control" id="">
									</div>
									<div class="col-sm-4 col-md-3">
										<label for="">Search by text</label>
										<input type="text" class="form-control" id="fbtext" ng-model="text">
									</div>
								</div>
							</div>
							<div ng-if="result">									
								<div layout="row" ng-class="statusclass">									
									{{result}}
								</div>
							</div>
							<div ng-class="class">
							
								<div class="glview">
									<md-content>			
										<md-card ng-repeat="device in devices | limitTo:totalDisplayed | filter:text | filter:title | filter:client | filter:serialno | filter:registrationcode | orderBy:myOrderBy">
											<md-card-content>
												<h2 class="md-title">{{ device.device_serial_no }}</h2>
												<p><span>Client</span> : {{ device.facility_name | warehouseClientNameInList}}</p>
												<!-- <p><span>Serial No.</span> : {{ device.device_serial_no }}</p> -->
												<p><span>Reg Code</span> : {{ device.device_registration_code }}</p>
												<!-- <p><span>Create Date</span> : {{ device.device_created_on | date :  "dd.MM.y"  }}</p> -->
											</md-card-content>
											<div class="md-actions" layout="row" layout-align="center center">
												<a class="btn btn-orange btn-border btn-rounded" ui-sref="app.inventory.view-device({device_id:device.device_id})">View</a>
												<a class="btn btn-success btn-border btn-rounded" ui-sref="app.inventory.edit-device({device_id:device.device_id})">Update</a>
												<a class="btn btn-danger btn-border btn-rounded" ng-click="showConfirm($event,device.device_id)">Delete</a>
											</div>
										</md-card>										
									</md-content>
									<button class="btn btn-success btn-border btn-rounded m-0-auto f-wm" ng-click="loadMore()" ng-style="lmbtn">Load more</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>