<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent pdevicebg">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">Warehouse Dashboard</h3>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.inventory.devices">
						<div class="noback bg-blue">	
							<div class="itxt">
								<span class="text-lg">Warehouse Inventory Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.firmware.firmware-management">
						<div class="noback bg-slategray lt">
							<div class="itxt">
								<span class="text-lg">Firmware Management</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
			<div class="card-container col-sm-4 col-md-3">
				<div class="card">
					<a ui-sref="app.monitor-diagnostics-and-reported-issues">
						<div class="noback bg-lightred">
							<div class="itxt">
								<span class="text-lg">Monitor Diagnostics &amp; Reported Issues</span>
							</div>
						</div>
					</a>
				</div>
			</div>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<h3 class="mb-10"><strong>{{device.device_name}}</strong></h3>
						<span class="text-muted">{{device.device_model}}</span>
						<div class="mt-40">
							<a ui-sref="app.inventory.view-device({device_id:device.device_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk mr-5">View Device</a>
							<a ng-click="showConfirm($event,device.device_id)" class="btn btn-rounded-20 btn-sm bg-danger">Delete Device</a>
						</div>
					</div> 
					<div class="tile-body text-center bg-blue p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol bg-blue dk p-0">
								<a ui-sref="app.inventory.diagnostic">
									<h2>Diagnostic</h2>
								</a>
							</li>
							<li class="tcol p-0">
								<a href="">
									<h2>Logs</h2>
								</a>
							</li>
						</ul>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8" ng-controller="EditDeviceCtrl"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0">
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">{{page.title}}</h1>
						</div>
						<div class="hometabs">
							<div class="wrap-reset modal-body m-0">
							<form name="add_device" role="form" ng-validate ng-submit="submitEditDevice(device,add_device)">
								<!-- <div class="row"><p style="color:red;">&nbsp;&nbsp; {{errorMessage}}</p></div> -->
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Device Model <span class="text-danger">*</span></label><br/>
										<select class="form-control" name="device_model" ng-model="device.device_model" ng-options="model for model in deviceModel" required>
											<option value="">Select</option>
										</select>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Account Number/ICCID <span class="text-danger">*</span></label>
										<input type="text" name="account_no" id="" class="form-control" ng-model="device.device_account_no" number maxlength="16" placeholder="" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Serial Number <span class="text-danger">*</span></label>
										<input type="text" name="serial_number" id="" class="form-control" ng-model="device.device_serial_no" disabled>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Registration Code <span class="text-danger">*</span></label>
										<input type="text" name="registration_code" id="" class="form-control" ng-model="device.device_registration_code" disabled>
									</div>
								</div>
								<div class="row">
									
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Phone Number <span class="text-danger">*</span></label>
										<input type="text" name="phone_no" id="" class="form-control" ng-model="device.device_phone_no" pattern="^\+[1-9]{1}[0-9]{3,14}$" oninvalid="setCustomValidity('Please enter valid mobile number')" onchange="try{setCustomValidity('')}catch(e){}" placeholder="" required>
									</div>
									<div class="form-group col-sm-6 col-md-6">
										<label for="">Bluetooth Mac Id <span class="text-danger">*</span></label>
										<input type="text" name="ble" id="" class="form-control" ng-model="device.device_mac_address" pattern="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$" oninvalid="setCustomValidity('Please enter valid mac address')" onchange="try{setCustomValidity('')}catch(e){}" disabled required>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<label for="">Choose Options</label><br/>
										<div class="row" ng-init="value = 'off'">
											<div class="form-group col-sm-12 col-md-3">
												<label class="checkbox checkbox-custom-alt m-0"><input type="checkbox" ng-model="device.device_cell" ng-true-value="1" ng-true-value="0"><i></i> Cell</label> 
											</div>
											<div class="form-group col-sm-12 col-md-3">
												<label class="checkbox checkbox-custom-alt m-0"><input type="checkbox" ng-model="device.device_voip" ng-true-value="1" ng-true-value="0"><i></i> VoIP</label> 
											</div>
											<div class="form-group col-sm-12 col-md-3">
												<label class="checkbox checkbox-custom-alt m-0"><input type="checkbox" ng-model="device.device_camera" ng-true-value="1" ng-true-value="0"><i></i> Camera</label>
											</div>
											<div class="form-group col-sm-12 col-md-3">
												<label class="checkbox checkbox-custom-alt m-0"><input type="checkbox" ng-model="device.device_wiegand" ng-true-value="1" ng-true-value="0"><i></i> Wiegand</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row legend">
									<div class="col-md-12">
										<p></p>
										<div back-button class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</div>
										<button type="submit" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
