<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row" ng-init="editFaciltyDashboardInit();">
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="{{facility.facility_photo ? facility.facility_photo :'images/facility/1.jpg'}}" alt="">
						</div>
						<h3 class="mb-10"><strong>{{facility.facility_name}}</strong></h3>
						<span class="text-muted">{{facility.facility_location}}</span>
						<div class="mt-40">
							<a ui-sref="app.admin.facility.view-facility({facility_id:facility.facility_id})" class="btn btn-rounded-20 btn-sm bg-slategray dk">View Facility</a>
							<button ng-click="showConfirm($event,facility.facility_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete facility</button>
						</div>
					</div>
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="h1head">Edit Facility</h1>
						</div>
						<div class="hometabs">
							<div class="wrap-reset m-0 pt-20">
								<form name="editfacility" ng-validate role="form">
									<div class="modal-body mt-5">
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Facility Name <span class="text-danger">*</span></label>
												<input type="text" maxlength="30" front-space name="facility_name" id="" class="form-control" ng-model="facility.facility_name" required>
											</div>
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Facility Location <span class="text-danger">*</span></label>
												<input type="text" maxlength="30" front-space name="facility_location" id="" class="form-control" ng-model="facility.facility_location" required>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Time Zone <span class="text-danger">*</span></label>
												<!-- <input type="text" class="form-control" ng-model="facility.facility_timezone"> -->
												<select class="form-control" ng-model="facility.facility_timezone" ng-options="tz.name as tz.name for tz in usTimeZonesForFacility">
													<option value="">Select</option>
												</select>
											</div>
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Zip Code <span class="text-danger">*</span></label>
												<input type="text" name="zip" maxlength="6" no-space ng-keypress="allowNumberOnly($event);" id="zip" class="form-control" ng-model="facility.facility_zipcode" placeholder="10001" required>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-6 col-md-6">
												<label for="">Facility Photo </label>
												<div class="profilephoto">
													<div class="bootstrap-filestyle input-group">
														<input type="file" accept="image/*" file-model="facility.myFile" id="profilePicAddUpdate" name="fileupload" style="display: none"
															onchange="HandleInputTypeFilechange()" tabindex="-1" />
														<input type="text" class="form-control " id="profilePicFileName" readonly="true" />
														<span class="group-span-filestyle input-group-btn" tabindex="0" id="fakeBrowse" ng-click="HandleProfilePicAddUpdateClick();">
															<label for="profilep-2" class="btn btn-default ">
																<span class="glyphicon fa fa-inbox"></span> Find file
															</label>
														</span>
													</div>
													
												</div>
											</div>
										</div>
										
										<div class="form-group" style="display:none;">
											<label for="">Status <span class="text-danger">*</span></label><br/>
											<div class="btn-group btnrounded">
												<label class="btn btn-default" ng-model="facility.facility_status" uib-btn-radio="1">Active</label>
												<label class="btn btn-default" ng-model="facility.facility_status" uib-btn-radio="0">Inactive</label>
											</div>
										</div>	
										<input type="hidden" ng-model="facility.facility_status" ng-value="1"/>
										<div class="form-group row legend">
											<div class="col-md-12">
												<p></p>
												<button back-button="" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Cancel</button>
												<button type="submit" ng-click="edit_facility(facility,editfacility);" class="btn btn-default btn-rounded btn-ef btn-ef-6 btn-ef-6a">Save</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<script>
	function HandleInputTypeFilechange() {
            var fileinput = document.getElementById("profilePicAddUpdate");
            var textinput = document.getElementById("profilePicFileName");
            textinput.value = fileinput.value;
            
        };
</script>
