<div class="page page-profile">
	<div class="pageheader backpage">		
		<a href back-button><i class="fa fa-arrow-left"></i> Back</a>
		<div class="facility-view elika-facility-name"></div>
	</div>
	
	<div class="pagecontent">
		<div class="row">		
			<div class="dnone card-container col-sm-3 col-md-3">
				<div class="card">
					<div class="bg-dashboard">
						<div class="bg-transparent">
							<div class="row">
								<div class="col-md-12">
									<h3 class="custom-font">{{page.title}}</h3>
									<p>{{page.subtitle}}</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<flip-header></flip-header>			
		</div>
		
		<div ng-if="result">									
			<div layout="row" ng-class="statusclass">									
				{{result}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<section class="tile tile-simple">
					<div class="leftdetail tile-widget p-30 text-center">
						<div class="thumb thumb-xxll mb-20">
							<img class="img-circle" src="images/facility/1.jpg" alt="">
						</div>
						<h3 class="mb-10"><strong>{{facility.facility_name}}</strong></h3>
						<span class="text-muted">{{facility.facility_location}}</span>
						<div class="mt-40">
							<a ui-sref="app.admin.facility.edit-facility({facility_id:facility.facility_id})" class="btn btn-rounded-20 btn-sm btn-greensea">Edit Facility</a>
							<button ng-click="showConfirm($event,facility.facility_id)" class="btn btn-rounded-20 btn-sm bg-danger ml-5">Delete facility</button>
						</div>
					</div> 
					<div class="tile-body text-center p-0"> 
						<ul class="list-inline tbox m-0">
							<li class="tcol bg-blue dker p-10">
								<a ui-sref="app.admin.device.devices">
									<h2 class="m-0">{{facility.facility_device_count|emptyVal}}</h2>
									<span class="text-transparent-white">Devices</span>
								</a>
							</li>
							<li class="tcol bg-blue dk p-10">
								<a ui-sref="app.admin.user.users">
									<h2 class="m-0">{{facility.facility_user_count|emptyVal}}</h2>
									<span class="text-transparent-white">Users</span>
								</a>
							</li>
							<li class="tcol bg-blue bg p-10">
								<a ui-sref="app.admin.door.doors">
									<h2 class="m-0">{{facility.facility_Door_count|emptyVal}}</h2>
									<span class="text-transparent-white">Doors</span>
								</a>
							</li>
						</ul>
					</div>  
				</section>
			</div>
			
			<div class="col-sm-12 col-md-8"> 
				<section class="tile tile-simple"> 
					<div class="tile-body p-0"> 
						<div class="tile-header dvd dvd-btm">
							<h1 class="h1head">Facility Details</h1>
						</div>
						<div class="hometabs">
							<div class="wrap-reset m-0 pt-20">
								<div class="form-group profiledetail">
									<p><label>Name</label> {{facility.facility_name}}</p>
									<p><label>Location</label> {{facility.facility_location}}</p>
									<p><label>Time Zone</label> {{facility.facility_timezone}}</p>
									<p><label>Zip Code</label> {{facility.facility_zipcode}}</p>
									<p><label>Status</label> {{facility.facility_status | facilityStatus}}</p>
									<p><label>Device</label> {{facility.facility_device_count|emptyVal}}</p>
									<p><label>Users</label> {{facility.facility_user_count|emptyVal}}</p>
									<p><label>Doors</label> {{facility.facility_Door_count|emptyVal}}</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
