@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:300,700|Ubuntu+Mono|Lato:300,400,700,300italic,400italic&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }
.ff-rc {  font-family: 'Roboto Condensed', sans-serif; }
.pos-r { position: relative; }
.f-wm { font-weight: 500; }
.hovershadow { transition: 0.75s; }
.hovershadow:hover { box-shadow: 0 5px 15px rgba(0,0,0,0.25); }
textarea.form-control { height: 75px; }
.profilephoto { position: relative; overflow: hidden; }
.profilephoto #profilep-2 { font-size: 13px; position: absolute; left: -75px; top: 0; padding: 8px 0px; width: 101%; background-color: #eee; }
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .profilephoto #profilep-2 { left: -85px; }
}
.profilephoto .form-control  { background: transparent; }
.profilephoto .input-group-btn .btn { padding: 8px 12px; border: 1px solid #dbe0e2; }
.account .ng-valid-time .btn, .validtime .ng-valid-time .btn { padding: 8px 12px; border-radius:2px; margin-left: 2px; border-color: #dbe0e2; }
.btn-group.btnrounded > .btn { border-radius: 2px; padding: 8px 15px; width: auto; }
tr[ng-show="::showSpinners"] { display: none;}
.addpopup a.add { margin: 8px 8px 0 0 !important; padding: 10px 15px 8px !important; text-transform: uppercase; }
.addpopup a.add  i { font-size: 125% !important; line-height: 40px !important; background: #b3b3b3; color: #fff; }
.backpage a { font-size: 18px; }
.gridlistbar { display: block; text-align: right; margin: 3px 0 0;}
.gridlistbar a { background:#f9f9f9; color:#888888; width:32px; height:32px; display:inline-block; text-decoration:none !important; margin-left:5px; border-radius:2px; text-align: center; line-height: 32px; border: 1px solid #c2c2c2; font-size: 14px; }
.gridlistbar a.active{ background:#3c8719; border: 1px solid #3c8719; color: #ffffff; }
md-content { background: transparent; }
.pull-left { float: left; }
.close.displayblock { display: block !important; }
.modal-lg { width: 1140px !important; }
.small, small { font-size: 11px !important; font-weight: 400;}
/*#header .branding, #sidebar { width: 200px; }
.appWrapper.header-fixed.aside-fixed #content { left: 200px; }*/
#header .dropdown > .dropdown-menu  { margin-top: -1px; }
.nav-profile.open .dropdown-menu { right: 10px; left: auto; }
.pageheader h2 { font-size: 24px; font-weight: 600; text-transform: capitalize; }
.logo-login { background: url(../images/logo.png) top center no-repeat; background-size: contain; width: 100%; height: 54px;}
.login-box-shadow, .box-shadow { box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
.login-h2 { font-size: 18px; font-weight: 600; color: #333333; margin: 0;  }
.overflow { overflow: hidden; }
.easypiechart .pie { display: inline-block; line-height: 100%; font-size: 20px; font-weight: 600; color: #444444; }
.customhead { display: block; line-height: 20px; font-size: 16px; font-weight: 600; margin-top: 20px; color: #444444; }

.hometabs md-content.tabsdemoDynamicHeight md-tabs { background: transparent; border: 0px solid #e1e1e1; }
.hometabs md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused { color: #fff; background: #3c8719; max-width: none !important; }
.hometabs md-tabs[md-border-bottom] md-tabs-wrapper { border-width: 0px; }
.hometabs md-tabs md-ink-bar { display: none; }
.hometabs .md-tab { padding: 7px 16px; text-transform: capitalize; border: 1px solid #3c8719; font-weight: 400; color: #333; background: #f9f9f9; border-radius: 3px; margin-right: 5px; max-width: none !important; }
.hometabs .mapview { width:100%; height:500px; }

.notification .list-group { margin-bottom: 0px; }
.notification .list-group-item { margin-bottom: 0; border:0 none; padding: 9px 0px 8px; border-bottom: 1px solid #ddd; }
.notification .list-group-item a { color: #666666; display: block; }
.notification .list-group-item a:hover { color: #3c8719; }
.notification .list-group-item a span.block { margin-top: -3px; margin-bottom: -3px; }
.notification .list-group-item a span.text-muted { font-style: italic; }
.notification .list-group-item:last-child { margin-bottom: 0; border-bottom: 0 none; padding-bottom: 3px; }
.notification .media .media-icon { width: 33px; height: 33px; line-height: 33px; font-size: 14px; }

.usergroups .tabs-dark .nav-tabs { background-color: rgba(255, 255, 255, 0.2); }
.usergroups .tabs-dark .nav-tabs > li.active > a, .usergroups .tabs-dark .nav-tabs > li.active > a:hover, .usergroups .tabs-dark .nav-tabs > li.active > a:focus { background-color: rgba(0, 0, 0, 0.1); box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2); }
.usergroups .nav-tabs > li.active:after { border-top: 4px solid rgba(0, 0, 0, 0.2); }
.usergroups .tabs-dark .nav-tabs > li > a:hover { background-color: rgba(0, 0, 0, 0.1); }
.usergroups .text-lightred { color: #d5d5d5; }

.slavevalues { float: right; width: 46.75%; }



.account, .credintials, .usergroup { margin-top: 15px; }
.account .first { padding: 0 5px 0 0;}
.account .last { padding: 0 0 0 5px; position: static; }
.account .bootstrap-filestyle .btn { padding: 8px 12px; }

.hometabs .md-tab {pointer-events: none;opacity: 0.5;}
.hometabs .md-tab.md-active {pointer-events: visible;opacity: 1;}

/*.ng-isolate-scope {pointer-events: none;opacity: 0.5;}*/

.credintials .first { padding: 0 5px 0 0;}
.credintials .last { padding: 0 0 0 5px; }
.credintials .first label { line-height: 38px; display: block; font-weight: 600; }
.credintials .last .status { margin-bottom: 10px; }
.credintials .widget-todo form .form-control { height: 38px; margin-bottom: 0; }
.credintials .addphone { margin-top: -38px; float: right; background: #3c8719; height: 38px; padding: 10px 12px; border-radius: 0 3px 3px 0; z-index: 99999; color: #ffffff; }
.credintials .widget-todo .todo-list > li.editing .edit { margin-top: 1px; }
.credintials .widget-todo .todo-list .view { padding: 6px 12px; }

.usergroup .tile .tile-header { padding: 0; margin-bottom: 20px; }
.usergroup .tile .tile-header .controls { position: relative; float: right; }
.usergroup .tile .tile-header .controls > li { float: none; }
.usergroup .tile .tile-header .addpopup a.add { line-height: normal; margin: 0 !important; min-width: auto; font-size: 12px; padding: 8px 8px 7px !important; border-radius: 3px; }
.usergroup  .tile .tile-header .addpopup a.add  i { line-height: 30px !important; }

.editaddphone .widget-todo form .form-control { height: 38px; margin-bottom: 0; }
.editaddphone .addphone { margin-top: -38px; float: right; background: #3c8719; height: 38px; padding: 10px 12px; border-radius: 0 3px 3px 0; z-index: 99999; color: #ffffff; }
.editaddphone .widget-todo .todo-list > li.editing .edit { margin-top: 1px; }
.editaddphone .widget-todo .todo-list .view { padding: 6px 12px; }

.profiledetail p label { width: 150px; }
.deviceactiondrop { display: inline-block; padding: 0 15px; font-size: 18px; }
.tile-simple .text-muted { display: block; margin: 10px 0; }
.btn-group.btnrounded.calldays > .btn { padding: 8px 14.25px; }

table.dstatus tr td.online { color: #3c8719; }
table.dstatus tr td.offline { color: #c9302c;  }
table.dstatus tr td.online i, table.dstatus tr td.offline i { font-size: 14px; margin-right: 5px; } 

a.serplan { color: #4a555b; cursor: pointer; display: block; padding: 5px 15px; }
a.serplan:hover, a.serplan:focus { color: #262626; text-decoration: none; background-color: #f5f5f5 }


.profile-settings h4 { font-size: 18px; margin: 0 0 20px; border-bottom: 1px dotted #cacaca; padding-bottom: 10px; }

/******* CSS For Dashboard **********/
.appWrapper.header-fixed.sidebar-sm #content { left: 0px !important; }

.card-container .card .bg-dashboard { background: url(../images/dashboard.jpg) right bottom no-repeat; padding: 0px; height: 170px; background-size: cover; }
.page-dashboard .card-container .card .bg-dashboard  { height: 370px; } 

.card-container .card .bg-dashboard .bg-transparent { background: url(../images/linear_gradient.png) top left repeat-x; width: 100%; height: 100%; padding: 28px; position: relative; cursor: default; background-size: contain; }
.card-container .card .bg-dashboard .bg-transparent h3 { margin: 0; background: rgba(0,147,255,0.85) !important; display: inline-block; padding: 12px 10px 10px; color: #fff; border-radius: 3px; font-size: 18px; color: #fff !important; font-family: 'roboto condensed', sans-serif; text-transform: uppercase; letter-spacing: 0.5px; font-weight: 400; }
.card-container .card .bg-dashboard .bg-transparent h3.h3link { padding: 0; }
.card-container .card .bg-dashboard .bg-transparent h3.h3link a { padding: 12px 10px 10px; display: block; border-radius: 3px; }
.card-container .card .bg-dashboard .bg-transparent h3.h3link a:hover { background: rgba(255,255,255,1) !important; color: rgba(0,147,255,0.85) !important; }
.card-container .card .bg-dashboard .bg-transparent p { margin: 20px 0 5px; font-size: 16px; color: #fff; }
.card-container .card .bg-dashboard .bg-transparent .realtimeloader { position: absolute; left: 0; bottom: 0; width: 100.10%; opacity:0.5; }

.card-container .card { margin-bottom: 30px; }
.card-container .card .front, .card-container .card .noback { padding: 48px 25px 47px; }
.card-container .card .back > .row > div a { padding: 60px 10px 44px; display: block; font-size: 17px; }
.tcol a h3 { font-family: 'Roboto Condensed', sans-serif; color: #616f77; font-size: 18px; font-weight: 600; }
.tcol a:hover h3 , .page-dashboard .tcol:hover a h3 { color: #3c8719 !important; }



.glview { margin: 0 -12px; }
.glview md-card { margin: 0 12px 25px; width: 300px; padding: 15px; vertical-align: top; float: left; display: inline-block; border: 1px solid #e2e2e2; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); transition: 0.5s; background: #fefefe; position: relative; }
.glview md-card.slaveusers { width: 260px; }

.glview md-card:hover { box-shadow: 0 8px 5px rgba(0,0,0,0.15); }
.glview md-card .md-card-image { width: 100px; height: 100px; border-radius: 50%; margin: 15px auto 0; display: block; box-shadow: 0 0px 8px rgba(0,0,0,0.25); background:#ffffff; } 
.glview md-card md-card-content { padding: 0; text-align: center; }
.glview md-card md-card-content .md-title { font-size: 16px; }
.glview md-card md-card-content p { font-size: 14px; color: #888888; margin: 0 0 10px; overflow: hidden; height: 22px; }
.glview md-card .md-actions a { padding: 6px 14px; font-size: 14px; text-transform: capitalize; display: block; margin: 10px 5px 0; font-weight: 600; }
.glview md-card .facilityname { position: absolute; left: 0; top: 0; background: #e2e2e2; padding: 3px 10px; font-size: 13px; color: #252525; border-radius: 0 0 5px 0; }
.glview md-card .facilityname a { font-weight: 500; }

.listview .glview { padding: 0 12px; }
.listview .glview md-card { margin: 0 0 15px; width: 100%; padding: 0; float: none; border: 0; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); transition: 0.5s; background: #fefefe; overflow: hidden; border-bottom: 1px solid #f6f6f6;  padding-bottom: 15px; }
.listview .glview md-card:last-child { border-bottom: 0 none; }
.listview .glview md-card .md-card-image { width: 125px; height: 125px; border-radius: 0; margin: 0px 15px 0 0; box-shadow: 0 0 0px rgba(0,0,0,0); float: left; border: 1px solid #d5d5d5; padding: 5px; background: #f9f9f9; }
.listview .glview md-card md-card-content { float: none; display: inline-block; width: auto !important; vertical-align: top; text-align: left; }
.listview .glview md-card md-card-content p { margin: 0; }
.listview .glview md-card.slaveusers md-card-content { width: 80%; }
.listview .glview md-card .md-actions { position: absolute; right: 0; bottom: 15px; } 
.listview .glview md-card .md-actions a { margin: 0 0 0 10px; }
.listview .glview md-card md-card-content .md-title { margin-top: 0; }
.listview .glview md-card .facilityname { border-radius: 0; position: relative; float: right; margin-bottom: -26px; background: transparent;}

.filterorder  label > a { position: relative;
    color: #616f77;
    padding-right: 15px;
    border-right: 1px solid #e5e5e5;
    margin-right: 10px;}
.filterorder a:hover { color:#3c8719 }
.filterorder a .hideshowfilter {     opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
.filterfields {
    position: absolute;
    top: 100%;
    left: 15px;
	right: 15px;
    z-index: 99999;
    padding: 15px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.filterfields:before {
    content: "";
    position: absolute;
    left: 12px;
    top: -10px;
    height: 0;
    width: 0;
    border-bottom: 9px solid rgba(0, 0, 0, 0.15);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.filterfields:after {
    content: "";
    position: absolute;
    left: 13px;
    top: -8px;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.filterfields label { font-weight: 600; }

.devicename { position: absolute; left: 0; top: 0; background: #e2e2e2; padding: 5px 15px; font-size: 14px; color: #252525; border-radius: 0 0 5px 0; font-weight: 500; }

.glview md-card .md-card-image.img100percent {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    display: block;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25);
    background: #ffffff;
}

.btn.addpost { position: absolute;
        right: 1px;
    top: 1px;
    padding: 8px 12px 5px; }
	
	.headmenu a { color: #666666; }
	
.cameradvr .tabs-menu > li > a { line-height: 0; padding: 10px !important; overflow: hidden; position: relative; }
.cameradvr .tabs-menu > li > a span.devicecamname { width: 100%;
    z-index: 999;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(0,0,0,0.75);
    padding: 5px 10px 3px;
    display: block;
transition: 0.75s;
color: #ffffff !important;
font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
}

.cameradvr .tabs-menu > li > a:hover span.devicecamname { bottom: 0; }

.cameradvr .tab-content .tab-pane { padding-top: 0px !important; }


.rvideos { width: 322px; margin: 0 15px 30px; float: left; }
.rvideos video { display: block; }
.rvideos span.devicecamname { width: 100%;
   
    background: rgba(0,0,0,0.1);
    padding: 7px 7px 5px;
    display: block;
transition: 0.75s;
color: #666666 !important;
font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
}

.messnoti li:nth-child(odd) {
	background: #f9f9f9;
}

.messnoti li .controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
}

.messnoti .media .media-icon {
	margin-top: 4px;
}

.filteritems {
	margin: 30px 15px 0px;
}

.filteritems .table tbody tr:nth-child(odd) {
	background: #f2f2f2 !important;
}

.howtovideo  .rvideos { width: 350px; }

.helpfaqs h4.hfhead {
font-size: 18px;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #cacaca;
    padding-bottom: 10px;
	    color: #3c8719;}
		
.search {
	position: relative;
}

.search .btn {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 8px 10px;
	}
.search .form-control:focus, .search .form-control:focus:hover, .search .form-control:hover { border-color: #cdd3d7; }

.filterorder { margin: 7px 0 0; }

.tcol a { display: block; }

.usergrouplist {overflow: hidden;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
	padding: 15px; }
	.groupslist {     height: 82%;
    overflow: hidden;
    overflow-y: auto;}
	
.groupslist ul, .groupslists ul  { margin: 0; list-style: none; padding: 0;  }
.groupslist ul li, .groupslists ul li { list-style: none; float: left;
    width: 50%; }
.groupslist ul li  label, .groupslists ul li  label { font-weight: 400; }



.cameradvr h4 { margin-bottom: 25px !important; }
 
span.error {
 font-size: 14px;
 color: #ff0000;
 line-height: 22px;
}